<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/bluedevil-6.0.5.1.tar.xz">bluedevil-6.0.5.1</a></td>
   <td align="right">361kB</td>
   <td><tt>66fce2d49f6ac716b551e3030f8ed3f71beec0428da1f99af7e959bc90f53ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/breeze-6.0.5.tar.xz">breeze-6.0.5</a></td>
   <td align="right">55MB</td>
   <td><tt>f249dd4464f4da6b681af5c4fd0e81178127294b2d441134f3b10e2703f57374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/breeze-grub-6.0.5.tar.xz">breeze-grub-6.0.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c3df8a60d498bf4598bc6c16d619a75717504673c1f50f581cdf9a678dbc7fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/breeze-gtk-6.0.5.tar.xz">breeze-gtk-6.0.5</a></td>
   <td align="right">39kB</td>
   <td><tt>51ecf56e75a29a9e4fdba706f4c284d96f98b0f18b0aa9d8664218c36d94b912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/breeze-plymouth-6.0.5.tar.xz">breeze-plymouth-6.0.5</a></td>
   <td align="right">108kB</td>
   <td><tt>fe1710fa86124ce0af10d1605cc375716d3f2cfe9a4fced7f4f4a0ea585806be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/discover-6.0.5.tar.xz">discover-6.0.5</a></td>
   <td align="right">978kB</td>
   <td><tt>944ca03fe131e0e92f795b32e4e7fc714c9a59fc18a4bbda9f50408d0c6af395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/drkonqi-6.0.5.tar.xz">drkonqi-6.0.5</a></td>
   <td align="right">853kB</td>
   <td><tt>1015f9ad734cc4e50b10ad2436a60661d74b0dec748725be908210333302985d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/flatpak-kcm-6.0.5.tar.xz">flatpak-kcm-6.0.5</a></td>
   <td align="right">233kB</td>
   <td><tt>741b946c07d0d4e509f8cf2969b231e5f371020d72fa276a6f7e6163cd270ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kactivitymanagerd-6.0.5.tar.xz">kactivitymanagerd-6.0.5</a></td>
   <td align="right">107kB</td>
   <td><tt>59ef968fa0990ed7aec6682bdbc8c51df1224a297934084c463060bc916fe09e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kde-cli-tools-6.0.5.tar.xz">kde-cli-tools-6.0.5</a></td>
   <td align="right">614kB</td>
   <td><tt>c0027ae04e691c692e1a8c0565d6779fb36ecb0d7af78f6663b9230f4581b28f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kde-gtk-config-6.0.5.tar.xz">kde-gtk-config-6.0.5</a></td>
   <td align="right">76kB</td>
   <td><tt>b422969f7b2277d83d7a9a66db99b999c03cb0ab4a5031e00b0ccdefba57ef83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kdecoration-6.0.5.tar.xz">kdecoration-6.0.5</a></td>
   <td align="right">53kB</td>
   <td><tt>0a3c5161c03e8ba103fc10966abbde298de98e25c945a24ae08a539a78670224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kdeplasma-addons-6.0.5.tar.xz">kdeplasma-addons-6.0.5</a></td>
   <td align="right">847kB</td>
   <td><tt>911af4754873c17c1ca7d49f0669de3e386858b09adf282783b9c5510576ba95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kgamma-6.0.5.tar.xz">kgamma-6.0.5</a></td>
   <td align="right">84kB</td>
   <td><tt>659deb646fda17038d4548698c7ac4b08c12660623b78d75437a606d6a7bad36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kglobalacceld-6.0.5.tar.xz">kglobalacceld-6.0.5</a></td>
   <td align="right">51kB</td>
   <td><tt>2c9b391c0e3f91bb8b320029c7b97fc8166658882106d1df9ad441600894fcae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kinfocenter-6.0.5.tar.xz">kinfocenter-6.0.5</a></td>
   <td align="right">814kB</td>
   <td><tt>bf4f2c627242d827867306c4e884796c7d5f8a7a2a29444a494c2acad5c88973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kmenuedit-6.0.5.tar.xz">kmenuedit-6.0.5</a></td>
   <td align="right">908kB</td>
   <td><tt>9aa1d39724cba1e7b8f6ded8c490acdfe11598ed368c28e9aa86572698e359f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kpipewire-6.0.5.tar.xz">kpipewire-6.0.5</a></td>
   <td align="right">141kB</td>
   <td><tt>4327da2435186e90653c870de73082a7e5fb61d13e06a517cb021f1d56b7d2d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kscreen-6.0.5.tar.xz">kscreen-6.0.5</a></td>
   <td align="right">198kB</td>
   <td><tt>eded8b558167d89a29a830a7bd3c7d692b365da529c7b6e59ebdadeb916a93f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kscreenlocker-6.0.5.tar.xz">kscreenlocker-6.0.5</a></td>
   <td align="right">161kB</td>
   <td><tt>5bb94a2a0d69cceb7ed4efcbf786b53388567d510a410fd9d01be913d2b163d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/ksshaskpass-6.0.5.tar.xz">ksshaskpass-6.0.5</a></td>
   <td align="right">28kB</td>
   <td><tt>6df0eeef43a041eb1a6d71ba524feac57fc1f48aeb44540366f12404cc4986bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/ksystemstats-6.0.5.tar.xz">ksystemstats-6.0.5</a></td>
   <td align="right">122kB</td>
   <td><tt>bdc6fa95c0b4dad9210c7a7734e1c233bc408f09fcaf4961ba709affa1fd4284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kwallet-pam-6.0.5.tar.xz">kwallet-pam-6.0.5</a></td>
   <td align="right">22kB</td>
   <td><tt>25c61128eaefb563e500547f650be293e75126ed5fc2fac574ef40cccbfd00db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kwayland-6.0.5.tar.xz">kwayland-6.0.5</a></td>
   <td align="right">130kB</td>
   <td><tt>a8b88411d2ad9497e27d6dbd95d647de5ebe6314561e7a8d935fd79b2fe7ae84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kwayland-integration-6.0.5.tar.xz">kwayland-integration-6.0.5</a></td>
   <td align="right">25kB</td>
   <td><tt>b16df4ad9851242a393874c2d535202973247ddba8be13fd9598be8616a9a045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kwin-6.0.5.tar.xz">kwin-6.0.5</a></td>
   <td align="right">8.4MB</td>
   <td><tt>242e7d210529ec631bc5fe3fe0a117a3d1d4edb1dd3a644aafd5089312f8b0d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/kwrited-6.0.5.tar.xz">kwrited-6.0.5</a></td>
   <td align="right">23kB</td>
   <td><tt>10ab68b6ad4aff7e39d5896074dbac10680d0df93f04acf2f2d15a3d857f4359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/layer-shell-qt-6.0.5.tar.xz">layer-shell-qt-6.0.5</a></td>
   <td align="right">20kB</td>
   <td><tt>bd6bf73dc79b561dd38c1fc78c373b2ef4b9df69d6a827e305d011109d91a2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/libkscreen-6.0.5.tar.xz">libkscreen-6.0.5</a></td>
   <td align="right">115kB</td>
   <td><tt>01a77569f372d354c172a23f2d4e0661701c024e44d972971b146735e16ae1d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/libksysguard-6.0.5.tar.xz">libksysguard-6.0.5</a></td>
   <td align="right">288kB</td>
   <td><tt>ca954f5bb57700bd14bae3233a82094ea69d32271cc3edd6d32bcf38db23e177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/libplasma-6.0.5.tar.xz">libplasma-6.0.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d35765c039901e739b014ff92640c6cd4a4d8524c26fe4d00bd134d16ab0ccd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/milou-6.0.5.tar.xz">milou-6.0.5</a></td>
   <td align="right">48kB</td>
   <td><tt>708e18b5b424985a167507e9b5934de93c65acaf2f524466312d09515eb842cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/ocean-sound-theme-6.0.5.tar.xz">ocean-sound-theme-6.0.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6015f3931a74134fdd7eef5c7c7592ef8b740fcc084d7726f8df993dc5289f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/oxygen-6.0.5.tar.xz">oxygen-6.0.5</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7e54372d6fdc6b7373d948d9489f3e94b457a6f22a8f00f6eade33cd83ce8022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/oxygen-sounds-6.0.5.tar.xz">oxygen-sounds-6.0.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6b34747abd6839017d0eacc1d52c85b526dbb678201fc4cc3719278671253952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-activities-6.0.5.tar.xz">plasma-activities-6.0.5</a></td>
   <td align="right">69kB</td>
   <td><tt>8811876bc690278ecd733b233ac45ea4fbb06bc1a62d9e17b9268aa4d05ea658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-activities-stats-6.0.5.tar.xz">plasma-activities-stats-6.0.5</a></td>
   <td align="right">81kB</td>
   <td><tt>d7aaaff97b1f0c3c941b134a33f77d95af095cbb1a64efe741d7afd15c987b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-browser-integration-6.0.5.tar.xz">plasma-browser-integration-6.0.5</a></td>
   <td align="right">214kB</td>
   <td><tt>30dce955e27aa7656c82758240adee98f27736096bc0f832a1d1034ccf3ee418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-desktop-6.0.5.tar.xz">plasma-desktop-6.0.5</a></td>
   <td align="right">14MB</td>
   <td><tt>5d9001baea32e35055337667f204e28f206ebccaa0a172e0f109426ba8042ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-disks-6.0.5.tar.xz">plasma-disks-6.0.5</a></td>
   <td align="right">97kB</td>
   <td><tt>321ec2f317704223997278ef4bf3b9cf012e2ffaec5a8d57e57feac6814e3ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-firewall-6.0.5.tar.xz">plasma-firewall-6.0.5</a></td>
   <td align="right">360kB</td>
   <td><tt>0b52e7413cc745d97bb16a38ac40612ffb7dc7e4323e156fa17d923425c4b30e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-integration-6.0.5.tar.xz">plasma-integration-6.0.5</a></td>
   <td align="right">90kB</td>
   <td><tt>7f81683ff8f8a6e23d5c98e9b3f3bc3d638abd4dcad4e40d27446c0029004ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-mobile-6.0.5.tar.xz">plasma-mobile-6.0.5</a></td>
   <td align="right">3.6MB</td>
   <td><tt>871d01b940ae30f1e3cf1b748d66a896e45ae3bdc6d6b1e875f28c9564f05694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-nano-6.0.5.tar.xz">plasma-nano-6.0.5</a></td>
   <td align="right">75kB</td>
   <td><tt>1787520548d9ba4c686a3c21baf33ba7176619e60e70e8cebeeca641c3c59601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-nm-6.0.5.tar.xz">plasma-nm-6.0.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2c52b75a961efd0b9fd9ef3a6ceb4f4bc539de9efadc3a0c008799d76f94f8e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-pa-6.0.5.tar.xz">plasma-pa-6.0.5</a></td>
   <td align="right">166kB</td>
   <td><tt>ecbf3bb40720809481cab6857e7c1b34368a139d1162b00cd46b2cc63cd9aac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-sdk-6.0.5.tar.xz">plasma-sdk-6.0.5</a></td>
   <td align="right">320kB</td>
   <td><tt>11e560922950310bdff5499f89b31613d4ebe07056ec5783b82602b0f9be8efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-systemmonitor-6.0.5.tar.xz">plasma-systemmonitor-6.0.5</a></td>
   <td align="right">177kB</td>
   <td><tt>662518e6dc763d19cbd878c145a3761a6a2e2765fd237278ffdd0a2a5253080b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-thunderbolt-6.0.5.tar.xz">plasma-thunderbolt-6.0.5</a></td>
   <td align="right">73kB</td>
   <td><tt>5997de33cef86b7b6c44adce6a2e1d3bb536c7d7aa43e1e350dd0ebf77cb6658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-vault-6.0.5.tar.xz">plasma-vault-6.0.5</a></td>
   <td align="right">188kB</td>
   <td><tt>2fe3cc73f7bef4d4c6476ea0cfd32e325d5b871fdfcff5c1141f203dde0be94d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-welcome-6.0.5.tar.xz">plasma-welcome-6.0.5</a></td>
   <td align="right">887kB</td>
   <td><tt>5c28632650dca030fd9a9365dbc56fe0898e6d4863c24625ad6e503c1cc23ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-workspace-6.0.5.tar.xz">plasma-workspace-6.0.5</a></td>
   <td align="right">19MB</td>
   <td><tt>c54d2d5adf5eb2feef7092b9217f1ed59c98e369f9b5d7b12dd77365f4eb7ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma-workspace-wallpapers-6.0.5.tar.xz">plasma-workspace-wallpapers-6.0.5</a></td>
   <td align="right">104MB</td>
   <td><tt>7eab4d34735edffa1222b2b55fd2448d7f6235e45e00a1bf9a9450d736b53bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plasma5support-6.0.5.tar.xz">plasma5support-6.0.5</a></td>
   <td align="right">54kB</td>
   <td><tt>8a811e7dba1c30ae2628934c4da91d2dfa42dc932286e97dac8970646287b87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/plymouth-kcm-6.0.5.tar.xz">plymouth-kcm-6.0.5</a></td>
   <td align="right">45kB</td>
   <td><tt>bde5b2d0e3018efda8078e32aea374753b4e2517714c99149e5f98d046f126ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/polkit-kde-agent-1-6.0.5.tar.xz">polkit-kde-agent-1-6.0.5</a></td>
   <td align="right">55kB</td>
   <td><tt>72cfa367fdd46b2c9176e47cd1307f2ea71c0207f2e3dccf06d292dce4d448a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/powerdevil-6.0.5.tar.xz">powerdevil-6.0.5</a></td>
   <td align="right">781kB</td>
   <td><tt>27f995bce6f27e35b78e0c232f8dee8fba50fb91d7b3afd117583bdb79a12fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/print-manager-6.0.5.tar.xz">print-manager-6.0.5</a></td>
   <td align="right">332kB</td>
   <td><tt>57ac21ff34da2c8c66f47878de2c04d2ea05395f2977fc96c51deeb04733a337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/qqc2-breeze-style-6.0.5.tar.xz">qqc2-breeze-style-6.0.5</a></td>
   <td align="right">64kB</td>
   <td><tt>d4fcc59646a066fd392a9ed8657189eec677e72249c8a4e7247ed89abc474496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/sddm-kcm-6.0.5.tar.xz">sddm-kcm-6.0.5</a></td>
   <td align="right">95kB</td>
   <td><tt>86e59d36b483fa2ef48d85031c6f18f28687bd0ee8b42384b0ae26c014b2c028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/systemsettings-6.0.5.tar.xz">systemsettings-6.0.5</a></td>
   <td align="right">214kB</td>
   <td><tt>b722ba21fabd8cd27e2371a83e33a9a4e1403257d454b3f01c6fa46c2874cf93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/wacomtablet-6.0.5.tar.xz">wacomtablet-6.0.5</a></td>
   <td align="right">806kB</td>
   <td><tt>37cf9d34775178ca223e6d9b33e8aac119913ba11316f4bc226924e253970caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.5/xdg-desktop-portal-kde-6.0.5.tar.xz">xdg-desktop-portal-kde-6.0.5</a></td>
   <td align="right">160kB</td>
   <td><tt>00bdf442d37b3080abfd2958425dd724a3a5019d50dfd7cb319e5160b27a6b05</tt></td>
</tr>

</table>
