
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/attica-5.60.0.tar.xz">attica-5.60.0</a></td>
   <td align="right">61kB</td>
   <td><tt>16800cf6ca43d7d9b90885b0def69429dd021c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/baloo-5.60.0.tar.xz">baloo-5.60.0</a></td>
   <td align="right">261kB</td>
   <td><tt>9325cbe30cc327f4d42fea65a8607509771ae059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/bluez-qt-5.60.0.tar.xz">bluez-qt-5.60.0</a></td>
   <td align="right">96kB</td>
   <td><tt>028888732ac49a3119360200cddf41c1deeced6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/breeze-icons-5.60.0.tar.xz">breeze-icons-5.60.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ac640b18be3295e520a8b5d32f2053e431abe583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/extra-cmake-modules-5.60.0.tar.xz">extra-cmake-modules-5.60.0</a></td>
   <td align="right">318kB</td>
   <td><tt>8eab2c7279088ace2ff9dcbac041624b68a98887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/frameworkintegration-5.60.0.tar.xz">frameworkintegration-5.60.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8552fdd236d0839f8a1708005ae37500ab3d19c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kactivities-5.60.0.tar.xz">kactivities-5.60.0</a></td>
   <td align="right">59kB</td>
   <td><tt>8701a213990203af83b3154fb1a9bfbc5a2690b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kactivities-stats-5.60.0.tar.xz">kactivities-stats-5.60.0</a></td>
   <td align="right">59kB</td>
   <td><tt>a72e61de6fd6a893c4bac681e326853c026decb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kapidox-5.60.0.tar.xz">kapidox-5.60.0</a></td>
   <td align="right">387kB</td>
   <td><tt>de4564208247e57263bc56b07faf8bca5c87caf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/karchive-5.60.0.tar.xz">karchive-5.60.0</a></td>
   <td align="right">448kB</td>
   <td><tt>5bad737d5507da40a1df1b0d85167d4418caa3f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kauth-5.60.0.tar.xz">kauth-5.60.0</a></td>
   <td align="right">83kB</td>
   <td><tt>b85247395b3a41b2cf7874371e00c1459ac316fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kbookmarks-5.60.0.tar.xz">kbookmarks-5.60.0</a></td>
   <td align="right">117kB</td>
   <td><tt>6053c07547fee2b39f9ce4c3c21beb3618d820be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kcmutils-5.60.0.tar.xz">kcmutils-5.60.0</a></td>
   <td align="right">231kB</td>
   <td><tt>3a9a7c6d81126a9b6261696eec32e4bd6f1f66f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kcodecs-5.60.0.tar.xz">kcodecs-5.60.0</a></td>
   <td align="right">215kB</td>
   <td><tt>4908c1f58715cc0500dbcaab8d0c3020ffaaea6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kcompletion-5.60.0.tar.xz">kcompletion-5.60.0</a></td>
   <td align="right">113kB</td>
   <td><tt>293bf6f0d7b2497c024dc17445599b90ea4780e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kconfig-5.60.0.tar.xz">kconfig-5.60.0</a></td>
   <td align="right">234kB</td>
   <td><tt>8abbebd01e452c31e376bd2dd04ece0d096d3470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kconfigwidgets-5.60.0.tar.xz">kconfigwidgets-5.60.0</a></td>
   <td align="right">367kB</td>
   <td><tt>a15360d5a8d16e341264d3e37d9adf55ae839ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kcoreaddons-5.60.0.tar.xz">kcoreaddons-5.60.0</a></td>
   <td align="right">358kB</td>
   <td><tt>2bcbb68338415fc1ad3aaa22c1174b8e7e63d7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kcrash-5.60.0.tar.xz">kcrash-5.60.0</a></td>
   <td align="right">22kB</td>
   <td><tt>fe9b5abd70c81b6a5ca861ebe16ef530db1d14f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kdbusaddons-5.60.0.tar.xz">kdbusaddons-5.60.0</a></td>
   <td align="right">36kB</td>
   <td><tt>bbd0bda5abba0e0b7f4e80be1d9b57229d80f1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kdeclarative-5.60.0.tar.xz">kdeclarative-5.60.0</a></td>
   <td align="right">169kB</td>
   <td><tt>40981582f41c7bd1f48fb0142ab7b7ef5cdbd962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kded-5.60.0.tar.xz">kded-5.60.0</a></td>
   <td align="right">37kB</td>
   <td><tt>b672a3aba28ad64d680176aad4153b205e6f54fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kdesignerplugin-5.60.0.tar.xz">kdesignerplugin-5.60.0</a></td>
   <td align="right">88kB</td>
   <td><tt>927651ee7531f7f903f05d99744bceb4b79d3280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kdesu-5.60.0.tar.xz">kdesu-5.60.0</a></td>
   <td align="right">45kB</td>
   <td><tt>d8298af7a36c95b8618d1aae369b345e70805f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kdnssd-5.60.0.tar.xz">kdnssd-5.60.0</a></td>
   <td align="right">56kB</td>
   <td><tt>f5747b43dd892e7135055aba7fa7438cb2cc498f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kdoctools-5.60.0.tar.xz">kdoctools-5.60.0</a></td>
   <td align="right">416kB</td>
   <td><tt>cfa63281770aa0ee6e15ca959711f23761643a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kemoticons-5.60.0.tar.xz">kemoticons-5.60.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c6ae50900efc3c5e591104991535eb0f9023c017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kfilemetadata-5.60.0.tar.xz">kfilemetadata-5.60.0</a></td>
   <td align="right">405kB</td>
   <td><tt>41ed8498bf9f25d8cad825944fc714445afa8351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kglobalaccel-5.60.0.tar.xz">kglobalaccel-5.60.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b94e990ff658b7e16431d10389d8f49b913912cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kguiaddons-5.60.0.tar.xz">kguiaddons-5.60.0</a></td>
   <td align="right">39kB</td>
   <td><tt>04e00126e7de37895a262d261699f250ad2ecb21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kholidays-5.60.0.tar.xz">kholidays-5.60.0</a></td>
   <td align="right">200kB</td>
   <td><tt>8891d82af6a247247cab0a4160ed12d4e07f783a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/ki18n-5.60.0.tar.xz">ki18n-5.60.0</a></td>
   <td align="right">574kB</td>
   <td><tt>194a11d1b29090a654b81acd0b8f34bcfa7ad450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kiconthemes-5.60.0.tar.xz">kiconthemes-5.60.0</a></td>
   <td align="right">202kB</td>
   <td><tt>1efa163ba95095feb964af1ec27c4bb9fe528699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kidletime-5.60.0.tar.xz">kidletime-5.60.0</a></td>
   <td align="right">26kB</td>
   <td><tt>7ff85b9223bff49529920486dfb63018001fb614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kimageformats-5.60.0.tar.xz">kimageformats-5.60.0</a></td>
   <td align="right">199kB</td>
   <td><tt>3c4550789e18577d8df184821d0a8aa265ad6225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kinit-5.60.0.tar.xz">kinit-5.60.0</a></td>
   <td align="right">117kB</td>
   <td><tt>a5430dc0c9909cd4b01ceb50c6c7ba9dfe2bb7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kio-5.60.0.tar.xz">kio-5.60.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>3a8ff926b12aa7ba713bc6d299ca3938c32d2fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kirigami2-5.60.0.tar.xz">kirigami2-5.60.0</a></td>
   <td align="right">138kB</td>
   <td><tt>c148cd46090f09cb20f46266369b7a6d421aa262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kitemmodels-5.60.0.tar.xz">kitemmodels-5.60.0</a></td>
   <td align="right">380kB</td>
   <td><tt>33186477bb33dcee61d5df91c1d70c10906c999e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kitemviews-5.60.0.tar.xz">kitemviews-5.60.0</a></td>
   <td align="right">73kB</td>
   <td><tt>87fabadeeac4074d14a2ae9606978a89dd26d2b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kjobwidgets-5.60.0.tar.xz">kjobwidgets-5.60.0</a></td>
   <td align="right">85kB</td>
   <td><tt>66c5c24df2322464cc579147ddd037f9b5f1edd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/knewstuff-5.60.0.tar.xz">knewstuff-5.60.0</a></td>
   <td align="right">987kB</td>
   <td><tt>0313c0904ac53119230c143154c9a11a06938eef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/knotifications-5.60.0.tar.xz">knotifications-5.60.0</a></td>
   <td align="right">111kB</td>
   <td><tt>4eefe2dbd629ae571805ead9287f084921f58626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/knotifyconfig-5.60.0.tar.xz">knotifyconfig-5.60.0</a></td>
   <td align="right">82kB</td>
   <td><tt>df915570c871b5de283ddc36a56c03c0ef6dae80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kpackage-5.60.0.tar.xz">kpackage-5.60.0</a></td>
   <td align="right">129kB</td>
   <td><tt>32db1921c75c2edaf23df41a2a50be49a9795e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kparts-5.60.0.tar.xz">kparts-5.60.0</a></td>
   <td align="right">172kB</td>
   <td><tt>2cc11abbc0b681f70b1fb6f6886c967722cf998c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kpeople-5.60.0.tar.xz">kpeople-5.60.0</a></td>
   <td align="right">59kB</td>
   <td><tt>b857290a3fc2f11695de7cf73b4dc74b22d9c645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kplotting-5.60.0.tar.xz">kplotting-5.60.0</a></td>
   <td align="right">29kB</td>
   <td><tt>21256067690ce88fae2c32d3bdc597340415d5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kpty-5.60.0.tar.xz">kpty-5.60.0</a></td>
   <td align="right">56kB</td>
   <td><tt>603b22762b4d04524bcb69b629d86470ed4095ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/krunner-5.60.0.tar.xz">krunner-5.60.0</a></td>
   <td align="right">60kB</td>
   <td><tt>28e814e679253a54962f97dffedf0f4755a9bf4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kservice-5.60.0.tar.xz">kservice-5.60.0</a></td>
   <td align="right">245kB</td>
   <td><tt>20d5aacf365b8da038861c739a2ca786a1bd6ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/ktexteditor-5.60.0.tar.xz">ktexteditor-5.60.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b5150130545504c5b9e654df2411457f0faaae26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/ktextwidgets-5.60.0.tar.xz">ktextwidgets-5.60.0</a></td>
   <td align="right">300kB</td>
   <td><tt>b692df190e7b525679c034d443839141ed5383d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kunitconversion-5.60.0.tar.xz">kunitconversion-5.60.0</a></td>
   <td align="right">748kB</td>
   <td><tt>df817b9edec21be141bc95f954bf32a5d6c8faf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kwallet-5.60.0.tar.xz">kwallet-5.60.0</a></td>
   <td align="right">301kB</td>
   <td><tt>e01338c74ce95d4b58556b09a73aff64d58a1ed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kwayland-5.60.0.tar.xz">kwayland-5.60.0</a></td>
   <td align="right">336kB</td>
   <td><tt>334997f196f0620cc8bb153f98a2974d112775cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kwidgetsaddons-5.60.0.tar.xz">kwidgetsaddons-5.60.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f7f78f7d2745f4bab968f9a6b1c76a4bcffe1113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kwindowsystem-5.60.0.tar.xz">kwindowsystem-5.60.0</a></td>
   <td align="right">167kB</td>
   <td><tt>e95d8b3ee1cbd3efef79795ecc765128b9dde17c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kxmlgui-5.60.0.tar.xz">kxmlgui-5.60.0</a></td>
   <td align="right">850kB</td>
   <td><tt>24be2826eabe67a840fa52be428d394cd21a9b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/kxmlrpcclient-5.60.0.tar.xz">kxmlrpcclient-5.60.0</a></td>
   <td align="right">28kB</td>
   <td><tt>7825fff0e7528d842c0012b1c20a0b8cdb0d2175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/modemmanager-qt-5.60.0.tar.xz">modemmanager-qt-5.60.0</a></td>
   <td align="right">99kB</td>
   <td><tt>26a774a41222f02aedcaae4579a5ce7ade732a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/networkmanager-qt-5.60.0.tar.xz">networkmanager-qt-5.60.0</a></td>
   <td align="right">180kB</td>
   <td><tt>df3450beb1abe1637945ff763bc21fc66585feba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/oxygen-icons5-5.60.0.tar.xz">oxygen-icons5-5.60.0</a></td>
   <td align="right">226MB</td>
   <td><tt>fb3893edf075d93aa96d9ac126edb3eba7c11bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/plasma-framework-5.60.0.tar.xz">plasma-framework-5.60.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b1fcf4fca9845e9eb144ab1de2bd1c48cf6ebcf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/prison-5.60.0.tar.xz">prison-5.60.0</a></td>
   <td align="right">41kB</td>
   <td><tt>a18e4f2f2f5e5518ce7302f6c50af24d8cf1deb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/purpose-5.60.0.tar.xz">purpose-5.60.0</a></td>
   <td align="right">144kB</td>
   <td><tt>f481ec635b58638d8974e21d65e47d9f6defeab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/qqc2-desktop-style-5.60.0.tar.xz">qqc2-desktop-style-5.60.0</a></td>
   <td align="right">43kB</td>
   <td><tt>88d7b199f846e78e52f62f07e52ee4cda83a90b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/solid-5.60.0.tar.xz">solid-5.60.0</a></td>
   <td align="right">255kB</td>
   <td><tt>1e1898f9907cbaaab4547f13c90e963da9c98e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/sonnet-5.60.0.tar.xz">sonnet-5.60.0</a></td>
   <td align="right">280kB</td>
   <td><tt>fb350dfbea7d15ac1f7990a4c53f32ee6c26aa3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/syndication-5.60.0.tar.xz">syndication-5.60.0</a></td>
   <td align="right">155kB</td>
   <td><tt>c9eb714ec5282c14ae11b4bed14dab55bca9c88d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/syntax-highlighting-5.60.0.tar.xz">syntax-highlighting-5.60.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0e2cbdaf85930ae8fe1637c2d9d39d4c7572e773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.60/threadweaver-5.60.0.tar.xz">threadweaver-5.60.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f31937c20f8e6cfeda0df65e3c418029ec47fc5d</tt></td>
</tr>

</table>
