<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/bluedevil-5.8.4.tar.xz">bluedevil-5.8.4</a></td>
   <td align="right">139kB</td>
   <td><tt>d891104e08ab2646cfbb10859ea2f4e0374895e645e0400a46249153ca7089b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/breeze-5.8.4.tar.xz">breeze-5.8.4</a></td>
   <td align="right">31MB</td>
   <td><tt>dc27a3629beb6b4aa04380421110ea4f28131bea10febf25a7f11ee753deb44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/breeze-grub-5.8.4.tar.xz">breeze-grub-5.8.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9589c394efa1076646e56992152019de76b8c53b7b19561145a6d4a7066fdaeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/breeze-gtk-5.8.4.tar.xz">breeze-gtk-5.8.4</a></td>
   <td align="right">206kB</td>
   <td><tt>0a2cb4bfa9745af9ce74d5e9708188de0f2e86c48cb3147bd77930163b85f088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/breeze-plymouth-5.8.4.tar.xz">breeze-plymouth-5.8.4</a></td>
   <td align="right">92kB</td>
   <td><tt>72b669fd4e440b12d4f76f6ee925bf235e0b1fb7d83b1b56f4e5c0e7998d4d53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/discover-5.8.4.tar.xz">discover-5.8.4</a></td>
   <td align="right">8.7MB</td>
   <td><tt>dda1d0249dedc559cd2b659ecce14dab46a8240bc5e8d49069e97bccc09c7cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kactivitymanagerd-5.8.4.tar.xz">kactivitymanagerd-5.8.4</a></td>
   <td align="right">81kB</td>
   <td><tt>22a207be17da60cd7269b72c1616483b620560a0390c9cacc30b52820a7b6965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kde-cli-tools-5.8.4.tar.xz">kde-cli-tools-5.8.4</a></td>
   <td align="right">480kB</td>
   <td><tt>24a8a1288723793d9863454cb3b0deda0ff96f6efb952fc6ff9e4392f02beb6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kdecoration-5.8.4.tar.xz">kdecoration-5.8.4</a></td>
   <td align="right">33kB</td>
   <td><tt>84b619de6439256498c5a607a0b8e1781cb3f391e31fa3718dd3451f0e1a9019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kde-gtk-config-5.8.4.tar.xz">kde-gtk-config-5.8.4</a></td>
   <td align="right">147kB</td>
   <td><tt>c4366e00569d8d9159ca05d183e48a1fcb5aa2e97b3851d9ca89ca31373f5c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kdeplasma-addons-5.8.4.tar.xz">kdeplasma-addons-5.8.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e4bb570e6dd11f48934fafeef97f3e68504c8370684b184718ddbf7b9b292938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kgamma5-5.8.4.tar.xz">kgamma5-5.8.4</a></td>
   <td align="right">59kB</td>
   <td><tt>e1b94ff3920b1335b788f49a818e25d1ca13dc7a909c210bae72c72766fbb5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/khotkeys-5.8.4.tar.xz">khotkeys-5.8.4</a></td>
   <td align="right">593kB</td>
   <td><tt>83da5352ba44a4f06d370c27c69645518554ef4c86d32ef783d1d0809532e6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kinfocenter-5.8.4.tar.xz">kinfocenter-5.8.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>6dafaf7fc5d74f959aa358b6247045fce4093a73863c25b1c3b76e3817b9dbd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kmenuedit-5.8.4.tar.xz">kmenuedit-5.8.4</a></td>
   <td align="right">639kB</td>
   <td><tt>1059638951ff0b6d7e2a16cdae875fd2836564e52187a0e1d9df66d5b906a472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kscreen-5.8.4.tar.xz">kscreen-5.8.4</a></td>
   <td align="right">110kB</td>
   <td><tt>141a75b8f888d5c11cb772f3abd679386b5a3732290dc4be968ec8b4fb7f83c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kscreenlocker-5.8.4.tar.xz">kscreenlocker-5.8.4</a></td>
   <td align="right">106kB</td>
   <td><tt>1b9b99fb8cb5d67050f6bd23b2f10a7e1520f02031e2f090ec344111dd5f9cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/ksshaskpass-5.8.4.tar.xz">ksshaskpass-5.8.4</a></td>
   <td align="right">18kB</td>
   <td><tt>ecb30f3b9d66853116c096c26ebdca5eb6dc731311f0a454137f41e07395750c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/ksysguard-5.8.4.tar.xz">ksysguard-5.8.4</a></td>
   <td align="right">483kB</td>
   <td><tt>63bb53b909081b56d3f1a278881dd56e8562828c03b6bdb833737f299818b2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kwallet-pam-5.8.4.tar.xz">kwallet-pam-5.8.4</a></td>
   <td align="right">17kB</td>
   <td><tt>9689604b63e34a3ec17fa945e21a3184ee46c510886cb754415bfa4362e63891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kwayland-integration-5.8.4.tar.xz">kwayland-integration-5.8.4</a></td>
   <td align="right">17kB</td>
   <td><tt>4789c794af752f29f8e01577719e6ea7382acae8a995ea134f6497b0d6f072e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kwin-5.8.4.tar.xz">kwin-5.8.4</a></td>
   <td align="right">3.8MB</td>
   <td><tt>d60d7ffece656fb693da54369034bca14b6c3f2c750454b7213c2ac1c4aff4fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/kwrited-5.8.4.tar.xz">kwrited-5.8.4</a></td>
   <td align="right">19kB</td>
   <td><tt>fa5c43a71fd2bce210fc2c5bfc7661986f28bd69823c5ad615b17b932229a014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/libkscreen-5.8.4.tar.xz">libkscreen-5.8.4</a></td>
   <td align="right">90kB</td>
   <td><tt>d7141d177438a29c40802646921bf005a8df7f8483127668b6dbbe76ab2730ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/libksysguard-5.8.4.tar.xz">libksysguard-5.8.4</a></td>
   <td align="right">564kB</td>
   <td><tt>f84b37d6e5f605639d96d428f8eab6a9ea8d995cda6bb5610e53ffb971218055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/milou-5.8.4.tar.xz">milou-5.8.4</a></td>
   <td align="right">53kB</td>
   <td><tt>888d1411256cca8b8444b6af91bd920d558c172bbef134fe77b535bc5e632b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/oxygen-5.8.4.tar.xz">oxygen-5.8.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e40a7df182df7b8c104acfe809a8d94ed2841065bbcec0faf7558731c3a91fbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/plasma-desktop-5.8.4.tar.xz">plasma-desktop-5.8.4</a></td>
   <td align="right">6.1MB</td>
   <td><tt>78902e67664e5a1bcddc833b28cce9734c0a3993e0c5ddb3285501494e47bc1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/plasma-integration-5.8.4.tar.xz">plasma-integration-5.8.4</a></td>
   <td align="right">49kB</td>
   <td><tt>76c6c6b1c4b07d2924efd0fdf903cb060bb774d06f6b139aa3c0e1e681e684a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/plasma-nm-5.8.4.tar.xz">plasma-nm-5.8.4</a></td>
   <td align="right">643kB</td>
   <td><tt>58fe3beb85aa985015e0966da56e5211a1591bc2d0c3dd39ad89eb661437f337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/plasma-pa-5.8.4.tar.xz">plasma-pa-5.8.4</a></td>
   <td align="right">68kB</td>
   <td><tt>91381fae36a644f97edc936e94d53ffa28db01be93ab982c03857592a13aeedc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/plasma-sdk-5.8.4.tar.xz">plasma-sdk-5.8.4</a></td>
   <td align="right">706kB</td>
   <td><tt>491f81481b644f3ccf54d60718f3177e06e55fed11c6f192139bd012f6bd795a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/plasma-tests-5.8.4.tar.xz">plasma-tests-5.8.4</a></td>
   <td align="right">1kB</td>
   <td><tt>d344909208a96dba1675c0da97760c646b3402310cfe7883619e22aecfcd0842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/plasma-workspace-5.8.4.tar.xz">plasma-workspace-5.8.4</a></td>
   <td align="right">6.6MB</td>
   <td><tt>8d732e141ccf6f56c02fc8f4234323ceaf907d159a736f907715e84118cf8dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/plasma-workspace-wallpapers-5.8.4.tar.xz">plasma-workspace-wallpapers-5.8.4</a></td>
   <td align="right">43MB</td>
   <td><tt>436dbda41f854fb538dd172c6f25eed70064b1ab0ab4656479cbe739a2ad1b21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/polkit-kde-agent-1-5.8.4.tar.xz">polkit-kde-agent-1-5.8.4</a></td>
   <td align="right">40kB</td>
   <td><tt>4fa694a94a2116c056dc82eab579d16f9f43ff70fd36c6480887bca8a2ae014a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/powerdevil-5.8.4.tar.xz">powerdevil-5.8.4</a></td>
   <td align="right">349kB</td>
   <td><tt>9e55f6405da947f7a8dd97b41acd2eafbb5d77fd1943d024e28935f951f22cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/sddm-kcm-5.8.4.tar.xz">sddm-kcm-5.8.4</a></td>
   <td align="right">48kB</td>
   <td><tt>dd770bdccb4a0c327b51d9f1585fe0db5a72b13c7a13a0d9ad8d6fb9a1e9a20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/systemsettings-5.8.4.tar.xz">systemsettings-5.8.4</a></td>
   <td align="right">155kB</td>
   <td><tt>1b327b813f3d6dec3b1c873309ef88648e5e743aa90bfcf9b6a15354f7f685c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.4/user-manager-5.8.4.tar.xz">user-manager-5.8.4</a></td>
   <td align="right">529kB</td>
   <td><tt>2da8fb75f2de0d15f167698ae168d1f9cbc1b94200b8d1cb2fc90349f1d95e54</tt></td>
</tr>

</table>
