<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/bluedevil-5.21.90.tar.xz">bluedevil-5.21.90</a></td>
   <td align="right">158kB</td>
   <td><tt>adb15a54b82732e0a2d37236d508ccb38e3509ab283fcf8145a15e7c42f161c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/breeze-5.21.90.tar.xz">breeze-5.21.90</a></td>
   <td align="right">25MB</td>
   <td><tt>47994f7c578bbd2252780d315ffdf8c04ebacc343d78451378d63ef1ae2dc098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/breeze-grub-5.21.90.tar.xz">breeze-grub-5.21.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>380a8cb0d0e30ac39cef3ddcf7b37b7a5f2a7da3e3354bb78a38a82f970f25bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/breeze-gtk-5.21.90.tar.xz">breeze-gtk-5.21.90</a></td>
   <td align="right">46kB</td>
   <td><tt>33cce92aafe81dce1b2285f71bb31c425a796033a132d23881fbb6595089e23a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/breeze-plymouth-5.21.90.tar.xz">breeze-plymouth-5.21.90</a></td>
   <td align="right">106kB</td>
   <td><tt>e46e3342c28481b2ff52dbed1aa670d410da049874d61024e40db775925a37ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/discover-5.21.90.tar.xz">discover-5.21.90</a></td>
   <td align="right">8.0MB</td>
   <td><tt>a0cd77b40a6a0d2b8c2baa85804deb519138aa767cc057fb6b82f409f0700281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/drkonqi-5.21.90.tar.xz">drkonqi-5.21.90</a></td>
   <td align="right">763kB</td>
   <td><tt>fcf3902af8a98b5841a98251a7aa9413e0a19030d6476c0a5ad689c0ae6d2520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kactivitymanagerd-5.21.90.tar.xz">kactivitymanagerd-5.21.90</a></td>
   <td align="right">100kB</td>
   <td><tt>d71a216fd35fea08cdc53e383443a96662fb99141bcc96931e0900df3285568b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kde-cli-tools-5.21.90.tar.xz">kde-cli-tools-5.21.90</a></td>
   <td align="right">611kB</td>
   <td><tt>c6134c9c7b7e502cab826673732eb4b841c71a31e825f6d8f6ae62b474545248</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kdecoration-5.21.90.tar.xz">kdecoration-5.21.90</a></td>
   <td align="right">45kB</td>
   <td><tt>14da416299966856cff6bf9ab6f8626a0cd1e19469c8789248c9030a6606490a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kde-gtk-config-5.21.90.tar.xz">kde-gtk-config-5.21.90</a></td>
   <td align="right">67kB</td>
   <td><tt>6e8f0c91de8ae96227b9caa137cde704dc7cd99703b89976e1456d66773d0038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kdeplasma-addons-5.21.90.tar.xz">kdeplasma-addons-5.21.90</a></td>
   <td align="right">617kB</td>
   <td><tt>5a591d8e2355c1ecb42051edf839606ea2309f340caa12f8f729543b74105c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kgamma5-5.21.90.tar.xz">kgamma5-5.21.90</a></td>
   <td align="right">80kB</td>
   <td><tt>8b250167647de759d6e915fa1b863cacf6b7d395e5771b8fbefbdcfe2982179b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/khotkeys-5.21.90.tar.xz">khotkeys-5.21.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e017e38c5ef75d7aaf95a4043b6e9a7d8be849af80d3e0943af75836f19c5aad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kinfocenter-5.21.90.tar.xz">kinfocenter-5.21.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7a90d5663ae85f2b8f3125497c9b7d677e2d45c7ec9625cf2cfba953b1c1356f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kmenuedit-5.21.90.tar.xz">kmenuedit-5.21.90</a></td>
   <td align="right">878kB</td>
   <td><tt>3fbad87c179546834f5deff721a50f9d73978eeb5c5f78e30b94d1a0659c7998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kscreen-5.21.90.tar.xz">kscreen-5.21.90</a></td>
   <td align="right">113kB</td>
   <td><tt>93a1b7b2570f3fb8b529dad5d76c446ca3ae51b6ff61b5ad8953bfe674b9e95e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kscreenlocker-5.21.90.tar.xz">kscreenlocker-5.21.90</a></td>
   <td align="right">113kB</td>
   <td><tt>ca4af9ea72cdcb0942a4a94958f5572a8556c9210bac3866603d5978cb0e1447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/ksshaskpass-5.21.90.tar.xz">ksshaskpass-5.21.90</a></td>
   <td align="right">23kB</td>
   <td><tt>d7c76536b46627d22a309725a93f786a000f2464a9b7cddd31f6cc7639f5c550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/ksystemstats-5.21.90.tar.xz">ksystemstats-5.21.90</a></td>
   <td align="right">81kB</td>
   <td><tt>15991e11c4988fdc9fbf209bfad6c5583935b4f12345f714a6aa31898016130b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kwallet-pam-5.21.90.tar.xz">kwallet-pam-5.21.90</a></td>
   <td align="right">19kB</td>
   <td><tt>c620ae19cff0475ed7d2fa0f4337d516edb7db138b930404045df6f28d8be2a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kwayland-integration-5.21.90.tar.xz">kwayland-integration-5.21.90</a></td>
   <td align="right">22kB</td>
   <td><tt>2e7c922c3ec7c5c84d8aa85019385928590509e3b4fa81e14122453c9e7a4428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kwayland-server-5.21.90.tar.xz">kwayland-server-5.21.90</a></td>
   <td align="right">213kB</td>
   <td><tt>bead274c8466793e6b92feef33dff642854f06de665ed1e9642d7be208381632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kwin-5.21.90.tar.xz">kwin-5.21.90</a></td>
   <td align="right">6.1MB</td>
   <td><tt>9aa143de3d02ae2ffdc4f128ee5f461563506d9025c1f13deb1e3f7e0ce2fef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/kwrited-5.21.90.tar.xz">kwrited-5.21.90</a></td>
   <td align="right">19kB</td>
   <td><tt>84f7e894770f69e61a37c32a049a88479ede51ac7c61e839d980d09c9e6e1c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/layer-shell-qt-5.21.90.tar.xz">layer-shell-qt-5.21.90</a></td>
   <td align="right">17kB</td>
   <td><tt>280bf647f10b5f563749aa907a69f0aa0aa63cae28384ff7f4d981f374462795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/libkscreen-5.21.90.tar.xz">libkscreen-5.21.90</a></td>
   <td align="right">93kB</td>
   <td><tt>3d5a90361d2fd56323230c7c66fd0d70fb5d41d97bed7f294fdf03c06256c6e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/libksysguard-5.21.90.tar.xz">libksysguard-5.21.90</a></td>
   <td align="right">719kB</td>
   <td><tt>9dd73ff7389e03b86cb15bede0dff81e68e2d7844478daa504fb60e2165a9273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/milou-5.21.90.tar.xz">milou-5.21.90</a></td>
   <td align="right">51kB</td>
   <td><tt>1faf3b486b5a4c390749818913dfaf05d136c69ecece33b9e9ce81a7c125c526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/oxygen-5.21.90.tar.xz">oxygen-5.21.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>64ad906f0272f8de3dabd197227038a9dd22a08cc2a320dcf5770e538c201e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-browser-integration-5.21.90.tar.xz">plasma-browser-integration-5.21.90</a></td>
   <td align="right">207kB</td>
   <td><tt>95acae8248d3882c096b9e4aeb3387bfe451bb7704ceecab732d079d4e5fb4f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-desktop-5.21.90.tar.xz">plasma-desktop-5.21.90</a></td>
   <td align="right">15MB</td>
   <td><tt>cc66e3d6ffda0f6bd65fd13652bc860a41f6046b51360626745225578b811611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-disks-5.21.90.tar.xz">plasma-disks-5.21.90</a></td>
   <td align="right">80kB</td>
   <td><tt>260ca77f8b9b742b53a7e3d1eda0c141df2d0806b770d5d9ca2775017b6830f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-firewall-5.21.90.tar.xz">plasma-firewall-5.21.90</a></td>
   <td align="right">330kB</td>
   <td><tt>5f3a3d61ba91de4f5a1b6b4fc6ce46fcf847f51653dcac2d0f2987e8b4cc2d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-integration-5.21.90.tar.xz">plasma-integration-5.21.90</a></td>
   <td align="right">63kB</td>
   <td><tt>39bc822bc10301958aa2c50df452261bbd72b416a02896765027b80b9e6435e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-nano-5.21.90.tar.xz">plasma-nano-5.21.90</a></td>
   <td align="right">63kB</td>
   <td><tt>bea4359e056ffd45f2fe248f5f879d79b397e7c1fa5f4469a4b95a65dc0749ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-nm-5.21.90.tar.xz">plasma-nm-5.21.90</a></td>
   <td align="right">878kB</td>
   <td><tt>8136586b5a3ea88c1b56323964da20062c16cada510b506ee897a129fed7c840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-pa-5.21.90.tar.xz">plasma-pa-5.21.90</a></td>
   <td align="right">124kB</td>
   <td><tt>fc10f97b73e2c2cf1928fe97b92f6a2c520f45e3287a773c33d8201e701049c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-phone-components-5.21.90.tar.xz">plasma-phone-components-5.21.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>86faf9fe1c3f8b47a0f1c219677edc93f51f3f92f610f201035834e34ca2cdf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-sdk-5.21.90.tar.xz">plasma-sdk-5.21.90</a></td>
   <td align="right">263kB</td>
   <td><tt>704758003045f465cca29b4efd168a76b8a520c2b344568c957e72b524a582ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-systemmonitor-5.21.90.tar.xz">plasma-systemmonitor-5.21.90</a></td>
   <td align="right">129kB</td>
   <td><tt>732d74c855ac941cd68dc87affb29c8259b1de0143e87d70680b60500043fccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-tests-5.21.90.tar.xz">plasma-tests-5.21.90</a></td>
   <td align="right">1kB</td>
   <td><tt>ddd8380c207c74306fa53d19e4048a3f3049c020b9f0d4fb5b16adbff52c642e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-thunderbolt-5.21.90.tar.xz">plasma-thunderbolt-5.21.90</a></td>
   <td align="right">62kB</td>
   <td><tt>7dcf6cae9f2ad500fa9a2f5572b366491eb751ca149b0a557fbc612b924791af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-vault-5.21.90.tar.xz">plasma-vault-5.21.90</a></td>
   <td align="right">166kB</td>
   <td><tt>37750b284d1b0c3312378f18f6387efea15d35478654993838b5f33c2255a20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-workspace-5.21.90.tar.xz">plasma-workspace-5.21.90</a></td>
   <td align="right">9.2MB</td>
   <td><tt>0e8fca6d8b0a6cd43e26fc21f780c6d38cc9bd0dfe834d3cf8f7fa70e43b08ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plasma-workspace-wallpapers-5.21.90.tar.xz">plasma-workspace-wallpapers-5.21.90</a></td>
   <td align="right">45MB</td>
   <td><tt>e0a57a5faa251f061604de32a505814162c0eab0662bb23543b37eaf237ed009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/plymouth-kcm-5.21.90.tar.xz">plymouth-kcm-5.21.90</a></td>
   <td align="right">37kB</td>
   <td><tt>4b789d68865d0ec81b33ec67af164587c637958d5aa113ffc8ac3a669b2a1f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/polkit-kde-agent-1-5.21.90.tar.xz">polkit-kde-agent-1-5.21.90</a></td>
   <td align="right">44kB</td>
   <td><tt>15b9d169d58c6fc2eee4ca868ce105d4456e6ef09bd564369d6bf3aebb92cce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/powerdevil-5.21.90.tar.xz">powerdevil-5.21.90</a></td>
   <td align="right">603kB</td>
   <td><tt>e7dc94cfc188d0dd35979f9cee04cc95ee521f2c5e89112d059cf777f020415c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/qqc2-breeze-style-5.21.90.tar.xz">qqc2-breeze-style-5.21.90</a></td>
   <td align="right">64kB</td>
   <td><tt>d22c4a87907bb3ba77998f792e1af88f4c0de087cd044dfe1ebac35dfd5e2e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/sddm-kcm-5.21.90.tar.xz">sddm-kcm-5.21.90</a></td>
   <td align="right">62kB</td>
   <td><tt>37a30864970d5a9461de662fe8d7046782890edee96f92072d06ae51e6d83856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/systemsettings-5.21.90.tar.xz">systemsettings-5.21.90</a></td>
   <td align="right">200kB</td>
   <td><tt>bedac7a4d66a343bfb4df226cc5607077369a9ec921b329593e238d06667fe5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.21.90/xdg-desktop-portal-kde-5.21.90.tar.xz">xdg-desktop-portal-kde-5.21.90</a></td>
   <td align="right">84kB</td>
   <td><tt>66ee0149a0ed6726f14bdf8f07d28478fb636df17afdf3bcb15a81bd51853d76</tt></td>
</tr>

</table>
