<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/baloo-5.6.95.tar.xz">baloo-5.6.95</a></td>
   <td align="right">140kB</td>
   <td><tt>b43be35fb58dd77ae5a6ed74af2a90567ef20cce5b62e8d3e98a400fe906639f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/bluedevil-5.2.95.tar.xz">bluedevil-5.2.95</a></td>
   <td align="right">117kB</td>
   <td><tt>7fdc5a5d87c22c53d622d3ba8bdb4f83a2ece41dc4b422e1ae03d186f9bf57e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/bluez-qt-5.2.95.tar.xz">bluez-qt-5.2.95</a></td>
   <td align="right">60kB</td>
   <td><tt>4b754dd3b4b6454aee739566063fd9170d461292903cd57c643f356f80436c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/breeze-5.2.95.tar.xz">breeze-5.2.95</a></td>
   <td align="right">22MB</td>
   <td><tt>237f866e4debb28b24d274e3e2049dbd2631170288ed2a913e53971fa2c64099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kde-cli-tools-5.2.95.tar.xz">kde-cli-tools-5.2.95</a></td>
   <td align="right">472kB</td>
   <td><tt>6d72755530fc2d74a4beec837f4c1832afae5fb352673949d851a91838fa4a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kdecoration-5.2.95.tar.xz">kdecoration-5.2.95</a></td>
   <td align="right">32kB</td>
   <td><tt>07d79c35479b7b6afc25f173c61e1f7f9dcb333ffbbe58b302acdfcc17cedf23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kde-gtk-config-5.2.95.tar.xz">kde-gtk-config-5.2.95</a></td>
   <td align="right">139kB</td>
   <td><tt>1c04448d4fce7a765660028719faa0935288cfad463a97824e354243baa999c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kdeplasma-addons-5.2.95.tar.xz">kdeplasma-addons-5.2.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>befe2e8b7f38b8c080ad44e5b9205f4bd1cb83cdc46f2755babf5f45168d9849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kfilemetadata-5.6.95.tar.xz">kfilemetadata-5.6.95</a></td>
   <td align="right">117kB</td>
   <td><tt>d227d080f701e634249dd6083d57c47b1a1d4cf7d881f267530c5306a4077dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/khelpcenter-5.2.95.tar.xz">khelpcenter-5.2.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8cfbbd6c969a925103f5985de293973b72aea4a1de79a362293812bd8010a6f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/khotkeys-5.2.95.tar.xz">khotkeys-5.2.95</a></td>
   <td align="right">594kB</td>
   <td><tt>a8ec631fb3295a6b9486199b91247cb4ae9423a9680ac268580be3a474f0e8aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kinfocenter-5.2.95.tar.xz">kinfocenter-5.2.95</a></td>
   <td align="right">1018kB</td>
   <td><tt>5b510195dce46909b3663e778d9cca21d95467520db291611f577f00b5bd2941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kio-extras-5.2.95.tar.xz">kio-extras-5.2.95</a></td>
   <td align="right">599kB</td>
   <td><tt>44590884d3dace7461cb89fed4dc67033efe438085d84beb93a2ed077e6376d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kmenuedit-5.2.95.tar.xz">kmenuedit-5.2.95</a></td>
   <td align="right">297kB</td>
   <td><tt>fce29d1bda27dc2f909d2d8d5205269a5c65a76c8b8a51f35ef711b996bcaf18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kscreen-5.2.95.tar.xz">kscreen-5.2.95</a></td>
   <td align="right">88kB</td>
   <td><tt>6f897356ba521c844e6e4ee9b0a82b321d4c578705bc4ca88f9c68e17bcce6cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/ksshaskpass-5.2.95.tar.xz">ksshaskpass-5.2.95</a></td>
   <td align="right">17kB</td>
   <td><tt>f61d012e0cc5f1e0f687e4b75f16f30407b7485917dd68bbc60f7e32e4365123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/ksysguard-5.2.95.tar.xz">ksysguard-5.2.95</a></td>
   <td align="right">463kB</td>
   <td><tt>1644d71a4cfa8298bf9aca3333eac52a7643c80fe997c576a45e37be8b7daf35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kwayland-5.2.95.tar.xz">kwayland-5.2.95</a></td>
   <td align="right">90kB</td>
   <td><tt>040e23ddd5f33efc5b46aa88103ccfb79d0f7d208f83bd5177cf868b8ca92980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kwin-5.2.95.tar.xz">kwin-5.2.95</a></td>
   <td align="right">3.6MB</td>
   <td><tt>22afdfb955d8bd733d12e3ee1cd0cc70fc9367e8cbd4070a973f18008b65395e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/kwrited-5.2.95.tar.xz">kwrited-5.2.95</a></td>
   <td align="right">18kB</td>
   <td><tt>634f9124feab68d03a9d9b7ccd045af96c4a5a76ccb5f3f3b612c7a30f042ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/libkscreen-5.2.95.tar.xz">libkscreen-5.2.95</a></td>
   <td align="right">69kB</td>
   <td><tt>eff933bf37dd83b020ac6f84ed5c631c51550b2b863bcad92307d770cbb6e815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/libksysguard-5.2.95.tar.xz">libksysguard-5.2.95</a></td>
   <td align="right">545kB</td>
   <td><tt>1d42b2387777c0d85c1a101af213933e3428da891660799d316b3ac405a45fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/milou-5.2.95.tar.xz">milou-5.2.95</a></td>
   <td align="right">49kB</td>
   <td><tt>1b027e424c2b7e78e44bab8425b913b128d3fd5806ff6cb17977abc6b38a400b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/muon-5.2.95.tar.xz">muon-5.2.95</a></td>
   <td align="right">1006kB</td>
   <td><tt>2f68a7fe04f07c48ab5591ea56665e8c6c0558cb482c70a8a2e505719696ba19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/oxygen-5.2.95.tar.xz">oxygen-5.2.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>3ceb1c7c07ef68d5f3eb73f91177f3f66351747632a9943ca452fac619a67391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/oxygen-fonts-5.2.95.tar.xz">oxygen-fonts-5.2.95</a></td>
   <td align="right">157kB</td>
   <td><tt>7afc6e02377cb2328fee9100c01f4e1941b76947c1f44ddb815775677545db13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/plasma-desktop-5.2.95.tar.xz">plasma-desktop-5.2.95</a></td>
   <td align="right">5.6MB</td>
   <td><tt>748546306f3fad3d51e973e31cdf4904d8efccf865db697b474e175f2bc4dfff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/plasma-mediacenter-5.2.95.tar.xz">plasma-mediacenter-5.2.95</a></td>
   <td align="right">147kB</td>
   <td><tt>5616a72476fa5e8320f5a19cefd89f7aa0f1a28d6388f5ca598845bafbc41ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/plasma-nm-5.2.95.tar.xz">plasma-nm-5.2.95</a></td>
   <td align="right">509kB</td>
   <td><tt>8a391ed3e2f5e25eb1db1a3ccb08ac9c619c928e7d43d02fdc881fbb95f4da5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/plasma-sdk-5.2.95.tar.xz">plasma-sdk-5.2.95</a></td>
   <td align="right">609kB</td>
   <td><tt>cb41435c14f9b3d0776048a5f287bb3d50ea9fc6dabfec15e1d24d0af4b1e1f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/plasma-workspace-5.2.95.tar.xz">plasma-workspace-5.2.95</a></td>
   <td align="right">6.5MB</td>
   <td><tt>2ffb026981334762a12e1d5c209d85a6dd9090896a2775ffc3874197d7003ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/plasma-workspace-wallpapers-5.2.95.tar.xz">plasma-workspace-wallpapers-5.2.95</a></td>
   <td align="right">40MB</td>
   <td><tt>655cb1c3c25b1469ee81acf31d0871b3908e38729e2c0ab6c32535a477b7a989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/polkit-kde-agent-1-5.2.95.tar.xz">polkit-kde-agent-1-5.2.95</a></td>
   <td align="right">38kB</td>
   <td><tt>ada0738ad2125f56bca93ec70228a745901b923766aeede6d826c2128eb225df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/powerdevil-5.2.95.tar.xz">powerdevil-5.2.95</a></td>
   <td align="right">343kB</td>
   <td><tt>2807500cb5b2d5db5558b1a39e326005343cbcd0e3b807f5685d354249a17595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/sddm-kcm-5.2.95.tar.xz">sddm-kcm-5.2.95</a></td>
   <td align="right">44kB</td>
   <td><tt>ef2441218b002f113a3dbc5666550c01a7751f87e18b71b9d5cbcdb69f5981c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/systemsettings-5.2.95.tar.xz">systemsettings-5.2.95</a></td>
   <td align="right">150kB</td>
   <td><tt>fac25cf6116ec49c04255b17dd05d70e84507c5aa3a4d054f4b58447f11180fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.2.95/user-manager-5.2.95.tar.xz">user-manager-5.2.95</a></td>
   <td align="right">50kB</td>
   <td><tt>767b418293137ca87048177da654cbc0b235b877b9da9eac0eece635a8ca480b</tt></td>
</tr>

</table>
