<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/bluedevil-5.13.0.tar.xz">bluedevil-5.13.0</a></td>
   <td align="right">145kB</td>
   <td><tt>75ecc40fde6da84d07c4efd077330dea5674a68c40611f23d5ea4f48ad7833aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/breeze-5.13.0.tar.xz">breeze-5.13.0</a></td>
   <td align="right">23MB</td>
   <td><tt>a03193bbc1c7a385c302ba988fb79996edcb09b5673ac399a4062e0409825129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/breeze-grub-5.13.0.tar.xz">breeze-grub-5.13.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c61e123d5cc337ae10abf2fc4063dd0de72d8d50d67620a82dfcdaf364440a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/breeze-gtk-5.13.0.tar.xz">breeze-gtk-5.13.0</a></td>
   <td align="right">196kB</td>
   <td><tt>f4e48c70a2e1f6210d4c7b48054bddac731dd4df62e22df6ef31aa20ab9d2e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/breeze-plymouth-5.13.0.tar.xz">breeze-plymouth-5.13.0</a></td>
   <td align="right">102kB</td>
   <td><tt>3107d8ae1d38d285a6baedacb47a7bf4cf545c5bf0950d6185a49304fa6de48d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/discover-5.13.0.tar.xz">discover-5.13.0</a></td>
   <td align="right">9.7MB</td>
   <td><tt>7592671473bc322228d0189b14e183aef798319b40778f23382b8aa07eb0e0f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/drkonqi-5.13.0.tar.xz">drkonqi-5.13.0</a></td>
   <td align="right">718kB</td>
   <td><tt>730567a7790549f6760a9310a0df5837349ba502eecd7f22af8a1df4b55ea956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kactivitymanagerd-5.13.0.tar.xz">kactivitymanagerd-5.13.0</a></td>
   <td align="right">82kB</td>
   <td><tt>06b38a630cf944ace5e768a2bf71ebd49b81a6d6b4be959cfe792d5809fb5883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kde-cli-tools-5.13.0.tar.xz">kde-cli-tools-5.13.0</a></td>
   <td align="right">563kB</td>
   <td><tt>fa2ff18738725d1be4d4134bfa7b8225ff94305f7355b0903848ac681b645262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kdecoration-5.13.0.tar.xz">kdecoration-5.13.0</a></td>
   <td align="right">40kB</td>
   <td><tt>752bc868f6b773c90ffb8cf633c23b4f4020bb957f1bbda7c06742e5f938fbb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kde-gtk-config-5.13.0.tar.xz">kde-gtk-config-5.13.0</a></td>
   <td align="right">152kB</td>
   <td><tt>cf432bc3e05da921ee601e0b3652e3ac1a06b8a48a4ddb01f0d1a3c5a595dfd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kdeplasma-addons-5.13.0.tar.xz">kdeplasma-addons-5.13.0</a></td>
   <td align="right">578kB</td>
   <td><tt>71b8cc120576140f2df7b129bce13019ebb1f1e78b24c2b0343f2e31e1b5980c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kgamma5-5.13.0.tar.xz">kgamma5-5.13.0</a></td>
   <td align="right">74kB</td>
   <td><tt>69533f88abf55e60f269a32764862e0bb303b65a59800f7f15faf479d04de879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/khotkeys-5.13.0.tar.xz">khotkeys-5.13.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>91aa691e76e995ac36392db1fb9854f1c7efb18a4e03bfd76827a4c88b65e9f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kinfocenter-5.13.0.tar.xz">kinfocenter-5.13.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>bd9645d950ab297bcca225e8ad48d8751d9f3d2a7a3a4a0f889a9d5a0a31e195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kmenuedit-5.13.0.tar.xz">kmenuedit-5.13.0</a></td>
   <td align="right">640kB</td>
   <td><tt>6e85bccced0ef36a93aa3b9b946ec264cb9abad269dc6522112fbbc26bf0688a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kscreen-5.13.0.tar.xz">kscreen-5.13.0</a></td>
   <td align="right">109kB</td>
   <td><tt>c5236ec37e3df27cb28f8636a48a24b3359c13b7494b93d07342c8b6aef50f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kscreenlocker-5.13.0.tar.xz">kscreenlocker-5.13.0</a></td>
   <td align="right">117kB</td>
   <td><tt>50df0346d1dc4c13d65ee377dc5f1ab367f72fcdec5ffac70e4230005bca4a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/ksshaskpass-5.13.0.tar.xz">ksshaskpass-5.13.0</a></td>
   <td align="right">20kB</td>
   <td><tt>12b00cc86020549b8d877bd3ae7d3548350514ac344e8bbb29b6dff2d5402d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/ksysguard-5.13.0.tar.xz">ksysguard-5.13.0</a></td>
   <td align="right">478kB</td>
   <td><tt>55e54e09693a0ac897f0740eec0a162e774d6fc2875d6c2f2224ca3b3798e76b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kwallet-pam-5.13.0.tar.xz">kwallet-pam-5.13.0</a></td>
   <td align="right">18kB</td>
   <td><tt>ea0fdad521f51d6d98baab8225cfa230975fc3e571cd9a7c7d6912f4c33970e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kwayland-integration-5.13.0.tar.xz">kwayland-integration-5.13.0</a></td>
   <td align="right">18kB</td>
   <td><tt>ee43888f2c874dbaac5d4ac6f8b5f8b352ae5209ae4da8bf64de10e213879e43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kwin-5.13.0.tar.xz">kwin-5.13.0</a></td>
   <td align="right">6.2MB</td>
   <td><tt>f08f86b48145d7ea54bc9cc6e420ebcaddb7d050105693febcd9670333f3d58b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/kwrited-5.13.0.tar.xz">kwrited-5.13.0</a></td>
   <td align="right">19kB</td>
   <td><tt>44c4bc100f44ba6251562b3b3bd53e7af51fa6cc2119883920844a425363f56e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/libkscreen-5.13.0.tar.xz">libkscreen-5.13.0</a></td>
   <td align="right">75kB</td>
   <td><tt>69c394363a975e63cb2e38f2cb1c4888b55095f2b9558b4e669c3c987873aeba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/libksysguard-5.13.0.tar.xz">libksysguard-5.13.0</a></td>
   <td align="right">555kB</td>
   <td><tt>416d28f0dbfde88bffb83feea4d8c9d6af6ec23032b62bbf951957a16a166885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/milou-5.13.0.tar.xz">milou-5.13.0</a></td>
   <td align="right">55kB</td>
   <td><tt>65629e94062c4cb1836f290b56c46c490849535ae6d26759f9b492c948c55f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/oxygen-5.13.0.tar.xz">oxygen-5.13.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>3e7f8044f308f42969d5a0622022ead799deefaf6f3a9cb9be77238158a3fd97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-browser-integration-5.13.0.tar.xz">plasma-browser-integration-5.13.0</a></td>
   <td align="right">92kB</td>
   <td><tt>0cf7b09b66d075eb9c91f46d9e6c252ceb296e92dffe410f616354470588dfde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-desktop-5.13.0.tar.xz">plasma-desktop-5.13.0</a></td>
   <td align="right">8.6MB</td>
   <td><tt>d6d66cd017c58233225dc564a95e8252c47bf76e37eb81c1f5033189dffc462e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-integration-5.13.0.tar.xz">plasma-integration-5.13.0</a></td>
   <td align="right">51kB</td>
   <td><tt>e4823cc5580abd36c02956eb01ec1bbb4b7afdfa6ac84f85ff879c9f18fd89f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-nm-5.13.0.tar.xz">plasma-nm-5.13.0</a></td>
   <td align="right">682kB</td>
   <td><tt>336cc7736d972f140e3ac3bcbd3c9f06c739e200dd24b6bdc0383b85af05c808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-pa-5.13.0.tar.xz">plasma-pa-5.13.0</a></td>
   <td align="right">86kB</td>
   <td><tt>d9cd2602a85595a80b3a1b2d095f6145389c2a96b19252d422fbe32c82d64f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-sdk-5.13.0.tar.xz">plasma-sdk-5.13.0</a></td>
   <td align="right">239kB</td>
   <td><tt>ad22cf64ec52b53a6b3229aaeedd065f08ab4b5aed6979c4556b799b18ca5dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-tests-5.13.0.tar.xz">plasma-tests-5.13.0</a></td>
   <td align="right">1kB</td>
   <td><tt>2a67cf5a802345271a099885f47b4bc5dfb7653e3853fc34f5c4a770997194b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-vault-5.13.0.tar.xz">plasma-vault-5.13.0</a></td>
   <td align="right">110kB</td>
   <td><tt>3125b2ae30359a80617ce8edc9ed857588c593a65f21e15b13b7ba625794a0f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-workspace-5.13.0.tar.xz">plasma-workspace-5.13.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>0e4653d8f81dd70c5c15d708c8c582aca6cb1f4528236331b1d334b28f513f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plasma-workspace-wallpapers-5.13.0.tar.xz">plasma-workspace-wallpapers-5.13.0</a></td>
   <td align="right">43MB</td>
   <td><tt>cb37bb8149f306cd9d8df0ef7660de71d35694d1ce295fa82b0565ad3ed3daf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/plymouth-kcm-5.13.0.tar.xz">plymouth-kcm-5.13.0</a></td>
   <td align="right">37kB</td>
   <td><tt>26a2098d9ace2e63cfe2ab5fe49c7ba8471af0293e134deece3296763d56efc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/polkit-kde-agent-1-5.13.0.tar.xz">polkit-kde-agent-1-5.13.0</a></td>
   <td align="right">41kB</td>
   <td><tt>95dd1da6458f0777f494d18647e07776c77477a6887316738868a54f5f024b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/powerdevil-5.13.0.tar.xz">powerdevil-5.13.0</a></td>
   <td align="right">524kB</td>
   <td><tt>7e97556a78ef0f8b23d8bcaa7ff3ee11eff9564fe4c810d077b175141f051d70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/sddm-kcm-5.13.0.tar.xz">sddm-kcm-5.13.0</a></td>
   <td align="right">58kB</td>
   <td><tt>aeec75002604cb2b3470a7bbfd9fd0db9c0d0eb61a203b34b8301e465668b38e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/systemsettings-5.13.0.tar.xz">systemsettings-5.13.0</a></td>
   <td align="right">170kB</td>
   <td><tt>8c56159c8cf1814c73ae7dc33386b4524111e53d101cf21fe7597c6990cfb6c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/user-manager-5.13.0.tar.xz">user-manager-5.13.0</a></td>
   <td align="right">531kB</td>
   <td><tt>eef6e58eae208a0134db56c8b2c7880a2f9ba29534769142c7cbd37e47e68583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.0/xdg-desktop-portal-kde-5.13.0.tar.xz">xdg-desktop-portal-kde-5.13.0</a></td>
   <td align="right">47kB</td>
   <td><tt>e43bf8d1090e40bd2f34f9da4fe15c3a922e2b7759dafb3976606c7beb91f68e</tt></td>
</tr>

</table>
