<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/bluedevil-5.20.1.tar.xz">bluedevil-5.20.1</a></td>
   <td align="right">152kB</td>
   <td><tt>1ca22a2ecde2651ce5134330602da0f43babb69498b5da2101211790c4e1818e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/breeze-5.20.1.tar.xz">breeze-5.20.1</a></td>
   <td align="right">14MB</td>
   <td><tt>14e6e973f9e5ced3a690bf4a570399acec70ed3db23a8d1ef79e1920ff129c6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/breeze-grub-5.20.1.tar.xz">breeze-grub-5.20.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>3d1e916e58a0fed8d98b22d8557ef8ed053207aa0e28a4f0a82fa70e696ca70f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/breeze-gtk-5.20.1.tar.xz">breeze-gtk-5.20.1</a></td>
   <td align="right">42kB</td>
   <td><tt>cf24e12b8948becd08368304c285cce8d6bb99db151f89d4029e7dafac8a273e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/breeze-plymouth-5.20.1.tar.xz">breeze-plymouth-5.20.1</a></td>
   <td align="right">106kB</td>
   <td><tt>9736160a29e8d4c00bb9e2c86bfb8c49b19cfbae0950f198b8bbf32deb6ce792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/discover-5.20.1.tar.xz">discover-5.20.1</a></td>
   <td align="right">9.8MB</td>
   <td><tt>f9c678bf58687ecfc0fe5fefe6d4dee7a5fc433b3f803f432716525e6f4e542f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/drkonqi-5.20.1.tar.xz">drkonqi-5.20.1</a></td>
   <td align="right">728kB</td>
   <td><tt>ae911abdcbd3833913774b2155f093c8c67e9debdbffbdf5806ae67142ca186d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kactivitymanagerd-5.20.1.tar.xz">kactivitymanagerd-5.20.1</a></td>
   <td align="right">92kB</td>
   <td><tt>cb07812a1ea5a52e6bd6f4bc7a0639df6280fe66eac0f727559f7d25f4fb5e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kde-cli-tools-5.20.1.tar.xz">kde-cli-tools-5.20.1</a></td>
   <td align="right">583kB</td>
   <td><tt>c6711e2d39a6638fb79085b1c07062dd655300ee9a44bc3d4984e0501527097e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kdecoration-5.20.1.tar.xz">kdecoration-5.20.1</a></td>
   <td align="right">44kB</td>
   <td><tt>70b5c516fde18edc706525d8cc27f1dd7bf4f1bef666745b9d4aa83c4c8eaa45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kde-gtk-config-5.20.1.tar.xz">kde-gtk-config-5.20.1</a></td>
   <td align="right">66kB</td>
   <td><tt>f82c7b4236937d455adaac98e2db434c4cc2e4120c3dc9b5ab41c893316e6f35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kdeplasma-addons-5.20.1.tar.xz">kdeplasma-addons-5.20.1</a></td>
   <td align="right">612kB</td>
   <td><tt>1a25926ced1555418fea53afff50ef9218d9c73e22c285e7ced89a56bfa24e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kgamma5-5.20.1.tar.xz">kgamma5-5.20.1</a></td>
   <td align="right">79kB</td>
   <td><tt>401ea7194bd1199b5eabf615d6499d17c629db3b27480e225afe7b73ccdaece8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/khotkeys-5.20.1.tar.xz">khotkeys-5.20.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0661c34b8ffaf1b786e30c5a906d2619d44fe3d6643a1826fda13d3e6bd94d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kinfocenter-5.20.1.tar.xz">kinfocenter-5.20.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>6e86e518cc7180920dd6abe5653be029ba921e6653624922882c7d055f87e191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kmenuedit-5.20.1.tar.xz">kmenuedit-5.20.1</a></td>
   <td align="right">872kB</td>
   <td><tt>315d4b2ada63223c1c52ee10ed8c5313f6d927d80ac6a1718b823c7c15454fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kscreen-5.20.1.tar.xz">kscreen-5.20.1</a></td>
   <td align="right">111kB</td>
   <td><tt>37e2d32d1d0b707f28dfb77084a34af3f21602112819c468f1db74b44df3cdf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kscreenlocker-5.20.1.tar.xz">kscreenlocker-5.20.1</a></td>
   <td align="right">111kB</td>
   <td><tt>e97f1bae6da55f412dfbc7fa15160edb2d4c1b095e915aa6a353ab926c31d84e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/ksshaskpass-5.20.1.tar.xz">ksshaskpass-5.20.1</a></td>
   <td align="right">22kB</td>
   <td><tt>c7b4dfbb297fe8d769c62fa4f9dba10598de38a1480459e3b3dcd62fa8965e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/ksysguard-5.20.1.tar.xz">ksysguard-5.20.1</a></td>
   <td align="right">546kB</td>
   <td><tt>6148705aed9100ba2697c758d9a703707f09924445d88dd311d0f99c1b32496a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kwallet-pam-5.20.1.tar.xz">kwallet-pam-5.20.1</a></td>
   <td align="right">19kB</td>
   <td><tt>b3dbfe00792a3a3b1362380e9c18ab8082a7057e6daaf323b3522e1789834cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kwayland-integration-5.20.1.tar.xz">kwayland-integration-5.20.1</a></td>
   <td align="right">20kB</td>
   <td><tt>bda8b9872791831eb95469b01cf1058bae4da24b0793cd8ff4eebae51a49e078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kwayland-server-5.20.1.tar.xz">kwayland-server-5.20.1</a></td>
   <td align="right">215kB</td>
   <td><tt>afdadebf8ab32c5598ff7e3bb60d1c37920c639c122a27874a38453a33287d02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kwin-5.20.1.tar.xz">kwin-5.20.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>2f53b021edeaa055234832e1e8b90c8dcae88de8c1f5b9fd0fec6af940aa542b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/kwrited-5.20.1.tar.xz">kwrited-5.20.1</a></td>
   <td align="right">19kB</td>
   <td><tt>444dd8b76dd67428bef0a25ef24e2eb4b445f6f8787a88063c48d64f9ab120f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/libkscreen-5.20.1.tar.xz">libkscreen-5.20.1</a></td>
   <td align="right">83kB</td>
   <td><tt>1781133b885ba73c2dba3803f71793834c65c27e043c26e27233a48b5b71e5fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/libksysguard-5.20.1.tar.xz">libksysguard-5.20.1</a></td>
   <td align="right">670kB</td>
   <td><tt>8cd4b9a05aba2843628205c0006147910f8b243e9da6dc8e429ca8681ce5993e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/milou-5.20.1.tar.xz">milou-5.20.1</a></td>
   <td align="right">53kB</td>
   <td><tt>58061b1a67c7779dc33e5a15ac9505e99e6fe8e77bf61d03372a10d02f752f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/oxygen-5.20.1.tar.xz">oxygen-5.20.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>2067f6e7a8a08a9267187c7b4e3e0baa18da630798fff43aea149ca3108bb47b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-browser-integration-5.20.1.tar.xz">plasma-browser-integration-5.20.1</a></td>
   <td align="right">186kB</td>
   <td><tt>5d0ef73b569ca21a56c550e35c0ea2a3b4ca00b0e13d64391dc229479f3fd2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-desktop-5.20.1.tar.xz">plasma-desktop-5.20.1</a></td>
   <td align="right">15MB</td>
   <td><tt>c1988abd455680717088c133ab29f501af5c097c1fa9e07035dfb2b85df2e843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-disks-5.20.1.tar.xz">plasma-disks-5.20.1</a></td>
   <td align="right">61kB</td>
   <td><tt>0e382861b3fcd5eeecfbbc3fb924ae1da839b502da639dda14893a2903929f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-integration-5.20.1.tar.xz">plasma-integration-5.20.1</a></td>
   <td align="right">58kB</td>
   <td><tt>0887c4f04d040cdb14c4e1f52911a72bba037838b2a610897d6fe6a2b82958eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-nano-5.20.1.tar.xz">plasma-nano-5.20.1</a></td>
   <td align="right">33kB</td>
   <td><tt>0ce61d71745e51010fea207f603d01556ef1f3b106e68a1adc4b3d20fc04045b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-nm-5.20.1.tar.xz">plasma-nm-5.20.1</a></td>
   <td align="right">824kB</td>
   <td><tt>2821b86921cc55fa21ac47e93ad8dedce3344249974a5085778202c9f9af0681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-pa-5.20.1.tar.xz">plasma-pa-5.20.1</a></td>
   <td align="right">109kB</td>
   <td><tt>ec841d7bc0311581f6d99b7debe91e9925621bc8b3dae3931fa77d154cc04567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-phone-components-5.20.1.tar.xz">plasma-phone-components-5.20.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a681a9b2ccb56bc9be5222378a421f38387511ff9476b049dd4342063e1db894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-sdk-5.20.1.tar.xz">plasma-sdk-5.20.1</a></td>
   <td align="right">258kB</td>
   <td><tt>a7ed7c58005f5eb6e58aa27b9b134c54d211b4007a92c3ee194c23e3be292936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-tests-5.20.1.tar.xz">plasma-tests-5.20.1</a></td>
   <td align="right">1kB</td>
   <td><tt>f8c7cb858f6270f4cf9fd69ef8df9fcb03aa3553b281e88c1202dda80bf2b032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-thunderbolt-5.20.1.tar.xz">plasma-thunderbolt-5.20.1</a></td>
   <td align="right">54kB</td>
   <td><tt>1c2f20b4ba53f66b0f231117fa7fa0a2bea852ebe8466866047169e802f8b3c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-vault-5.20.1.tar.xz">plasma-vault-5.20.1</a></td>
   <td align="right">151kB</td>
   <td><tt>e7bde45aaa95419d2d5e6aeffa0e00e8325be2215b2402afd67a2837dccb5048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-workspace-5.20.1.1.tar.xz">plasma-workspace-5.20.1.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>75b625dc705ec72c374dbcdb4c359ce199a33dea4af72dbf45d3830e375439a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plasma-workspace-wallpapers-5.20.1.tar.xz">plasma-workspace-wallpapers-5.20.1</a></td>
   <td align="right">43MB</td>
   <td><tt>31ae24e50aef8086bbd61a331f2bf7a9b844af41ad928f36d097de3358dd7bd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/plymouth-kcm-5.20.1.tar.xz">plymouth-kcm-5.20.1</a></td>
   <td align="right">41kB</td>
   <td><tt>49cf83e1c4e79088fe930f0d5eed55fab5a7b4ef1fe8700284ff75789d4d5d2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/polkit-kde-agent-1-5.20.1.tar.xz">polkit-kde-agent-1-5.20.1</a></td>
   <td align="right">43kB</td>
   <td><tt>76fff91115db932951a60c17e4463713f8e8c6ceef95fb96249b51f4f2d126a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/powerdevil-5.20.1.tar.xz">powerdevil-5.20.1</a></td>
   <td align="right">593kB</td>
   <td><tt>36273fca26c73520c674e96039a43134254313998a2a7587c3267230530b50ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/sddm-kcm-5.20.1.tar.xz">sddm-kcm-5.20.1</a></td>
   <td align="right">62kB</td>
   <td><tt>7d262f4898850afb0f4137f86375c5f916166b9fa031fb78ebc2c4a68316cacb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/systemsettings-5.20.1.1.tar.xz">systemsettings-5.20.1.1</a></td>
   <td align="right">186kB</td>
   <td><tt>6923be6b9b6fbee59d917b9c7036f1a1146a5feeb5ad6442988f45c1531e4f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.1/xdg-desktop-portal-kde-5.20.1.tar.xz">xdg-desktop-portal-kde-5.20.1</a></td>
   <td align="right">79kB</td>
   <td><tt>e09362a184e3814725206abe7d28e997851d4be0249c4b88619a51b1c3cfee2c</tt></td>
</tr>

</table>
