{{ define "main" }}
<main>
  <div class="container">
    <div class="text-center my-5 mx-auto" style="max-width: 800px">
      <h1 class="display-1">
        {{ .Title }}
      </h1>
      <p class="h3">{{ .Description }}</p>
    </div>
  </div>

  <div class="position-relative">
    <svg width="0" height="0">
    <defs>
    <clipPath id="header-decoration-clip" clipPathUnits="objectBoundingBox">
    <polygon points="0 0, 1 0.67, 1 1, 0 .12"></polygon>
    </clipPath>
    </defs>
    </svg>
    <svg width="0" height="0">
  <defs>
  <clipPath id="slim-header-clip" clipPathUnits="objectBoundingBox">
  <polygon points="0 0, 1 0, 1 1, 0 .4"></polygon>
  </clipPath>
  </defs>
  </svg>
    <div class="slim-background"></div>
    <div class="header-background"></div>
    <div class="d-flex flex-column" id="features-hero">
      <div class="col-md-4 d-flex flex-column mx-auto" style="margin-top: 8rem">
        <h2>Plasma, a lightweight and customizable shell</h2>
        <div class="laptop-with-overlay d-block mt-4 mb-3 mx-auto w-100 mw-1k">
          <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="empty laptop with an overlay">
          <div class="laptop-overlay">
            <picture>
              <source srcset="/announcements/plasma/5/5.21.0/plasma-dark.webp" media="(prefers-color-scheme: dark)" type="image/webp">
              <source srcset="/announcements/plasma/5/5.21.0/plasma.webp" media="(prefers-color-scheme: light)" type="image/webp">
              <source srcset="/announcements/plasma/5/5.21.0/plasma-dark.png" media="(prefers-color-scheme: dark)" type="image/png">
              <source srcset="/announcements/plasma/5/5.21.0/plasma.png" media="(prefers-color-scheme: light)" type="image/png">
              <img class="img-fluid" src="/announcements/plasma/5/5.21.0/plasma.png" alt="Plasma" />
            </picture>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>

  {{ .Content }}
</main>
{{ end }}
