{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img
          class="d-none d-lg-block"
          style="width: 100%; max-width: 1500px"
          alt=""
          src="/fundraisers/konqi-katie-donation.jpg"
        />
      </div>
      <div class="col-lg-4">
        <script
          src="https://donorbox.org/widget.js"
          paypalExpress="true"
        ></script>
        <div class="donorbox">
          <iframe
            style="border-radius: 8px"
            src="https://donorbox.org/embed/kde-become-a-member"
            name="donorbox"
            width="100%"
            height="600px"
            frameborder="0"
            scrolling="no"
            seamless="seamless"
          ></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
          <p>
            Martin Supan ⭐ Tim van Osch ⭐ Dirk Ziegelmeier ⭐ Matthias Born ⭐
            Àlex Magaz Graça ⭐ Janis Bundschu ⭐ Andrew Rosenwinkel ⭐ ali xyz
            ⭐ Shuyuan Liu ⭐ Michael Schaffner ⭐ Tasuku Suzuki ⭐ Cass Midkiff
            ⭐ Florian RICHER ⭐ Loïc Bersier ⭐ Tone Milazzo ⭐ Andrija
            Jovanovic ⭐ Willow Aran ⭐ Pjol . ⭐ Achilleas Koutsou ⭐
            Turritopsis Dohrnii Teo En Ming ⭐ Kai-Uwe Uhlitzsch ⭐ Jarkko
            Torvinen ⭐ Ethan Hussong ⭐ Paul Elliott ⭐ Titouan Forgeard ⭐
            Michael Niehoff ⭐ Kiril Vladimirov ⭐ Akseli Lahtinen ⭐ Moritz
            Füssel ⭐ Yoann LE TOUCHE ⭐ Dima T ⭐ Guruprasad L ⭐ Andrea
            Panontin ⭐ bill morin ⭐ Alexander Verweinen ⭐ Dennis Dalstrøm ⭐
            Julian Wefers ⭐ Michael Bolleininger ⭐ Reid Wiggins ⭐ Zach B ⭐
            Robert Levine ⭐ Jasmijn Knoope ⭐ Teemu Vartiainen ⭐ Kormos
            Krisztián ⭐ Dennis Körner ⭐ Felix Knecht ⭐ Arthur Galiullin ⭐
            Cameron Bosch ⭐ Bjørnar Hausken ⭐ Renārs Ceļapīters ⭐ Jennifer
            Radtke ⭐ Robert Wolniak ⭐ Jim Crawford ⭐ Kieren Roberts ⭐ Warren
            Krettek ⭐ Milas Bowman ⭐ Daniel Zalar ⭐ Alicja Michalska ⭐ Miku
            Hatsune ⭐ Semen Sobolev ⭐ Grzegorz Wierzowiecki ⭐ John Kizer ⭐
            Mateusz Albecki ⭐ Daniel Olson ⭐ Allen Hazen ⭐ Brian Marsh ⭐
            Gregor Burgeff ⭐ Boji Tony ⭐ Sander Smid-Merlijn ⭐ Ján Trenčanský
            ⭐ Lennart Kroll ⭐ Jan Válek ⭐ Alexander Reimelt ⭐ Mikołaj
            Świątek ⭐ Dean Bradley ⭐ Quentin Guyot ⭐ Ryan McCullough ⭐
            Dominik Lux ⭐ Marcin Mikołajczak ⭐ Paulo Dias ⭐ Antti Luoma ⭐
            Christian Hartmann ⭐ May Doušak ⭐ Peter Crasta ⭐ Jeroen Huijsman
            ⭐ Vojtech Kuchar ⭐ Alexey Toklovich ⭐ Jörg große Schlarmann ⭐
            Dominik Riedl ⭐ Conny Magnusson ⭐ Rob Hyndman ⭐ Davor Grubisa ⭐
            Norbert Spina ⭐ Kevin Messer ⭐ Nate Coffey ⭐ Wouter Eerdekens ⭐
            Rodney Lorimor ⭐ Teague Millette ⭐ Jacob Childersmith ⭐ Brandon
            Jones ⭐ Alessio Adamo ⭐ Samuel Pelz ⭐ Peter Nunn ⭐ Edoardo Regni
            ⭐ Vladimir Baskakov ⭐ Alonso Mendoza ⭐ Björn Bauer ⭐ Marcos
            Gutiérrez Alonso ⭐ Jimmy Lindsey ⭐ Dennis Schumann ⭐ Dmitry
            Sobolev ⭐ Malin Stanescu ⭐ Thomas Ludwig ⭐ Zhaosi Qu ⭐ Lee
            Courington ⭐ Patrick Gianelli ⭐ Lukas Hannawald ⭐ Xuetian Weng ⭐
            Tony James ⭐ Nicola Jelmorini ⭐ Stewart Webb ⭐ Anthony (anthr76)
            Rabbito ⭐ Eddie Carswell ⭐ Adam Szopa ⭐ Marcus Harrison ⭐ Ivan
            Nack ⭐ Emanuele Cannizzaro ⭐ Chad McCullough ⭐ Julian Borrero ⭐
            Maarten Bijster ⭐ Mike Dawson ⭐ Chrismettal Binary-6 ⭐ Peter
            Permenter ⭐ Joost Cassee ⭐ Lizoblyud Lika ⭐ Marijo Mustač ⭐ Igor
            Stojkovic ⭐ Markus Ebner ⭐ Matija Šuklje ⭐ Sebastian Fohler ⭐
            Lorenzo Bicci ⭐ David Roth ⭐ Philipp Reichmuth ⭐ harry loh ⭐
            Artem Puzikov ⭐ TIMOPHEY TSITAVETS ⭐ Byron Fröhlich ⭐ Matthew
            Cazaly ⭐ Jeremy Linton ⭐ Joey Eamigh ⭐ Cory Adkins ⭐ Andreas
            Paul ⭐ Andy Meier ⭐ Michael Meister ⭐ Romain Fleurette ⭐ Jure
            Repinc ⭐ Michael Winters ⭐ José Guardado ⭐ Lukas Langrock ⭐
            Julian Raschke ⭐ Adrian Friedli ⭐ Isaac Patton ⭐ Quentin Stuchlik
            ⭐ Sacha Schutz ⭐ Daniel Hurtado ⭐ Alejandro Cholaquidis ⭐ Lucas
            Ji ⭐ Christian Moesgaard ⭐ Sahan Fernando ⭐ Martin Beck ⭐ Piotr
            Gliźniewicz ⭐ Nina Wanca ⭐ ADAM K BIERMAN ⭐ Iain Cuthbertson ⭐
            Albert Goncharov ⭐ Paul Birkholtz ⭐ Bentleigh Beugelaar ⭐ Luis
            Garcia ⭐ Mikle Kerim ⭐ Curtis Bullock ⭐ Ami Chayun ⭐ Melissa
            Autumn ⭐ Sebastian Krönert ⭐ Titouan Fuchs ⭐ Xuanyu Yu ⭐ Niklas
            Kämper ⭐ Bel Lord-Williams ⭐ Grider Li ⭐ Yu Te Wang ⭐ E. Mau. ⭐
            Berker Şal ⭐ Roger Granrud ⭐ Ismar Kunic ⭐ Stanislas Leduc ⭐
            Vojtěch Indrák ⭐ Christian Strebel ⭐ Radek Nováček ⭐ D Ennis ⭐
            Bernhard Breinbauer ⭐ Bart Otten ⭐ Oliver Rasche ⭐ Angus Kelsey
            ⭐ Simon Österle ⭐ Rob Hasselbaum ⭐ Mehrad Mahmoudian ⭐ Christoph
            Singer ⭐ Bernie Innocenti ⭐ Dmytro Nezhevenko ⭐ Roberto Michán
            Sánchez ⭐ Jim Helm ⭐ Rhys Jones ⭐ James North ⭐ André Barata ⭐
            Tristan Remy ⭐ Shingo Ishida ⭐ Julius Binder ⭐ Mikko Mensonen ⭐
            Stefan Hellwig ⭐ Brett Hagen ⭐ Dennis Malmin ⭐ Andrew Keenan
            Richardson ⭐ Michel Filipe ⭐ Baptiste Rajaut ⭐ Sebastian Löw ⭐
            Jonatan Rosenius ⭐ Samega 7Cattac ⭐ Rebecca Müller ⭐ Jakub Judas
            ⭐ your mom ⭐ Max Buchholz ⭐ Eve Carletti ⭐ Aman Chhabra ⭐ Artur
            Pieniążek ⭐ Eric NGUYEN ⭐ Marco Julian Solanki ⭐ Milton Hagler ⭐
            Jeff Cain ⭐ Paul Fleischer ⭐ Vincent Wilms ⭐ Daniel Lloyd-Miller
            ⭐ Christopher Mandlbaur ⭐ Nils Martens ⭐ Zane Godden ⭐ Batuhan
            Cinar ⭐ Marko Hehl ⭐ Burgess Chang ⭐ Luis Alvarado ⭐ Rainier
            Ramos ⭐ Guillaume GAY ⭐ Markus Meier ⭐ Regina Abendroth ⭐
            Frédéric LAURENT ⭐ edwin vervliet ⭐ Chris Davis ⭐ Nicolas Rojas
            ⭐ Andrew Munkres ⭐ Michael Stemle ⭐ Jacob Perron ⭐ Klemen Košir
            ⭐ Denis Jovic ⭐ Sergio Rodríguez Sansano ⭐ Joshua Mohr ⭐ Justus
            Tartz ⭐ MD RIDOWAN ⭐ Christoffer Jansson ⭐ Michal Hlaváč ⭐
            Gaurav Dasharathe ⭐ Nicholas Harper ⭐ Yann Nux ⭐ Dougie Beney ⭐
            Ryan Chambers ⭐ Nick Severino ⭐ Ivan Sabourin ⭐ Mohammad
            Rawashdeh ⭐ Aaron Bockelie ⭐ Helge Bahmann ⭐ Andres Betts ⭐ Will
            Styler ⭐ Ramón Cahenzli ⭐ Anthony Beninati ⭐ Benjamin Tzschoppe
            ⭐ Robert Riemann ⭐ Alma Gottlieb ⭐ Ingo Klöcker ⭐ Andreas
            Heinkelein ⭐ Nicola Feltrin ⭐ Bob Richter ⭐ Wesley Schroth ⭐
            Blair Thiessen ⭐ Riho Kalbus ⭐ Adam Dymitruk ⭐ Jack Case ⭐ Achim
            Bohnet ⭐ Angelos Skembris ⭐ Tom Schwarz ⭐ Leif-Jöran Olsson ⭐
            Patrick David ⭐ Mitchel Bone ⭐ Gleb Sinyavskiy ⭐ Lukas Kucerik ⭐
            Kristian Kriehl ⭐ Vincent Delor ⭐ Witold Sosnowski ⭐ Brian Lemons
            ⭐ Pablo Caballero ⭐ Fco Javier Bolívar ⭐ Archie Lamb ⭐ Martin
            Bednar ⭐ Michael Alexsander ⭐ Thomas ROBIN ⭐ Stephen Crocker ⭐
            Gabriel Morell ⭐ Johannes Wolf ⭐ Brandon Clark ⭐ Solomatin
            Vladimir ⭐ Thomas Karpiniec ⭐ François-Xavier Thomas ⭐ Owen
            Sessiecq ⭐ Jordi Ferrando ⭐ Keelan Jones ⭐ James Fryman ⭐ Joshua
            Phelps ⭐ Victor Castillo ⭐ Carlos Gonzalez Cortes ⭐ Lino Moser ⭐
            Andrea Scartazza ⭐ Jeremy Winter ⭐ Daniel Bagge ⭐ Stefan Neacsu
            ⭐ Dylan Taylor ⭐ Paul Porubsky ⭐ Ulrich Schreiner ⭐ Batuhan
            Taskaya ⭐ Peter Strick ⭐ Hendrik Richter ⭐ Mischa Zschokke-Gohl
            ⭐ Tapio Metsälä ⭐ Raphael Pretot ⭐ Calin Cerghedean ⭐ scaine uk
            ⭐ Tamas Kornman ⭐ Jonas Mutke ⭐ Matthew Orr ⭐ Samuel Jordan
            Kleinman ⭐ Fabian Niepelt ⭐ Bruno Rocha ⭐ Joan Aluja Oraá ⭐ Evan
            Chang ⭐ Michael Lelli ⭐ Marco Nelles ⭐ Ralf Hein ⭐ Arian
            Wichmann ⭐ Denis Doria ⭐ Jon Stelly ⭐ Nick Beaton ⭐ David
            Martinez ⭐ Andre Ramnitz ⭐ Jason Logue ⭐ David Walluscheck ⭐
            Rahul Ramesh ⭐ Dave Lewis ⭐ Max Schwarz ⭐ Manuel Bödder ⭐ Lasse
            Danegod ⭐ Florian Dazinger ⭐ Linda Polman ⭐ Marius Hergel ⭐
            Eduard Nikoleisen ⭐ Jeroen Tor ⭐ Torsten Fratzke ⭐ Stephane
            Perrin ⭐ Daniel Noga ⭐ Jakob Rath ⭐ Alexey Andreyev ⭐ Dominik
            Viskovic ⭐ Dan Heneise ⭐ Erik Naprstek ⭐ Peter Simonsson ⭐
            Costin-Tiberiu Vasilescu ⭐ Chris Niewiarowski ⭐ Gerbrand van
            Dieyen ⭐ Moritz Schulte ⭐ Tommy Beauclair-Mariotti ⭐ Étienne Pain
            ⭐ Jed Baldwin ⭐ John McKinney ⭐ Wyatt Childers ⭐ Asim Shrestha
            ⭐ Cristian Le ⭐ Hennie Marais ⭐ Gabriel Malo ⭐ Marián Polťák ⭐
            David Gow ⭐ Lisardo Sobrino ⭐ Nathan Pennington ⭐ Mark Woltman ⭐
            Florian Klamer ⭐ Simon Finlay ⭐ Chris Killingsworth ⭐ Robert
            McCarter ⭐ Kevin McCarthy ⭐ Jacopo Schiavon ⭐ George Pchelkin ⭐
            Spencer Sawyer ⭐ Linus Fell ⭐ Tomás Duarte ⭐ Łukasz Plich ⭐ Arne
            Keller ⭐ Marcel Pierre Simon ⭐ Brendan Foote ⭐ Simon Hötten ⭐
            Klaus Wagner ⭐ Muthanna K. ⭐ Marco Götze ⭐ Diego Miguel Lozano ⭐
            Nikolai Eugen Sandvik ⭐ Federico Dossena ⭐ Elijah Helms ⭐
            Alexandre BROUET ⭐ Ian Boll ⭐ William Z ⭐ Tobias Brunner ⭐
            Nostre NZ ⭐ Petronio Coelho ⭐ Jason Seville ⭐ Amritpal Gill ⭐
            JIMI ROSS ⭐ Achim Königs ⭐ Cornelius Kluge ⭐ Luke Renaud ⭐
            Christopher Clarke ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Martín
            Libedinsky ⭐ Petri Koskimaa ⭐ Merry Mello ⭐ Nathan Wolf ⭐ Galin
            Yordanov ⭐ Neal Gompa ⭐ Mihail Morosan ⭐ Jens Erdmann ⭐ Aroun
            Clément Baudouin-van Os ⭐ Ivo Marciniak ⭐ Bryan Zaffino ⭐ Marcel
            Siggelsten ⭐ Jonas Hucklenbroich ⭐ Yishu Wang ⭐ Samuel Allen ⭐
            Dyllan Kobal ⭐ Antoni Aloy Torrens ⭐ Nicolai Manique ⭐ Frank
            Mankel ⭐ Trey Boyer ⭐ Mateusz Dytkowski ⭐ Michael Singer ⭐ Sandy
            F ⭐ Mark Marsh ⭐ Linus Karl ⭐ Alistair Bain ⭐ Alishams Hassam ⭐
            Will Butler ⭐ Samir Nassar ⭐ OC Blanco ⭐ Sebastian Turzanski ⭐
            Malte Jürgens ⭐ Aleksei Liudskoi ⭐ Christian Hofstede-Kuhn ⭐
            Techin Eamrurksiri ⭐ Jay Tuckey ⭐ Francesco Sardara ⭐ Harald Gall
            ⭐ Mateusz Brdoń ⭐ Steven Naumov ⭐ Christian Gmeiner ⭐ Julien
            Enselme ⭐ Aurélien COUDERC ⭐ Huw McNamara ⭐ Alexander Ypema ⭐
            Teodor Calin Sirbu ⭐ Kjetil Fjellheim ⭐ Ethan Li ⭐ Diego Saavedra
            Aguirre ⭐ Lukas Skala ⭐ Nathan Westerman ⭐ Jan De Luyck ⭐
            Nathaniel Housman ⭐ Michael Brunner ⭐ Cody Harrison ⭐ Benny
            Fields ⭐ Jaroslav Reznik ⭐ R.A. Bijl ⭐ Sergi Navas ⭐ Justin
            Geigley ⭐ Tim Blomme ⭐ Sarat Chandra ⭐ Zacharie Monnet ⭐ Petr
            Kadlec ⭐ Grégoire Duvauchelle ⭐ Rob Goris ⭐ Valerio Pilo ⭐ Zoran
            Dimovski ⭐ Jonas Büttner ⭐ Travis Suel ⭐ Philipp Slusallek ⭐
            Julio Moya ⭐ Jens Reimann ⭐ Lauren Howe ⭐ Douglas Shaw ⭐ Paul
            McAuley ⭐ Shawn Dunn ⭐ Monica Ayhens-Madon ⭐ Paul Worrall ⭐
            Márton Lente ⭐ Linghai Yan ⭐ Mark Hiles ⭐ Matt Milliman ⭐ Bailey
            Hollis ⭐ Timothy Carr ⭐ Gernot Schiller ⭐ Jonas Gamao ⭐ Harry A
            ⭐ David Chocholatý ⭐ Björn Aili ⭐ Leander Nachreiner ⭐ Paul
            Merryfellow ⭐ Paxriel Pax ⭐ Moritz Niesen ⭐ William Wojciechowski
            ⭐ Stefan Zurucker-Burda ⭐ Antonio Teixeira ⭐ John Chufar ⭐ Logan
            Rogers-Follis ⭐ Dennis Zellner ⭐ Jens Churchill ⭐ Richard BEOLET
            ⭐ Jarsto van Santen ⭐ Long Vu ⭐ Lukas Neubert ⭐ Matthew Brunelle
            ⭐ Tubo Shi ⭐ Henning Sextro ⭐ Moritz Lammerich ⭐ Alexander
            Schmitt ⭐ Zhangzhi Hu ⭐ Dirk Holsopple ⭐ Petr Tesarik ⭐ Matthew
            Henry ⭐ Thomas Eckart ⭐ Laust Lund Kristensen ⭐ Zdenek Zikan ⭐
            Jan Iversen ⭐ Dave X ⭐ Rocky Cardwell ⭐ Ryein Goddard ⭐ Richard
            Acton ⭐ Matheus Ferreira Messias Guedes ⭐ Philipp Lohnes ⭐
            Patrick Nagel ⭐ Florian Stadler ⭐ Srikar Gottipati ⭐ Luis Büchi
            ⭐ Szymon Łągiewka ⭐ Timo Büttner ⭐ ILIOPOULOS IOANNIS ⭐ Brian
            Aberts ⭐ Michel van Son ⭐ Luciano Barea ⭐ Johann Jacobsohn ⭐
            Emil Larsson ⭐ Benjamin Xiao ⭐ Störm Poorun ⭐ Julian Braha ⭐
            Christoph Hümbert ⭐ Andrei Ioachim ⭐ Gerhard Dittes ⭐ Ole
            Solbakken ⭐ Valentin Petzel ⭐ Pascal Mages ⭐ Mukilan Thiyagarajan
            ⭐ Benjamin Terrier ⭐ Alexander Gurenko ⭐ Christoph Vollmer ⭐
            Nicola Mingotti ⭐ Daan Boerlage ⭐ Carl Schwan ⭐ Andrey Melentyev
            ⭐ Steven Barrett ⭐ Shayne Johnson ⭐ Max R ⭐ Kim Hayo ⭐
            Przemysław Romanik ⭐ Mario Loik ⭐ Sergei Golimbievsky ⭐ Thibaud
            Franchetti ⭐ Jacob Ludvigsen ⭐ Nathan Misner ⭐ Dino Čobo ⭐
            Jaspal Chauhan ⭐ Fred Dickens ⭐ Herbert Feiler ⭐ Nikita Malgin ⭐
            Lenno Nagel ⭐ Henri Michael ⭐ Peter König ⭐ Jacob Becker ⭐ Odin
            Vex ⭐ Régis GUYOMARCH ⭐ Ondřej Vodáček ⭐ Gerardus Franciscus
            Maria van Iersel ⭐ Jérémy Friche ⭐ Aljosha Papsch ⭐ David Germain
            ⭐ Florian Dittmer ⭐ Łukasz Konieczny ⭐ Sébastien Monassa ⭐ Robin
            Slot ⭐ Flori G ⭐ Arthur Tadier ⭐ Dmitry Misharov ⭐ Skye Van
            Valkenburgh ⭐ Anael González Paz ⭐ Pascal Schmidt ⭐ Coty Ternes
            ⭐ Lars Jose ⭐ Sebastian Goth ⭐ Wolfgang Kerschbaumer ⭐ Sam
            Smucny ⭐ Severin Hamader ⭐ José Couto ⭐ Alejandro Muñoz Fernández
            ⭐ Florentin Rack ⭐ Florian Edelmann ⭐ Sebastian Paul ⭐ Mustafa
            Muhammad ⭐ Simon Berz ⭐ Steffen Jaspe
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
