<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/akonadi-15.08.1.tar.xz">akonadi-15.08.1</a></td>
   <td align="right">271kB</td>
   <td><tt>9827d902370639403eb57f56e6a1205ce9a3330b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/akonadi-calendar-15.08.1.tar.xz">akonadi-calendar-15.08.1</a></td>
   <td align="right">112kB</td>
   <td><tt>4f64a656305f63c68f018206e95d80a61e061a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/akonadi-search-15.08.1.tar.xz">akonadi-search-15.08.1</a></td>
   <td align="right">59kB</td>
   <td><tt>a10449a0bc7e8564da1697f7d5a1b5840347c688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/amor-15.08.1.tar.xz">amor-15.08.1</a></td>
   <td align="right">171kB</td>
   <td><tt>fb1f9546f8cbc039b654a7b450e3eda1a8a9bd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/analitza-15.08.1.tar.xz">analitza-15.08.1</a></td>
   <td align="right">222kB</td>
   <td><tt>c803648ec2716e1a7dedd7d6040d65fc597056a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ark-15.08.1.tar.xz">ark-15.08.1</a></td>
   <td align="right">218kB</td>
   <td><tt>2d33b6a7f4012e32fd5966e8075bed60807268ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/artikulate-15.08.1.tar.xz">artikulate-15.08.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>3208de73738b1e3f840d33c058573111fb029a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/audiocd-kio-15.08.1.tar.xz">audiocd-kio-15.08.1</a></td>
   <td align="right">50kB</td>
   <td><tt>788e65e217f7f305dc1598ae2a58e352fa312cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/baloo-widgets-15.08.1.tar.xz">baloo-widgets-15.08.1</a></td>
   <td align="right">55kB</td>
   <td><tt>c0f22c10196213777159cec5e582986744d394ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/blinken-15.08.1.tar.xz">blinken-15.08.1</a></td>
   <td align="right">553kB</td>
   <td><tt>7f3bc7cff5cec926ffda78b4cae46f9afca84a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/bomber-15.08.1.tar.xz">bomber-15.08.1</a></td>
   <td align="right">384kB</td>
   <td><tt>2f178d28844b829b05513caedcde688705c65983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/bovo-15.08.1.tar.xz">bovo-15.08.1</a></td>
   <td align="right">102kB</td>
   <td><tt>45226f6f1d726cbea5d9815ddd7a374681a9d382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/cantor-15.08.1.tar.xz">cantor-15.08.1</a></td>
   <td align="right">348kB</td>
   <td><tt>bcc5cb39bb9febf51bf70b3e8ebe03e58f1ca692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/cervisia-15.08.1.tar.xz">cervisia-15.08.1</a></td>
   <td align="right">364kB</td>
   <td><tt>ea6f215b61beac8d49d0c31926360ccf65215388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/dolphin-15.08.1.tar.xz">dolphin-15.08.1</a></td>
   <td align="right">641kB</td>
   <td><tt>a5c70021eceb0d77116a635ca063ae22dc516ffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/dolphin-plugins-15.08.1.tar.xz">dolphin-plugins-15.08.1</a></td>
   <td align="right">57kB</td>
   <td><tt>7113637c4bf744603f4f2886c88b3656dc5805fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/dragon-15.08.1.tar.xz">dragon-15.08.1</a></td>
   <td align="right">393kB</td>
   <td><tt>801b8c2b08906e3dbe19961423ee1d0e23a7731b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ffmpegthumbs-15.08.1.tar.xz">ffmpegthumbs-15.08.1</a></td>
   <td align="right">19kB</td>
   <td><tt>5ccbcc942c2b7df35afcd6c2b130658bd7617f02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/filelight-15.08.1.tar.xz">filelight-15.08.1</a></td>
   <td align="right">280kB</td>
   <td><tt>3cbf6c926bbb5eb0051444d6d1fe9c88aa1262c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/gpgmepp-15.08.1.tar.xz">gpgmepp-15.08.1</a></td>
   <td align="right">65kB</td>
   <td><tt>2af6d0a4c33a433d8be6c1e144f40cd071703abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/granatier-15.08.1.tar.xz">granatier-15.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5903d3b4617ded5eb62f5aae463068d7cc9f2f49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/gwenview-15.08.1.tar.xz">gwenview-15.08.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>31efb06b4d328561d58929e64df8cf008f1194ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/jovie-15.08.1.tar.xz">jovie-15.08.1</a></td>
   <td align="right">383kB</td>
   <td><tt>46bc3afcdfc3a9812535655a2ad7ca564b90b22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/juk-15.08.1.tar.xz">juk-15.08.1</a></td>
   <td align="right">434kB</td>
   <td><tt>5fdb8b8344340894635ddf6aef5e6edf0824d379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kaccessible-15.08.1.tar.xz">kaccessible-15.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>af272ddd47e8a596b3c29aa8620323c7e6ec1247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kaccounts-integration-15.08.1.tar.xz">kaccounts-integration-15.08.1</a></td>
   <td align="right">58kB</td>
   <td><tt>3548ab25ce6bcde37b66e08a75735d847310aa3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kaccounts-providers-15.08.1.tar.xz">kaccounts-providers-15.08.1</a></td>
   <td align="right">11kB</td>
   <td><tt>497b7851ce0918849b7bf6302adeeed85f69eb10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kajongg-15.08.1.tar.xz">kajongg-15.08.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>073515808ca41dfba0d1b432dbd4079499ca1760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kalarmcal-15.08.1.tar.xz">kalarmcal-15.08.1</a></td>
   <td align="right">85kB</td>
   <td><tt>cec5149f1764d711331d4c5815fbe71cf5e5f43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kalgebra-15.08.1.tar.xz">kalgebra-15.08.1</a></td>
   <td align="right">263kB</td>
   <td><tt>1f0625c516e1ba36a3f3784b1704735564196a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kalzium-15.08.1.tar.xz">kalzium-15.08.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>afe31d9f33cc4fc8e26ce64a564bba479bb9831a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kamera-15.08.1.tar.xz">kamera-15.08.1</a></td>
   <td align="right">34kB</td>
   <td><tt>5050ceec25ca2be39912b926ca2ea5ef36ea0742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kanagram-15.08.1.tar.xz">kanagram-15.08.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>5a4af1a504eb18d6a5c4dab85a633b28ec606285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kapman-15.08.1.tar.xz">kapman-15.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>729692d72801885224bf2f80b0d18deda30d57f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kapptemplate-15.08.1.tar.xz">kapptemplate-15.08.1</a></td>
   <td align="right">689kB</td>
   <td><tt>1ace656b02298dd8d7c4c2f34d169f7f84f4b514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kate-15.08.1.tar.xz">kate-15.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2acda6219b6243b62d548b2e82e8965b24e9ed3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/katomic-15.08.1.tar.xz">katomic-15.08.1</a></td>
   <td align="right">646kB</td>
   <td><tt>7220842e0c9c6adb76840d6060e8c988d09d861e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kblackbox-15.08.1.tar.xz">kblackbox-15.08.1</a></td>
   <td align="right">255kB</td>
   <td><tt>ff5180ef7f9101910971f961190c88601024b9bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kblocks-15.08.1.tar.xz">kblocks-15.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2deba87602b89c50fcff95997a2144c4b2fe9668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kblog-15.08.1.tar.xz">kblog-15.08.1</a></td>
   <td align="right">43kB</td>
   <td><tt>613835d7d5b00665e6c0d2f5b99a1f8b2b43700e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kbounce-15.08.1.tar.xz">kbounce-15.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a1b27df24e34a8070c23b16b584bb1e64d75673f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kbreakout-15.08.1.tar.xz">kbreakout-15.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3b6e0a2ea34577dd54e14085008e2b393d9b0ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kbruch-15.08.1.tar.xz">kbruch-15.08.1</a></td>
   <td align="right">883kB</td>
   <td><tt>974cd80b9429a4a677ee80c09f2804065eb4f4b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kcachegrind-15.08.1.tar.xz">kcachegrind-15.08.1</a></td>
   <td align="right">232kB</td>
   <td><tt>f36e7031a5ae964c8fe64a477063492738a97d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kcalc-15.08.1.tar.xz">kcalc-15.08.1</a></td>
   <td align="right">81kB</td>
   <td><tt>b08c7672094d4781ee2031c16b64cca52714a8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kcalcore-15.08.1.tar.xz">kcalcore-15.08.1</a></td>
   <td align="right">287kB</td>
   <td><tt>bfe67c863dd5d2dd0ba36763dfa864ededc65490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kcalutils-15.08.1.tar.xz">kcalutils-15.08.1</a></td>
   <td align="right">53kB</td>
   <td><tt>8fe473249fe6c4d23295c9efe5e59a7776f66321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kcharselect-15.08.1.tar.xz">kcharselect-15.08.1</a></td>
   <td align="right">82kB</td>
   <td><tt>90d3edbec7a73371d769193f755b361727efabce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kcolorchooser-15.08.1.tar.xz">kcolorchooser-15.08.1</a></td>
   <td align="right">4kB</td>
   <td><tt>5c312c6c916928ce4dad3c2e89d05219371c78a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kcontacts-15.08.1.tar.xz">kcontacts-15.08.1</a></td>
   <td align="right">132kB</td>
   <td><tt>8045cf9d3094844e63c2d95e1689043b58a3cbb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kcron-15.08.1.tar.xz">kcron-15.08.1</a></td>
   <td align="right">136kB</td>
   <td><tt>7400d8aa11a592d152e0062bd947d87c9040a4a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdeartwork-15.08.1.tar.xz">kdeartwork-15.08.1</a></td>
   <td align="right">134MB</td>
   <td><tt>cafa04d5bef2a0f6f7098c8103b895cafe9dc763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-baseapps-15.08.1.tar.xz">kde-baseapps-15.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>32124de89b07b3ce562b2e22d363ae6be0a58abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-base-artwork-15.08.1.tar.xz">kde-base-artwork-15.08.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>a2ee05540b31da087f99126f0548669762f5e82d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdebugsettings-15.08.1.tar.xz">kdebugsettings-15.08.1</a></td>
   <td align="right">21kB</td>
   <td><tt>6b0f2d1a77a16a2e8502ae2b4835abe20d22e078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-dev-scripts-15.08.1.tar.xz">kde-dev-scripts-15.08.1</a></td>
   <td align="right">299kB</td>
   <td><tt>c913c39327d3a99ab5251d7459f0c753c52500b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-dev-utils-15.08.1.tar.xz">kde-dev-utils-15.08.1</a></td>
   <td align="right">50kB</td>
   <td><tt>2c338772eefba9851674a95d0e94d6845a3755a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdeedu-data-15.08.1.tar.xz">kdeedu-data-15.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>4775b27d58f8dec89b8473b08ec274799205bf5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdegraphics-mobipocket-15.08.1.tar.xz">kdegraphics-mobipocket-15.08.1</a></td>
   <td align="right">14kB</td>
   <td><tt>5be2506074cfcb5eef314737f3082db86c290df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdegraphics-strigi-analyzer-15.08.1.tar.xz">kdegraphics-strigi-analyzer-15.08.1</a></td>
   <td align="right">39kB</td>
   <td><tt>36c322a824309f4321b4ff6f0ceef984526d8120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdegraphics-thumbnailers-15.08.1.tar.xz">kdegraphics-thumbnailers-15.08.1</a></td>
   <td align="right">40kB</td>
   <td><tt>44b19018ab645d3512f410dcb89add7b00dc1f56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdelibs-4.14.12.tar.xz">kdelibs-4.14.12</a></td>
   <td align="right">11MB</td>
   <td><tt>4e2fc81f0a21c15399e060943b6179c449e866d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdenetwork-filesharing-15.08.1.tar.xz">kdenetwork-filesharing-15.08.1</a></td>
   <td align="right">26kB</td>
   <td><tt>22da2e400211675cad70bc12238019ffd845a4db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdenetwork-strigi-analyzers-15.08.1.tar.xz">kdenetwork-strigi-analyzers-15.08.1</a></td>
   <td align="right">14kB</td>
   <td><tt>0badab2983eab6fa6821ca433bad3bea95ca2bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdenlive-15.08.1.tar.xz">kdenlive-15.08.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>30553db4c64d77e40ae0c03e098cee2fc7de9b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdepim-15.08.1.tar.xz">kdepim-15.08.1</a></td>
   <td align="right">8.6MB</td>
   <td><tt>77b9546fe80a75dd92e55ef6c85861416c0cc8e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdepimlibs-15.08.1.tar.xz">kdepimlibs-15.08.1</a></td>
   <td align="right">993kB</td>
   <td><tt>6659e74c29c86f730c8039bc51b15c74b3e945bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdepim-runtime-15.08.1.tar.xz">kdepim-runtime-15.08.1</a></td>
   <td align="right">693kB</td>
   <td><tt>fcab275175a82152ee2345a8657e0ab238f7033a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-runtime-15.08.1.tar.xz">kde-runtime-15.08.1</a></td>
   <td align="right">7.5MB</td>
   <td><tt>00846093c4d0c5d562c6c8d0a4e79da1fbc6833c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdesdk-kioslaves-15.08.1.tar.xz">kdesdk-kioslaves-15.08.1</a></td>
   <td align="right">352kB</td>
   <td><tt>769fdeaa16f477187dd0c90d583e3bd227393ef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdesdk-strigi-analyzers-15.08.1.tar.xz">kdesdk-strigi-analyzers-15.08.1</a></td>
   <td align="right">17kB</td>
   <td><tt>f0b1abb77a71b2751c113f6211b589f1921b0071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdesdk-thumbnailers-15.08.1.tar.xz">kdesdk-thumbnailers-15.08.1</a></td>
   <td align="right">11kB</td>
   <td><tt>891958ba0bc38f380b0429b6a24b3573a2cd0570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-wallpapers-15.08.1.tar.xz">kde-wallpapers-15.08.1</a></td>
   <td align="right">86MB</td>
   <td><tt>d852d68ff4d22e1d67c279a0dde25a218b11a62a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdewebdev-15.08.1.tar.xz">kdewebdev-15.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2c2a7fc7b7be0d779a1951382a0d16ab3b0b749f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdf-15.08.1.tar.xz">kdf-15.08.1</a></td>
   <td align="right">145kB</td>
   <td><tt>57defcb1dedf3ff2932e96e8231c124a1f43d77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kdiamond-15.08.1.tar.xz">kdiamond-15.08.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>6121b3bff2b8693944b58eb0656c0f5cf5cade3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kfloppy-15.08.1.tar.xz">kfloppy-15.08.1</a></td>
   <td align="right">52kB</td>
   <td><tt>6bbe5cb950f5881d7e3545c2216163d46fdc3c8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kfourinline-15.08.1.tar.xz">kfourinline-15.08.1</a></td>
   <td align="right">274kB</td>
   <td><tt>edfcb93370b255ae3d7e9e37d3ee040717e291fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kgeography-15.08.1.tar.xz">kgeography-15.08.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>81a1fa6281be83c11af74443ea03160498d65f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kget-15.08.1.tar.xz">kget-15.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>41f1dfb1020270ded75a25603ce111eb5d38bfb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kgoldrunner-15.08.1.tar.xz">kgoldrunner-15.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9315b0f58cc08737be83bbdca7771d60b791fa30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kgpg-15.08.1.tar.xz">kgpg-15.08.1</a></td>
   <td align="right">791kB</td>
   <td><tt>0ff82c4711a477e08c10765451aae573de4f759e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/khangman-15.08.1.tar.xz">khangman-15.08.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>37190d84525cbc696ebf6b54d43b4ee5ecffdef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kholidays-15.08.1.tar.xz">kholidays-15.08.1</a></td>
   <td align="right">167kB</td>
   <td><tt>9b5f8f36129b6152436e5ffc0c00be09d4d8b3c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kidentitymanagement-15.08.1.tar.xz">kidentitymanagement-15.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>b1f80e249c2aeb9d5608e68432459d3c0eb9ff08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kig-15.08.1.tar.xz">kig-15.08.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>4d9accefd3c47fb3145f524066485b93d7dab984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kigo-15.08.1.tar.xz">kigo-15.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>66493e5c60b7d0ccc3236f7f1d92d226bcaedac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/killbots-15.08.1.tar.xz">killbots-15.08.1</a></td>
   <td align="right">941kB</td>
   <td><tt>aeda6ab3c773df810a3b955ec6334f8423401cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kimap-15.08.1.tar.xz">kimap-15.08.1</a></td>
   <td align="right">87kB</td>
   <td><tt>ad85b5462d0400ecbc16ff124f8902aad30998f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kio-extras-15.08.1.tar.xz">kio-extras-15.08.1</a></td>
   <td align="right">259kB</td>
   <td><tt>8416ef81270cc9c97aeafac5bf6a3cc595a76433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kiriki-15.08.1.tar.xz">kiriki-15.08.1</a></td>
   <td align="right">115kB</td>
   <td><tt>31e0f89f639010dec87c07a69e94a3bba8d2e925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kiten-15.08.1.tar.xz">kiten-15.08.1</a></td>
   <td align="right">11MB</td>
   <td><tt>d920a26dd0e7955865e360171754870dadd6130d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kjumpingcube-15.08.1.tar.xz">kjumpingcube-15.08.1</a></td>
   <td align="right">161kB</td>
   <td><tt>ae824b775a1741704d4acd560efe2e07d270df3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kldap-15.08.1.tar.xz">kldap-15.08.1</a></td>
   <td align="right">52kB</td>
   <td><tt>5f70f775f491e41daf8167ac790e02f15cdd5ac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/klettres-15.08.1.tar.xz">klettres-15.08.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>282bdf9d4ebb5c72008707ef639580cdc390692e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/klickety-15.08.1.tar.xz">klickety-15.08.1</a></td>
   <td align="right">765kB</td>
   <td><tt>84d32c030527ee9e1b1efed43153358ab2d7a75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/klines-15.08.1.tar.xz">klines-15.08.1</a></td>
   <td align="right">927kB</td>
   <td><tt>f96f7bea1df8e3b6beb3091756cc9deda829974e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmag-15.08.1.tar.xz">kmag-15.08.1</a></td>
   <td align="right">84kB</td>
   <td><tt>b7a4a37ee3d1c4c4012c51b02917a3a3d6d350e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmahjongg-15.08.1.tar.xz">kmahjongg-15.08.1</a></td>
   <td align="right">984kB</td>
   <td><tt>46420b475bdfddba950e82c24bb66f43b263e6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmailtransport-15.08.1.tar.xz">kmailtransport-15.08.1</a></td>
   <td align="right">64kB</td>
   <td><tt>ad3cb342a65d9567df57084428d427a70e8c87d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmbox-15.08.1.tar.xz">kmbox-15.08.1</a></td>
   <td align="right">23kB</td>
   <td><tt>444043b899618d5057ed6dfa8bf87ce57cb12d34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmime-15.08.1.tar.xz">kmime-15.08.1</a></td>
   <td align="right">121kB</td>
   <td><tt>093f7f753bbcbddbeba6590af26ebdf7987331c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmines-15.08.1.tar.xz">kmines-15.08.1</a></td>
   <td align="right">609kB</td>
   <td><tt>d9f6ca5b8d2979ae19d341a053900555ff598fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmix-15.08.1.tar.xz">kmix-15.08.1</a></td>
   <td align="right">379kB</td>
   <td><tt>19ae3bffa4d579eddb5f9bd57aabb3fac8511847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmousetool-15.08.1.tar.xz">kmousetool-15.08.1</a></td>
   <td align="right">35kB</td>
   <td><tt>e0a4ae8e2f72340fc60e121e001350dc23519dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmouth-15.08.1.tar.xz">kmouth-15.08.1</a></td>
   <td align="right">270kB</td>
   <td><tt>3fbd9521b66b17ef7e25e96f547aa4f5a93acd41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kmplot-15.08.1.tar.xz">kmplot-15.08.1</a></td>
   <td align="right">647kB</td>
   <td><tt>b50ea3f42dcbff75a4d5b04014b9ea19c53cc12c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/knavalbattle-15.08.1.tar.xz">knavalbattle-15.08.1</a></td>
   <td align="right">834kB</td>
   <td><tt>9cb9620b2fb6aa62f002f9defa199c292523a07a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/knetwalk-15.08.1.tar.xz">knetwalk-15.08.1</a></td>
   <td align="right">765kB</td>
   <td><tt>da5aa9fc9db00a57d50a8e42f0863b3c3ddec173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kolf-15.08.1.tar.xz">kolf-15.08.1</a></td>
   <td align="right">749kB</td>
   <td><tt>6af4af9b260e60db46346df44dd55669d1c83829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kollision-15.08.1.tar.xz">kollision-15.08.1</a></td>
   <td align="right">204kB</td>
   <td><tt>fbcb763b1a627ced2e6685d5ae61b7b273981585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kolourpaint-15.08.1.tar.xz">kolourpaint-15.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>68f6500fda4bdc35692f9cdb056ada465319fe4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kompare-15.08.1.tar.xz">kompare-15.08.1</a></td>
   <td align="right">336kB</td>
   <td><tt>d4513f8b10d2b87bd662a0050dee84f615de7be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/konquest-15.08.1.tar.xz">konquest-15.08.1</a></td>
   <td align="right">396kB</td>
   <td><tt>dfb54c34049a5510d1779024d838f286020f013b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/konsole-15.08.1.tar.xz">konsole-15.08.1</a></td>
   <td align="right">448kB</td>
   <td><tt>ce9f7b9fdc3613a26f657270481c093e84934672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kontactinterface-15.08.1.tar.xz">kontactinterface-15.08.1</a></td>
   <td align="right">24kB</td>
   <td><tt>58a337191b85912c9615d6291d563f597d8f0fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kopete-15.08.1.tar.xz">kopete-15.08.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5f56a6e575c3a6699c2b5b948226b8b860345feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kpat-15.08.1.tar.xz">kpat-15.08.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6b84b27358a42e0f3fc396f2728d901942f698d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kpimtextedit-15.08.1.tar.xz">kpimtextedit-15.08.1</a></td>
   <td align="right">38kB</td>
   <td><tt>57696d1860a10083bfe28e2425dc76c6c9955be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kppp-15.08.1.tar.xz">kppp-15.08.1</a></td>
   <td align="right">683kB</td>
   <td><tt>ec5806fa06c1103da7b6c312b02dff12affa04aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kqtquickcharts-15.08.1.tar.xz">kqtquickcharts-15.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>5085708cb3a4c4c972c236665fcd3ee8ed6677c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/krdc-15.08.1.tar.xz">krdc-15.08.1</a></td>
   <td align="right">389kB</td>
   <td><tt>f38f66487e626e7ea80f21f7c7a398d41bd41e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kremotecontrol-15.08.1.tar.xz">kremotecontrol-15.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7bff93c81ec52150efbdf948dc9985380f88ff29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kreversi-15.08.1.tar.xz">kreversi-15.08.1</a></td>
   <td align="right">464kB</td>
   <td><tt>cf1e7f6862d198bbeeb3d03abe534e289152f7a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/krfb-15.08.1.tar.xz">krfb-15.08.1</a></td>
   <td align="right">319kB</td>
   <td><tt>cc07a23162aaed0aa5a9c9c223a056447c503a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kross-interpreters-15.08.1.tar.xz">kross-interpreters-15.08.1</a></td>
   <td align="right">129kB</td>
   <td><tt>95fc28f7db705036f7b568c67623d821ade2cfef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kruler-15.08.1.tar.xz">kruler-15.08.1</a></td>
   <td align="right">120kB</td>
   <td><tt>0bb8d04234261628a91ecb4c4870cf83d145f21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ksaneplugin-15.08.1.tar.xz">ksaneplugin-15.08.1</a></td>
   <td align="right">12kB</td>
   <td><tt>76b69a3e38511f1d460bcefffe1bad33e355dd6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kscd-15.08.1.tar.xz">kscd-15.08.1</a></td>
   <td align="right">90kB</td>
   <td><tt>e98bd7cbebc7845b5a8e5529c49633c9cfe48791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kshisen-15.08.1.tar.xz">kshisen-15.08.1</a></td>
   <td align="right">133kB</td>
   <td><tt>a0d3f69226780aef079314fbb003277b51390734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ksirk-15.08.1.tar.xz">ksirk-15.08.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>574e3e1b812b8e49a194cd8eb14c4f4b08924cc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ksnakeduel-15.08.1.tar.xz">ksnakeduel-15.08.1</a></td>
   <td align="right">290kB</td>
   <td><tt>176c1d5a4c3cba73c20e21d9025f184f9bd9ed49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ksnapshot-15.08.1.tar.xz">ksnapshot-15.08.1</a></td>
   <td align="right">252kB</td>
   <td><tt>2738710cfaa4492800c647a153988a1359131cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kspaceduel-15.08.1.tar.xz">kspaceduel-15.08.1</a></td>
   <td align="right">247kB</td>
   <td><tt>383923aafcc077006478d544db53a4459d14459e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ksquares-15.08.1.tar.xz">ksquares-15.08.1</a></td>
   <td align="right">78kB</td>
   <td><tt>ec301ccd33ff5fa0a0bb9263b3290bc2bd7e8b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kstars-15.08.1.tar.xz">kstars-15.08.1</a></td>
   <td align="right">12MB</td>
   <td><tt>0c6e72b5aeba7b57e84b31f86b11bc75ca3ba8cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ksudoku-15.08.1.tar.xz">ksudoku-15.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>218f8e3f43594572a9475ad89a1602a98cc44992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ksystemlog-15.08.1.tar.xz">ksystemlog-15.08.1</a></td>
   <td align="right">372kB</td>
   <td><tt>042ca7f6e6db99b19b2dcf5e32aa4d6d03a4fb17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kteatime-15.08.1.tar.xz">kteatime-15.08.1</a></td>
   <td align="right">102kB</td>
   <td><tt>6b6eb35ed20f69494a5555626414ffdfdafd2190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktimer-15.08.1.tar.xz">ktimer-15.08.1</a></td>
   <td align="right">143kB</td>
   <td><tt>7d60018ec391bd9c697acb2305183d092a1d76db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktnef-15.08.1.tar.xz">ktnef-15.08.1</a></td>
   <td align="right">227kB</td>
   <td><tt>03a756f3a3050a5cb54f8e5d8011577536853cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktouch-15.08.1.tar.xz">ktouch-15.08.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>028df3bf5079885241f69bcd3af42e6091197861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-accounts-kcm-15.08.1.tar.xz">ktp-accounts-kcm-15.08.1</a></td>
   <td align="right">86kB</td>
   <td><tt>ae0a489b2860f3e0a3f42296728040f67eff2bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-approver-15.08.1.tar.xz">ktp-approver-15.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>5a8724cfb0dc691f90bb41faacf56d8b546d1692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-auth-handler-15.08.1.tar.xz">ktp-auth-handler-15.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>7a407a829b10dc3cfd35b1b8cbed565442679968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-common-internals-15.08.1.tar.xz">ktp-common-internals-15.08.1</a></td>
   <td align="right">306kB</td>
   <td><tt>00647b33256395a27794017c61c0a454bed9393f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-contact-list-15.08.1.tar.xz">ktp-contact-list-15.08.1</a></td>
   <td align="right">47kB</td>
   <td><tt>bf0e29e58b8c5f68dd1d3ef80b3f838061620cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-contact-runner-15.08.1.tar.xz">ktp-contact-runner-15.08.1</a></td>
   <td align="right">16kB</td>
   <td><tt>7748b397ffcedcc3c524f5ef07ae8263163cde24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-desktop-applets-15.08.1.tar.xz">ktp-desktop-applets-15.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>818f619a843b2354ebd21d9f896c574657cc6b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-filetransfer-handler-15.08.1.tar.xz">ktp-filetransfer-handler-15.08.1</a></td>
   <td align="right">22kB</td>
   <td><tt>f32335fd27405d8bf514af48be51cfbf9bc3f8d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-kded-module-15.08.1.tar.xz">ktp-kded-module-15.08.1</a></td>
   <td align="right">37kB</td>
   <td><tt>997d3df33a08e437b85030084d1455682b6a3754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-send-file-15.08.1.tar.xz">ktp-send-file-15.08.1</a></td>
   <td align="right">14kB</td>
   <td><tt>d3cf34704aa1ab76e3f32f123f91b44acb0cfb96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktp-text-ui-15.08.1.tar.xz">ktp-text-ui-15.08.1</a></td>
   <td align="right">287kB</td>
   <td><tt>f3b9628b245009a1da25850160d8f5f2e02b3b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktuberling-15.08.1.tar.xz">ktuberling-15.08.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>edf5607123670426e3e537ea882a184b1f4427aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kturtle-15.08.1.tar.xz">kturtle-15.08.1</a></td>
   <td align="right">189kB</td>
   <td><tt>54d505a87e5a5ea0198a296dac76669b63258b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/ktux-15.08.1.tar.xz">ktux-15.08.1</a></td>
   <td align="right">106kB</td>
   <td><tt>30ce426a1bdb361f85aaaf762882212831d3eaab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kubrick-15.08.1.tar.xz">kubrick-15.08.1</a></td>
   <td align="right">104kB</td>
   <td><tt>6db2ec4b75a76ab1eb8bcc2f100f2a9fa7b45d45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kuser-15.08.1.tar.xz">kuser-15.08.1</a></td>
   <td align="right">132kB</td>
   <td><tt>23bf3397a0ffe217ba6c8b53c9418af96b96a7f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kwalletmanager-15.08.1.tar.xz">kwalletmanager-15.08.1</a></td>
   <td align="right">446kB</td>
   <td><tt>796cf665672da8737d98f53f3103d189f6983402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kwordquiz-15.08.1.tar.xz">kwordquiz-15.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6e1872ea368d742e3658f22b9909f26851a2a03b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkcddb-15.08.1.tar.xz">libkcddb-15.08.1</a></td>
   <td align="right">154kB</td>
   <td><tt>4ac6ea2e269964e7846f9342e1fd13489057988e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkcompactdisc-15.08.1.tar.xz">libkcompactdisc-15.08.1</a></td>
   <td align="right">74kB</td>
   <td><tt>5a873d27df13e35bec8970a4828f31ded01f3a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkdcraw-15.08.1.tar.xz">libkdcraw-15.08.1</a></td>
   <td align="right">99kB</td>
   <td><tt>75e91308e2c36175bb7ec9b57cd3d4da5ddaa26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkdeedu-15.08.1.tar.xz">libkdeedu-15.08.1</a></td>
   <td align="right">128kB</td>
   <td><tt>e4d4e526e4341a645c6dc3a8117a506496a39324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkdegames-15.08.1.tar.xz">libkdegames-15.08.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>f86edc440ef643b7fa68c910106f3ddd9f729063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkeduvocdocument-15.08.1.tar.xz">libkeduvocdocument-15.08.1</a></td>
   <td align="right">96kB</td>
   <td><tt>6c3f9760a53fe7bd7574ca69f6b80c384e7003e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkexiv2-15.08.1.tar.xz">libkexiv2-15.08.1</a></td>
   <td align="right">134kB</td>
   <td><tt>7ab70bfdd59f57ce4ce27440de42ee1b27031f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkface-15.08.1.tar.xz">libkface-15.08.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>de4fce239eac323696a38af5e5363e67e164c4c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkgeomap-15.08.1.tar.xz">libkgeomap-15.08.1</a></td>
   <td align="right">121kB</td>
   <td><tt>605b2230690af4e506ce3fde56c6b618c7c03183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkipi-15.08.1.tar.xz">libkipi-15.08.1</a></td>
   <td align="right">92kB</td>
   <td><tt>5fcfb6a3568630b44d781f3ec75d798e778856ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkmahjongg-15.08.1.tar.xz">libkmahjongg-15.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>98152ebff4d14a6f9410b758615a425c7a02317c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libkomparediff2-15.08.1.tar.xz">libkomparediff2-15.08.1</a></td>
   <td align="right">55kB</td>
   <td><tt>a826d2ce639424fbc6b1e7603439e93ea7ad21a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/libksane-15.08.1.tar.xz">libksane-15.08.1</a></td>
   <td align="right">79kB</td>
   <td><tt>ad03dbfbac5b11781b87cf443307b7df45cded82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/lokalize-15.08.1.tar.xz">lokalize-15.08.1</a></td>
   <td align="right">930kB</td>
   <td><tt>a11b540febcf47065ab47416db720168b7a33289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/lskat-15.08.1.tar.xz">lskat-15.08.1</a></td>
   <td align="right">908kB</td>
   <td><tt>6a3440e4045f2652c2939295193d71559c4f1f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/marble-15.08.1.tar.xz">marble-15.08.1</a></td>
   <td align="right">22MB</td>
   <td><tt>1df82609a31b3fd678b2dd2f43d04588702e4ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/mplayerthumbs-15.08.1.tar.xz">mplayerthumbs-15.08.1</a></td>
   <td align="right">26kB</td>
   <td><tt>0f3bc25c635a168cf0870c9ad687a83ca6d64295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/okteta-15.08.1.tar.xz">okteta-15.08.1</a></td>
   <td align="right">492kB</td>
   <td><tt>8f6f1380e3e55ef9b0d27283196d7a994b44d8a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/okular-15.08.1.tar.xz">okular-15.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>87abdd8efc8520cddf686b220b83fe3290f8ef14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/palapeli-15.08.1.tar.xz">palapeli-15.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7cf5dd5b2008e2bc92f06a54dd7643f7228f08e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/parley-15.08.1.tar.xz">parley-15.08.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>a1313e6e0ef525bb6ae4a304a2db5b0c18c519ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/picmi-15.08.1.tar.xz">picmi-15.08.1</a></td>
   <td align="right">717kB</td>
   <td><tt>8147dc7972c949b96e52a67af9172e74c4971eda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/poxml-15.08.1.tar.xz">poxml-15.08.1</a></td>
   <td align="right">30kB</td>
   <td><tt>3132540eafda88600d1bb4dbab201dab5dfb5f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/print-manager-15.08.1.tar.xz">print-manager-15.08.1</a></td>
   <td align="right">91kB</td>
   <td><tt>076f4dffdd006f05e675467832da56703d67e0cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/rocs-15.08.1.tar.xz">rocs-15.08.1</a></td>
   <td align="right">522kB</td>
   <td><tt>3e84e215053dc341a4446d9b2b79312d9504228e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/signon-kwallet-extension-15.08.1.tar.xz">signon-kwallet-extension-15.08.1</a></td>
   <td align="right">10kB</td>
   <td><tt>9b8b8c772392f40b52e378d8fee2d8ccd20136f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/step-15.08.1.tar.xz">step-15.08.1</a></td>
   <td align="right">378kB</td>
   <td><tt>2373e32bf34b535af9ef9a63ce5cc3cc08e37606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/superkaramba-15.08.1.tar.xz">superkaramba-15.08.1</a></td>
   <td align="right">372kB</td>
   <td><tt>641259c163e59bff7632843347d975793596ba86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/svgpart-15.08.1.tar.xz">svgpart-15.08.1</a></td>
   <td align="right">8kB</td>
   <td><tt>773ce1859b08b40701615171f6c401509c5f61c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/sweeper-15.08.1.tar.xz">sweeper-15.08.1</a></td>
   <td align="right">80kB</td>
   <td><tt>28d749197c0cc921265e4f95d5515c8ebb8c203b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/syndication-15.08.1.tar.xz">syndication-15.08.1</a></td>
   <td align="right">156kB</td>
   <td><tt>83d78cb73447aeb39c9067020c313f2659091c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/umbrello-15.08.1.tar.xz">umbrello-15.08.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>36fcdc99d1ce0a1558afbab4414031db565b7fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/zeroconf-ioslave-15.08.1.tar.xz">zeroconf-ioslave-15.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>d84202c62a7dd7c6eec24f194d1bb5d11a06ab53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ar-15.08.1.tar.xz">kde-l10n-ar-15.08.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>089764e6aa38db01133f43cff82b67784464b6dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-bg-15.08.1.tar.xz">kde-l10n-bg-15.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7a263cd33cfa7fd3bb9480aecb65ec242992e33d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-bs-15.08.1.tar.xz">kde-l10n-bs-15.08.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a67ceecb8e4b01ca076ad359c60e6dd11641ed94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ca-15.08.1.tar.xz">kde-l10n-ca-15.08.1</a></td>
   <td align="right">11MB</td>
   <td><tt>3ce6c6ea3851a304b936a4d310138d840cafe75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ca@valencia-15.08.1.tar.xz">kde-l10n-ca@valencia-15.08.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d58607339972e76ca1ec74ce572c8fa00cdbd691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-cs-15.08.1.tar.xz">kde-l10n-cs-15.08.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>8db12788ab167cb75604576a6470023875ff33fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-da-15.08.1.tar.xz">kde-l10n-da-15.08.1</a></td>
   <td align="right">12MB</td>
   <td><tt>b615185d06524eee4d9987d5432ca7aa6fda7dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-de-15.08.1.tar.xz">kde-l10n-de-15.08.1</a></td>
   <td align="right">32MB</td>
   <td><tt>dce19194bc6e42c2e8fae61e73d16c51f2e18bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-el-15.08.1.tar.xz">kde-l10n-el-15.08.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>1daad1e8d5636bae58d6c6d9693bc6179cc01f34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-en_GB-15.08.1.tar.xz">kde-l10n-en_GB-15.08.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>f9e2010536ab64b358674c37a473954761247275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-eo-15.08.1.tar.xz">kde-l10n-eo-15.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5356db45a443985347dc7847488e224c70302637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-es-15.08.1.tar.xz">kde-l10n-es-15.08.1</a></td>
   <td align="right">17MB</td>
   <td><tt>07f23b65807a74e4aba9c0c4834cc4a85e57035a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-et-15.08.1.tar.xz">kde-l10n-et-15.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>74028072ec157e28f5dff34ff37107db80f1a7c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-eu-15.08.1.tar.xz">kde-l10n-eu-15.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>635070cc3f78024d01b957755a3de94365a5617d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-fa-15.08.1.tar.xz">kde-l10n-fa-15.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d4a10dba7fba7d24b6f236c228469c77378dc321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-fi-15.08.1.tar.xz">kde-l10n-fi-15.08.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>94db5f85a8f2af33b11628831a18b375c97b4049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-fr-15.08.1.tar.xz">kde-l10n-fr-15.08.1</a></td>
   <td align="right">42MB</td>
   <td><tt>757988a82c279a276f3db31918dbe1d47a4fc842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ga-15.08.1.tar.xz">kde-l10n-ga-15.08.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>25e96d995c7a7701f0b0a7090abe9255843bcc8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-gl-15.08.1.tar.xz">kde-l10n-gl-15.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>4cdd47e27aed64cddfee43d47caa1b279eca62a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-he-15.08.1.tar.xz">kde-l10n-he-15.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>36bb67a8c5c12d70a70a13e68075a0b8c7ceac4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-hi-15.08.1.tar.xz">kde-l10n-hi-15.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2f3255b8a3533315a0018e4bf1c9e0ad5bb80609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-hr-15.08.1.tar.xz">kde-l10n-hr-15.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>580f4b0f45a9eee2d73985b231feae3afe713b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-hu-15.08.1.tar.xz">kde-l10n-hu-15.08.1</a></td>
   <td align="right">4.1MB</td>
   <td><tt>9547e149ac9b13eeead15a806ac2f841eb9ac076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ia-15.08.1.tar.xz">kde-l10n-ia-15.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e8dc8fcec9a0794ba183fd1de51f010e9fac20c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-id-15.08.1.tar.xz">kde-l10n-id-15.08.1</a></td>
   <td align="right">559kB</td>
   <td><tt>54cbcf736fe340d0615ef0febf9274ef0d9fd9a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-is-15.08.1.tar.xz">kde-l10n-is-15.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c3a1b4c120b292d52cfd80cc1e5de39ed1519f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-it-15.08.1.tar.xz">kde-l10n-it-15.08.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>245db74fc728344405703e67dc715ad64950deef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ja-15.08.1.tar.xz">kde-l10n-ja-15.08.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fded1c9cae9ed45e68227cb2167d37b7d68adafb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-kk-15.08.1.tar.xz">kde-l10n-kk-15.08.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>8480bc4c9cd650d213f1573d22a9b005431352b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-km-15.08.1.tar.xz">kde-l10n-km-15.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b53598f800c86478d49fcd62807b6a7a5a6286b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ko-15.08.1.tar.xz">kde-l10n-ko-15.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ddafc4a23702ea4d0263db117732bf094e0bf26f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-lt-15.08.1.tar.xz">kde-l10n-lt-15.08.1</a></td>
   <td align="right">12MB</td>
   <td><tt>f4076c3a8992d59ea6145115772dd9f74c9c7e91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-lv-15.08.1.tar.xz">kde-l10n-lv-15.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ea67ee720aae6e69f906745de830baeb6cfb6e4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-mr-15.08.1.tar.xz">kde-l10n-mr-15.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4092d0aa931b455bc8d94b196330e8d1a4cf23f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-nb-15.08.1.tar.xz">kde-l10n-nb-15.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c57484cc3a597a8c86fd63e00df048eea1df2d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-nds-15.08.1.tar.xz">kde-l10n-nds-15.08.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f4c3e8862751571b03a8b5bafdadd4da9f04fe60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-nl-15.08.1.tar.xz">kde-l10n-nl-15.08.1</a></td>
   <td align="right">13MB</td>
   <td><tt>c48e054a8196a9ed44f316dbe1fc43d57050aaa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-nn-15.08.1.tar.xz">kde-l10n-nn-15.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4bf729aee8cf4ca7d6005e56b315d7f0f599cb0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-pa-15.08.1.tar.xz">kde-l10n-pa-15.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4a4197970ca1cbc4ba8509b6bb73ef5993291420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-pl-15.08.1.tar.xz">kde-l10n-pl-15.08.1</a></td>
   <td align="right">18MB</td>
   <td><tt>5a5bf994a16761f5bd85bc3265c6c74610134552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-pt-15.08.1.tar.xz">kde-l10n-pt-15.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>79d648901edf5d2de7e37d2f129575f73ecb1299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-pt_BR-15.08.1.tar.xz">kde-l10n-pt_BR-15.08.1</a></td>
   <td align="right">20MB</td>
   <td><tt>b39ac1200266f657e9225505cc5d4b8546747108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ro-15.08.1.tar.xz">kde-l10n-ro-15.08.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e1eaf83fe051bdf8a5a2d2b87174201122f38394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ru-15.08.1.tar.xz">kde-l10n-ru-15.08.1</a></td>
   <td align="right">21MB</td>
   <td><tt>e8777ef6d0e8f9f7898ac6628ca938a304b70fdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-sk-15.08.1.tar.xz">kde-l10n-sk-15.08.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d98a78e7a3103145896e4dad6a9f54a9c3a263c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-sl-15.08.1.tar.xz">kde-l10n-sl-15.08.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>1fa7b75b0b5e47666ee60637e4024b2d409db07f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-sr-15.08.1.tar.xz">kde-l10n-sr-15.08.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>93d673f9071c9e7df57036c8f5f21dbd7d086932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-sv-15.08.1.tar.xz">kde-l10n-sv-15.08.1</a></td>
   <td align="right">12MB</td>
   <td><tt>5bb5f0c751fcf22193b2a0b8696849d526fd6966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-tr-15.08.1.tar.xz">kde-l10n-tr-15.08.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>b702bb86094666a6a0dfcf385b6ca23e3ff7858b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-ug-15.08.1.tar.xz">kde-l10n-ug-15.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ec258644c990780cae9dc7dfb8e9dc81c9b5cf6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-uk-15.08.1.tar.xz">kde-l10n-uk-15.08.1</a></td>
   <td align="right">24MB</td>
   <td><tt>d59187dee3eddd1f6a74bd36e07400b59b7f7682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-wa-15.08.1.tar.xz">kde-l10n-wa-15.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e54009082f3eb71c1ecad6ad4f350bb631ad2c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-zh_CN-15.08.1.tar.xz">kde-l10n-zh_CN-15.08.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>9ac6f61d6218f7d16f6ff0118c5ddcc8ad8bce4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.1/src/kde-l10n/kde-l10n-zh_TW-15.08.1.tar.xz">kde-l10n-zh_TW-15.08.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1420b2d05ca14ecfab04ff9a626a7d356f699918</tt></td>
</tr>

</table>
