<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/akonadi-16.08.3.tar.xz">akonadi-16.08.3</a></td>
   <td align="right">997kB</td>
   <td><tt>9b0d61e59613ceab190549ff48603fc7872946e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/akonadi-calendar-16.08.3.tar.xz">akonadi-calendar-16.08.3</a></td>
   <td align="right">112kB</td>
   <td><tt>4e1c2586466eadd260dd6b6e64173cb02c0c3a44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/akonadi-contacts-16.08.3.tar.xz">akonadi-contacts-16.08.3</a></td>
   <td align="right">145kB</td>
   <td><tt>448f46a31f56db344cc0be6ebf6be5324c347e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/akonadi-mime-16.08.3.tar.xz">akonadi-mime-16.08.3</a></td>
   <td align="right">54kB</td>
   <td><tt>7ffd39140322cfdce4c84781567dfdfe62634f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/akonadi-notes-16.08.3.tar.xz">akonadi-notes-16.08.3</a></td>
   <td align="right">18kB</td>
   <td><tt>b75ebda902f9c8e50cbf629e49bf28f481b08734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/akonadi-search-16.08.3.tar.xz">akonadi-search-16.08.3</a></td>
   <td align="right">70kB</td>
   <td><tt>47ece0d096ff7710dd1ba35f545c37ca21abc93c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/analitza-16.08.3.tar.xz">analitza-16.08.3</a></td>
   <td align="right">229kB</td>
   <td><tt>1b97bf8d3591435b00c30b72de60ae7c6ad3e404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ark-16.08.3.tar.xz">ark-16.08.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b920a60cc20db2a98c885415d341d49bf4505c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/artikulate-16.08.3.tar.xz">artikulate-16.08.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>08c1b48b2d47c365b149640e08fca2c174e3c457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/audiocd-kio-16.08.3.tar.xz">audiocd-kio-16.08.3</a></td>
   <td align="right">50kB</td>
   <td><tt>f707954fe5cea016aa6ac43c3ff5aedf72c29529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/baloo-widgets-16.08.3.tar.xz">baloo-widgets-16.08.3</a></td>
   <td align="right">55kB</td>
   <td><tt>0ef3cd039b26e0891a802ba7637daa0369dda17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/blinken-16.08.3.tar.xz">blinken-16.08.3</a></td>
   <td align="right">549kB</td>
   <td><tt>44e62c15b82c6b8e45525b4533b634e125160d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/bomber-16.08.3.tar.xz">bomber-16.08.3</a></td>
   <td align="right">698kB</td>
   <td><tt>8f69709a301d880381d351654cd85a44d9cc418d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/bovo-16.08.3.tar.xz">bovo-16.08.3</a></td>
   <td align="right">135kB</td>
   <td><tt>bdd843418bb239ba44d5e54eed9c022060fbc3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/calendarsupport-16.08.3.tar.xz">calendarsupport-16.08.3</a></td>
   <td align="right">98kB</td>
   <td><tt>f1465f53bdbed6744b2f1904d43ede76fc7f49e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/cantor-16.08.3.tar.xz">cantor-16.08.3</a></td>
   <td align="right">352kB</td>
   <td><tt>37443bd33b24ca8f4f7c69c13405b37442f41a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/cervisia-16.08.3.tar.xz">cervisia-16.08.3</a></td>
   <td align="right">449kB</td>
   <td><tt>f1fad87b16411d61031e5e5cb5039809e99ce2bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/dolphin-16.08.3.tar.xz">dolphin-16.08.3</a></td>
   <td align="right">659kB</td>
   <td><tt>7f9402d21d806e25d529d556d0af20a4e192b121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/dolphin-plugins-16.08.3.tar.xz">dolphin-plugins-16.08.3</a></td>
   <td align="right">59kB</td>
   <td><tt>bb0ce86318d483d4bf83e84d638cc61937615ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/dragon-16.08.3.tar.xz">dragon-16.08.3</a></td>
   <td align="right">468kB</td>
   <td><tt>62449ac2d556eaf59e73567f899f8be7ef0ec88f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/eventviews-16.08.3.tar.xz">eventviews-16.08.3</a></td>
   <td align="right">143kB</td>
   <td><tt>140747adf67ee0dee53e9f88c6777a979836ef0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ffmpegthumbs-16.08.3.tar.xz">ffmpegthumbs-16.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>ea6b98770605aca210bc69e15079e37137728a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/filelight-16.08.3.tar.xz">filelight-16.08.3</a></td>
   <td align="right">207kB</td>
   <td><tt>91d181539c5368c9e0ac68dc047ab1a344be8f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/gpgmepp-16.08.3.tar.xz">gpgmepp-16.08.3</a></td>
   <td align="right">66kB</td>
   <td><tt>ada1c455929e0fb379b56b245ef4f1f59f731fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/granatier-16.08.3.tar.xz">granatier-16.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a1a132f2f4a2d89f590f4b9762ee0603ed88b2b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/grantleetheme-16.08.3.tar.xz">grantleetheme-16.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>509ccadc206ec001106f4e50dd84bce1d7e6f051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/gwenview-16.08.3.tar.xz">gwenview-16.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>eee5fa46c25775c72de2e6ab496f81fa27ac1a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/incidenceeditor-16.08.3.tar.xz">incidenceeditor-16.08.3</a></td>
   <td align="right">118kB</td>
   <td><tt>8c5625802eac3cbcb7d26125c7cbc49254ae9680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/jovie-16.08.3.tar.xz">jovie-16.08.3</a></td>
   <td align="right">384kB</td>
   <td><tt>0c13fafcb67136f54e52d527a15c7d75771fdd6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/juk-16.08.3.tar.xz">juk-16.08.3</a></td>
   <td align="right">435kB</td>
   <td><tt>1a96e14dbc0686068b1d47275c894880c9190664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kaccessible-16.08.3.tar.xz">kaccessible-16.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>54ffdbe190fe73b5cb6226e64b83df9adea3c52c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kaccounts-integration-16.08.3.tar.xz">kaccounts-integration-16.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>b4a1effc6fb9c9fb1e78022565d9a00a5e85d1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kaccounts-providers-16.08.3.tar.xz">kaccounts-providers-16.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>7713c8a10ad170cff5b52922fa6d8ebe3d2a2c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kajongg-16.08.3.tar.xz">kajongg-16.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7bda6b52745a889f56484aee5f13716a70d3d11d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kalarmcal-16.08.3.tar.xz">kalarmcal-16.08.3</a></td>
   <td align="right">85kB</td>
   <td><tt>7d191b5b79f79dfafdefb3fe97a25b4671d7193b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kalgebra-16.08.3.tar.xz">kalgebra-16.08.3</a></td>
   <td align="right">316kB</td>
   <td><tt>ea65bc986a4cfdbd1d479f93e65ab55f78f4e273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kalzium-16.08.3.tar.xz">kalzium-16.08.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ca68516e652e5adeb74ea11f51c3ed71859dd42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kamera-16.08.3.tar.xz">kamera-16.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>037edaf162304a873d96c1457cba7450e5b1f222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kanagram-16.08.3.tar.xz">kanagram-16.08.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>f179932c517d65cd534ae3704743a71dc8fe17e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kapman-16.08.3.tar.xz">kapman-16.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>48cb7e12174de881857c700e6c78212446960b51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kapptemplate-16.08.3.tar.xz">kapptemplate-16.08.3</a></td>
   <td align="right">390kB</td>
   <td><tt>4c0152102fd8ca8e8b50c8c3ada41018cee7394f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kate-16.08.3.tar.xz">kate-16.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e41125db0875d2ded6343a26aaa7bd1f8654f2b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/katomic-16.08.3.tar.xz">katomic-16.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b8f3526a01553b4ee8fc49db80e07fdd0aa5ac1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kblackbox-16.08.3.tar.xz">kblackbox-16.08.3</a></td>
   <td align="right">217kB</td>
   <td><tt>492e20d8eb3e9d45dc3d59f264872ac6e3feff1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kblocks-16.08.3.tar.xz">kblocks-16.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1889da21a102d28053a740692125dc369650a41b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kblog-16.08.3.tar.xz">kblog-16.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>edff5d21e6132a0f82c49b89bcf9de39b1c7a5a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kbounce-16.08.3.tar.xz">kbounce-16.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>780696236260136506f96b4322996f6081222ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kbreakout-16.08.3.tar.xz">kbreakout-16.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ffbb4e4e271b96b563dfc7987046e40c027cc8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kbruch-16.08.3.tar.xz">kbruch-16.08.3</a></td>
   <td align="right">700kB</td>
   <td><tt>07d7bdf373d34b2480487bd394ed1336836788c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kcachegrind-16.08.3.tar.xz">kcachegrind-16.08.3</a></td>
   <td align="right">232kB</td>
   <td><tt>6e8dc42d8e4c5ebb043b006863f2575895d75069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kcalc-16.08.3.tar.xz">kcalc-16.08.3</a></td>
   <td align="right">81kB</td>
   <td><tt>966c39df390880a6ae46e693f10a1ec60ab4a22e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kcalcore-16.08.3.tar.xz">kcalcore-16.08.3</a></td>
   <td align="right">289kB</td>
   <td><tt>cc11d8d899602b5005d7a2e5f097b70c289b24f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kcalutils-16.08.3.tar.xz">kcalutils-16.08.3</a></td>
   <td align="right">92kB</td>
   <td><tt>1f85840f80427998b56a527e019563f2fb82bf6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kcharselect-16.08.3.tar.xz">kcharselect-16.08.3</a></td>
   <td align="right">90kB</td>
   <td><tt>97220bc7ccf02d701add87e3b459d0754a557e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kcolorchooser-16.08.3.tar.xz">kcolorchooser-16.08.3</a></td>
   <td align="right">4kB</td>
   <td><tt>15a1cafc684773093748f29b145bee049aced044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kcontacts-16.08.3.tar.xz">kcontacts-16.08.3</a></td>
   <td align="right">141kB</td>
   <td><tt>0ae1302273b9275386bbc4ad75d057bd2812b49d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kcron-16.08.3.tar.xz">kcron-16.08.3</a></td>
   <td align="right">136kB</td>
   <td><tt>c367de399121c719d36254d972ed38adbd48ef5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-baseapps-16.08.3.tar.xz">kde-baseapps-16.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>aeac2b7cab6a40c740f3b46c282ce3b9381249bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdebugsettings-16.08.3.tar.xz">kdebugsettings-16.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>99d7bf32cd3ae07d62f1ec11615e106b833fdd71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-dev-scripts-16.08.3.tar.xz">kde-dev-scripts-16.08.3</a></td>
   <td align="right">303kB</td>
   <td><tt>060e61f0ee3d1bbb3f1076e67bef0ee7b86e1607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-dev-utils-16.08.3.tar.xz">kde-dev-utils-16.08.3</a></td>
   <td align="right">50kB</td>
   <td><tt>f2be0536e7dbe008f93d09ba062a087b01dad73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdeedu-data-16.08.3.tar.xz">kdeedu-data-16.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>3c3fb41e2bc310a5944cf8318a4f1c2b5cc12719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdegraphics-mobipocket-16.08.3.tar.xz">kdegraphics-mobipocket-16.08.3</a></td>
   <td align="right">14kB</td>
   <td><tt>5bb292273ed36140b4d2b18b9925926951ba4290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdegraphics-thumbnailers-16.08.3.tar.xz">kdegraphics-thumbnailers-16.08.3</a></td>
   <td align="right">40kB</td>
   <td><tt>b7163b7e97d23d186a478391a4202b9c89912ab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdelibs-4.14.26.tar.xz">kdelibs-4.14.26</a></td>
   <td align="right">11MB</td>
   <td><tt>78428269657bc080f8dbcd7fefb11970d7ed870a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdenetwork-filesharing-16.08.3.tar.xz">kdenetwork-filesharing-16.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>c3dbae3204cbef9b5c29bb8fdedb0b90b75a0940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdenlive-16.08.3.tar.xz">kdenlive-16.08.3</a></td>
   <td align="right">6.2MB</td>
   <td><tt>854cd7b14f070f43c17cc85e555efc1d943c0563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdepim-16.08.3.tar.xz">kdepim-16.08.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>8dc03ac77996d1865cfa6d25b5059364833d4d09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdepim-addons-16.08.3.tar.xz">kdepim-addons-16.08.3</a></td>
   <td align="right">280kB</td>
   <td><tt>25827e25c1dc5da836cb174337e7c692daa78b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdepim-apps-libs-16.08.3.tar.xz">kdepim-apps-libs-16.08.3</a></td>
   <td align="right">37kB</td>
   <td><tt>a84a148b8d71faf3ba0144dd1c98dad555aa1d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdepim-runtime-16.08.3.tar.xz">kdepim-runtime-16.08.3</a></td>
   <td align="right">720kB</td>
   <td><tt>82f171face0b70d53332b66ce5a6c8e8fe53dc80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-runtime-16.08.3.tar.xz">kde-runtime-16.08.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>d215765e6fd4da4e0e7a53bd414d276fd46417e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdesdk-kioslaves-16.08.3.tar.xz">kdesdk-kioslaves-16.08.3</a></td>
   <td align="right">353kB</td>
   <td><tt>7f3fefaa35c43f5b828927c1dca69d576ed334f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdesdk-thumbnailers-16.08.3.tar.xz">kdesdk-thumbnailers-16.08.3</a></td>
   <td align="right">11kB</td>
   <td><tt>de781fe67a98941287afb08679ad43b3526b893b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdewebdev-16.08.3.tar.xz">kdewebdev-16.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d144bfacf13b3c3be20a3691feb7b08ff523bf50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdf-16.08.3.tar.xz">kdf-16.08.3</a></td>
   <td align="right">140kB</td>
   <td><tt>5f89f732c09489e84f6358f0da68f1f1de911e57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdgantt2-16.08.3.tar.xz">kdgantt2-16.08.3</a></td>
   <td align="right">53kB</td>
   <td><tt>77440a38bece032cd5f9e836f399d652c6e27a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kdiamond-16.08.3.tar.xz">kdiamond-16.08.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>32618239df2b07d8889a6bd46d347efb6570ce0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kfloppy-16.08.3.tar.xz">kfloppy-16.08.3</a></td>
   <td align="right">52kB</td>
   <td><tt>26d4c134bb6d9c487b03172ce6474f4f6c297be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kfourinline-16.08.3.tar.xz">kfourinline-16.08.3</a></td>
   <td align="right">448kB</td>
   <td><tt>029f09a6768df82faf60d25ad671be9421629973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kgeography-16.08.3.tar.xz">kgeography-16.08.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>0d768c295ab27d8333c59864d95deca145718914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kget-16.08.3.tar.xz">kget-16.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>064151561c1823e21c329079da126ea3b9e34920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kgoldrunner-16.08.3.tar.xz">kgoldrunner-16.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3f04a52b2da6ceeea41fdc9a572c04ab9abfe1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kgpg-16.08.3.tar.xz">kgpg-16.08.3</a></td>
   <td align="right">791kB</td>
   <td><tt>e2bba15b1c3fddf727a4156ea783c3f13fdfb63f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/khangman-16.08.3.tar.xz">khangman-16.08.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ed47f1af65972b20482ae45131c7d4bbd5f4a005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/khelpcenter-16.08.3.tar.xz">khelpcenter-16.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>43b7edfd0a214ac71c3005aa55f9c087ad2bb348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kholidays-16.08.3.tar.xz">kholidays-16.08.3</a></td>
   <td align="right">171kB</td>
   <td><tt>4e9e90c5fdb8e3f81e52efb41366407655ef0827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kidentitymanagement-16.08.3.tar.xz">kidentitymanagement-16.08.3</a></td>
   <td align="right">35kB</td>
   <td><tt>c3edf2de93b1493ccb542cda6ccdb211edf1367f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kig-16.08.3.tar.xz">kig-16.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>6fd704567b5cddb3909a3f3dc297df7c61583cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kigo-16.08.3.tar.xz">kigo-16.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3b6b5f0e48e98527425ee7d237d7766f86497655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/killbots-16.08.3.tar.xz">killbots-16.08.3</a></td>
   <td align="right">940kB</td>
   <td><tt>68c80ff618da0550822330575ec2015302a87207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kimap-16.08.3.tar.xz">kimap-16.08.3</a></td>
   <td align="right">89kB</td>
   <td><tt>bea1ae1339bd9dee56dcbff6209860325ce6aa4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kio-extras-16.08.3.tar.xz">kio-extras-16.08.3</a></td>
   <td align="right">272kB</td>
   <td><tt>789fdf389d93145232f2c81059ef819582e47ec7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kiriki-16.08.3.tar.xz">kiriki-16.08.3</a></td>
   <td align="right">252kB</td>
   <td><tt>8a57641eb44ac7bb97e9145072b209d5afe2bc63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kiten-16.08.3.tar.xz">kiten-16.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>0ea94a360886929f3fcd5440853d9035c8bf3b0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kjumpingcube-16.08.3.tar.xz">kjumpingcube-16.08.3</a></td>
   <td align="right">132kB</td>
   <td><tt>b8cb9a09fb43437f17d93d0acaf8e8feb0d5c14d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kldap-16.08.3.tar.xz">kldap-16.08.3</a></td>
   <td align="right">58kB</td>
   <td><tt>69fac99491d25fe1194e6f5fdb8732a6cfe887ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kleopatra-16.08.3.tar.xz">kleopatra-16.08.3</a></td>
   <td align="right">714kB</td>
   <td><tt>a8a49352f3bd79ca991d8691eef899236be30be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/klettres-16.08.3.tar.xz">klettres-16.08.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d12df574755fe5c05fa76e98d87c71fa97802128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/klickety-16.08.3.tar.xz">klickety-16.08.3</a></td>
   <td align="right">649kB</td>
   <td><tt>c1091fa8f204dc85073d092a8ccae111811962a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/klines-16.08.3.tar.xz">klines-16.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>99230be3b244888fd86bfdaab93320e356a447b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmag-16.08.3.tar.xz">kmag-16.08.3</a></td>
   <td align="right">84kB</td>
   <td><tt>8aa34783d71d46c93418fea5a9636cf77236bf6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmahjongg-16.08.3.tar.xz">kmahjongg-16.08.3</a></td>
   <td align="right">988kB</td>
   <td><tt>94033c39e9b06d84db91ed69ecbc211523341575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmailtransport-16.08.3.tar.xz">kmailtransport-16.08.3</a></td>
   <td align="right">88kB</td>
   <td><tt>a46f70b8ef1c3035897b0902dffb4ea67ba8d362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmbox-16.08.3.tar.xz">kmbox-16.08.3</a></td>
   <td align="right">23kB</td>
   <td><tt>8be62a2c32303a16425d4b63cb92711292cdb1de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmime-16.08.3.tar.xz">kmime-16.08.3</a></td>
   <td align="right">119kB</td>
   <td><tt>ff8d8fdf843afca781ee6ad48a42a29f28445e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmines-16.08.3.tar.xz">kmines-16.08.3</a></td>
   <td align="right">646kB</td>
   <td><tt>aa9f3b8429bfa6e6ed860fcd31b20e5104e460e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmix-16.08.3.tar.xz">kmix-16.08.3</a></td>
   <td align="right">380kB</td>
   <td><tt>c38124d96f0755dc10921756ea0f082fc9832240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmousetool-16.08.3.tar.xz">kmousetool-16.08.3</a></td>
   <td align="right">35kB</td>
   <td><tt>992e6f431c0525b12707369978691cc216674589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmouth-16.08.3.tar.xz">kmouth-16.08.3</a></td>
   <td align="right">270kB</td>
   <td><tt>cb9676b70de14f6038823c44a96f6973e6962eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kmplot-16.08.3.tar.xz">kmplot-16.08.3</a></td>
   <td align="right">558kB</td>
   <td><tt>61d9e3f99d9eff9bf3401a408221e21a0056221d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/knavalbattle-16.08.3.tar.xz">knavalbattle-16.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0235ba2defbc74723d1e60274a18fbbd83dafe45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/knetwalk-16.08.3.tar.xz">knetwalk-16.08.3</a></td>
   <td align="right">884kB</td>
   <td><tt>f2c889ea8b94ffc825fbee950f22744cc24dacff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kolf-16.08.3.tar.xz">kolf-16.08.3</a></td>
   <td align="right">749kB</td>
   <td><tt>1192c8b7906d4c54f4fbfee4ea02c32ad3d347d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kollision-16.08.3.tar.xz">kollision-16.08.3</a></td>
   <td align="right">221kB</td>
   <td><tt>7c01a61b8890a90ee155e21a5ed0be7581b97da8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kolourpaint-16.08.3.tar.xz">kolourpaint-16.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>64aeaf5a967befe8b24005f3573fc86877b4b0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kompare-16.08.3.tar.xz">kompare-16.08.3</a></td>
   <td align="right">231kB</td>
   <td><tt>d7bb36043a57abb5ff398816f12ffb904fe9a919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/konquest-16.08.3.tar.xz">konquest-16.08.3</a></td>
   <td align="right">396kB</td>
   <td><tt>75408388bc061c81b6f36a61187bb8c110700126</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/konsole-16.08.3.tar.xz">konsole-16.08.3</a></td>
   <td align="right">453kB</td>
   <td><tt>43dee553c244cec68f23b7ee81568d6e147f69fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kontactinterface-16.08.3.tar.xz">kontactinterface-16.08.3</a></td>
   <td align="right">24kB</td>
   <td><tt>3aa3049f50d693dd672ea03624c0b62bd1a8f2a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kopete-16.08.3.tar.xz">kopete-16.08.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5ffbfd68c91ce251bf7f22943bc8cb8284b30eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kpat-16.08.3.tar.xz">kpat-16.08.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>1f997c845c74d38a51148d00d3891a7aed3e77b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kpimtextedit-16.08.3.tar.xz">kpimtextedit-16.08.3</a></td>
   <td align="right">76kB</td>
   <td><tt>548a61f66137f14f4f3617468615d472fc67aeee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kppp-16.08.3.tar.xz">kppp-16.08.3</a></td>
   <td align="right">683kB</td>
   <td><tt>7bb28417868e98fec4d639bb72744804f67af4d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kqtquickcharts-16.08.3.tar.xz">kqtquickcharts-16.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>dbf60baa396fecb39ad7a539530d231aab0d954e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/krdc-16.08.3.tar.xz">krdc-16.08.3</a></td>
   <td align="right">284kB</td>
   <td><tt>d37613798c37e25075450e1ddf0dc398d6b1d900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kremotecontrol-16.08.3.tar.xz">kremotecontrol-16.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>616861348200bf7b09381545216ce8e878986c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kreversi-16.08.3.tar.xz">kreversi-16.08.3</a></td>
   <td align="right">464kB</td>
   <td><tt>bb0f3b3e16f2f1b3587c06ffe5516d8be512e2a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/krfb-16.08.3.tar.xz">krfb-16.08.3</a></td>
   <td align="right">317kB</td>
   <td><tt>9e79d2fc0b998ab345b15c9ac0cc74c8b5406031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kross-interpreters-16.08.3.tar.xz">kross-interpreters-16.08.3</a></td>
   <td align="right">141kB</td>
   <td><tt>04f224e712dc2dbd4e70282fd463900066ef0ea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kruler-16.08.3.tar.xz">kruler-16.08.3</a></td>
   <td align="right">120kB</td>
   <td><tt>f1df68d083865c8f46e844d5fe87142b1c9f83f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ksaneplugin-16.08.3.tar.xz">ksaneplugin-16.08.3</a></td>
   <td align="right">12kB</td>
   <td><tt>f5bb5df619f60c604f2ac35ac29c650569fcf56b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kscd-16.08.3.tar.xz">kscd-16.08.3</a></td>
   <td align="right">90kB</td>
   <td><tt>abe1ba64419bb58df5bafe5ec79acbc5b0d5e350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kshisen-16.08.3.tar.xz">kshisen-16.08.3</a></td>
   <td align="right">335kB</td>
   <td><tt>72c4f1e1fed55121259f2467bc9111a33cc41b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ksirk-16.08.3.tar.xz">ksirk-16.08.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>d1330154a30e826f8a6e437bcea87fb5b2e23890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ksnakeduel-16.08.3.tar.xz">ksnakeduel-16.08.3</a></td>
   <td align="right">290kB</td>
   <td><tt>2fda6652557d8b30089831995f51c02b55189b73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kspaceduel-16.08.3.tar.xz">kspaceduel-16.08.3</a></td>
   <td align="right">247kB</td>
   <td><tt>fd7a4a469c4033995163e88f32291b9448f595ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ksquares-16.08.3.tar.xz">ksquares-16.08.3</a></td>
   <td align="right">133kB</td>
   <td><tt>94afd729f60dc065d8602983d9b24b78b4ec9d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kstars-16.08.3.tar.xz">kstars-16.08.3</a></td>
   <td align="right">16MB</td>
   <td><tt>6fe365d36f45fa3f90385f1a4cfd9d6b0c98578a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ksudoku-16.08.3.tar.xz">ksudoku-16.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>97c35bcc9c9a1a8de63a6f6aa00cf23a721f2ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ksystemlog-16.08.3.tar.xz">ksystemlog-16.08.3</a></td>
   <td align="right">342kB</td>
   <td><tt>039e3dbc6f5d11e1b14b8d5fd84575076eb07c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kteatime-16.08.3.tar.xz">kteatime-16.08.3</a></td>
   <td align="right">88kB</td>
   <td><tt>75c59770af362638f3bec921225704415c664109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktimer-16.08.3.tar.xz">ktimer-16.08.3</a></td>
   <td align="right">157kB</td>
   <td><tt>4dbb1a0bac6893edc6dd6cfd7d50559eeed9a469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktnef-16.08.3.tar.xz">ktnef-16.08.3</a></td>
   <td align="right">227kB</td>
   <td><tt>bd9cba2e1c64fcbc4646a992f55e5519e625fe92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktouch-16.08.3.tar.xz">ktouch-16.08.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4f58eca9a4692e0f990e53e40d53d541c4e015dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-accounts-kcm-16.08.3.tar.xz">ktp-accounts-kcm-16.08.3</a></td>
   <td align="right">87kB</td>
   <td><tt>bd56b1077714617cdac2ac5a713b9a137a8cc48a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-approver-16.08.3.tar.xz">ktp-approver-16.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>f554706cbfa18c70288335a6d218f42e74950041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-auth-handler-16.08.3.tar.xz">ktp-auth-handler-16.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>8e950a744e5baf7494fda8a3f96fdaea8e88336a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-call-ui-16.08.3.tar.xz">ktp-call-ui-16.08.3</a></td>
   <td align="right">44kB</td>
   <td><tt>2c7dcb7de4fc48886e1642f8f9dd6c2def0fa569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-common-internals-16.08.3.tar.xz">ktp-common-internals-16.08.3</a></td>
   <td align="right">309kB</td>
   <td><tt>c72835179ad18f602b155589a25ffac9f845b8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-contact-list-16.08.3.tar.xz">ktp-contact-list-16.08.3</a></td>
   <td align="right">47kB</td>
   <td><tt>710b62f7a364c86eac20d32c58812bb566debc8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-contact-runner-16.08.3.tar.xz">ktp-contact-runner-16.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>f541d15ae4beefec790c5d1767818e0b3628d53c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-desktop-applets-16.08.3.tar.xz">ktp-desktop-applets-16.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>4f4d812d6b4fb53f8017e50eac44c0590c27f2da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-filetransfer-handler-16.08.3.tar.xz">ktp-filetransfer-handler-16.08.3</a></td>
   <td align="right">22kB</td>
   <td><tt>aa1bdc5480790791de0b130bd154ce6938ce5fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-kded-module-16.08.3.tar.xz">ktp-kded-module-16.08.3</a></td>
   <td align="right">37kB</td>
   <td><tt>8981376a4138cb654cdc84538bdfd659329e0efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-send-file-16.08.3.tar.xz">ktp-send-file-16.08.3</a></td>
   <td align="right">14kB</td>
   <td><tt>4814bc200409a726e5abe1c0afbd5bf54740123c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktp-text-ui-16.08.3.tar.xz">ktp-text-ui-16.08.3</a></td>
   <td align="right">287kB</td>
   <td><tt>e32e0b90960f464ed67de53406475dd29e7cd7da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/ktuberling-16.08.3.tar.xz">ktuberling-16.08.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>441b3e64c34d894a88f82d9425cdc4527543bfb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kturtle-16.08.3.tar.xz">kturtle-16.08.3</a></td>
   <td align="right">189kB</td>
   <td><tt>642e7cebcbf9b1d4ec0987435647c8e9531a3d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kubrick-16.08.3.tar.xz">kubrick-16.08.3</a></td>
   <td align="right">104kB</td>
   <td><tt>fa76e720682ff9f747ed25e0c323ac9669338186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kuser-16.08.3.tar.xz">kuser-16.08.3</a></td>
   <td align="right">132kB</td>
   <td><tt>5d856e6c774b441ba50e51a66ecb1d799cd319c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kwalletmanager-16.08.3.tar.xz">kwalletmanager-16.08.3</a></td>
   <td align="right">447kB</td>
   <td><tt>0fb4aaace64cca4eefa55f1a02839cc2878aeeb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kwordquiz-16.08.3.tar.xz">kwordquiz-16.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f8bc8b03b1ab2a5d02aafc1d8f34e524c526a6c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libgravatar-16.08.3.tar.xz">libgravatar-16.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>611e0854ddff3815c877d2152246023f80dea97b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkcddb-16.08.3.tar.xz">libkcddb-16.08.3</a></td>
   <td align="right">154kB</td>
   <td><tt>b77aa60310efd8946c7b0289cf1fb5fc7d5dc5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkcompactdisc-16.08.3.tar.xz">libkcompactdisc-16.08.3</a></td>
   <td align="right">74kB</td>
   <td><tt>d0441f1cf2f74dad4d3aa80fd4d8171ec740713e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkdcraw-16.08.3.tar.xz">libkdcraw-16.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>6974d4548df6ce3ca74e53048f33c923198a516b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkdegames-16.08.3.tar.xz">libkdegames-16.08.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>57a4d82fe2c8822cc0dda9f04b7d18aaf18d1f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkdepim-16.08.3.tar.xz">libkdepim-16.08.3</a></td>
   <td align="right">111kB</td>
   <td><tt>e7f6831551849be558dc47f3a58a5e07befc520e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkeduvocdocument-16.08.3.tar.xz">libkeduvocdocument-16.08.3</a></td>
   <td align="right">89kB</td>
   <td><tt>6853083f3bb7735bf751c86e80d391c90cdec175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkexiv2-16.08.3.tar.xz">libkexiv2-16.08.3</a></td>
   <td align="right">63kB</td>
   <td><tt>a3ecd56bc5cfc82cb8ddbbcf7ab3fe6c6c22810c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkface-16.08.3.tar.xz">libkface-16.08.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>d1a9f86590ee1864b3b245c17b6edf069dec631a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkgeomap-16.08.3.tar.xz">libkgeomap-16.08.3</a></td>
   <td align="right">122kB</td>
   <td><tt>374a26ba34ca98eacf3de1341ad335514e2c21b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkipi-16.08.3.tar.xz">libkipi-16.08.3</a></td>
   <td align="right">101kB</td>
   <td><tt>582cfba68b5c00996e5afd2a0ed8fd1e953c4fcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkleo-16.08.3.tar.xz">libkleo-16.08.3</a></td>
   <td align="right">141kB</td>
   <td><tt>4e12bfba35a4cf3e61410cc4e6f4f03998c376d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkmahjongg-16.08.3.tar.xz">libkmahjongg-16.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>fdcd2fc83bb48896f50d5449e6f03ab471bfa6f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libkomparediff2-16.08.3.tar.xz">libkomparediff2-16.08.3</a></td>
   <td align="right">55kB</td>
   <td><tt>fb1ccd83b0909b4025059173dc44171806f1812d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libksane-16.08.3.tar.xz">libksane-16.08.3</a></td>
   <td align="right">79kB</td>
   <td><tt>c223d9885588d28d866a566f46732d6e289d6a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/libksieve-16.08.3.tar.xz">libksieve-16.08.3</a></td>
   <td align="right">163kB</td>
   <td><tt>bf34738b390d2b7267cf9275b1b77f54185e322d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/lokalize-16.08.3.tar.xz">lokalize-16.08.3</a></td>
   <td align="right">935kB</td>
   <td><tt>3ebc80e5d0ca0f03ce0c2487361fa80be39d20cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/lskat-16.08.3.tar.xz">lskat-16.08.3</a></td>
   <td align="right">906kB</td>
   <td><tt>4c899dc3a4ebbcffe91bbc4490ecc266c38d6ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/mailcommon-16.08.3.tar.xz">mailcommon-16.08.3</a></td>
   <td align="right">183kB</td>
   <td><tt>0e95d53b6121977b3cbee66662c89cf8e6d6106b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/mailimporter-16.08.3.tar.xz">mailimporter-16.08.3</a></td>
   <td align="right">373kB</td>
   <td><tt>7ddc57640925bf4eb29aa4d11079683b38660176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/marble-16.08.3.tar.xz">marble-16.08.3</a></td>
   <td align="right">22MB</td>
   <td><tt>7089955d2b04abe60fdb9867505bb2114c265d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/messagelib-16.08.3.tar.xz">messagelib-16.08.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>4b5780d9cb4ae5b7907ad8ee738e1716624c8271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/minuet-16.08.3.tar.xz">minuet-16.08.3</a></td>
   <td align="right">25MB</td>
   <td><tt>ba00e622459225b52b5bd987292d0e9f7d2305ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/okteta-16.08.3.tar.xz">okteta-16.08.3</a></td>
   <td align="right">495kB</td>
   <td><tt>c901a675fc3e6e746c728c14d19cca179d5667f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/okular-16.08.3.tar.xz">okular-16.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>744d78e513f4ab3cad9b8c41c9fd31ac398f15ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/palapeli-16.08.3.tar.xz">palapeli-16.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e33932079e756b60667c498e1535991a11237d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/parley-16.08.3.tar.xz">parley-16.08.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>69b384fc57760c22f210164aa453b8e35af7f673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/picmi-16.08.3.tar.xz">picmi-16.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>87a40004ffde630bbd42f34b1ae6e0e9eea3a0a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/pimcommon-16.08.3.tar.xz">pimcommon-16.08.3</a></td>
   <td align="right">150kB</td>
   <td><tt>5270eda8695ca6e5871f34102dfb5a6187aa69ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/poxml-16.08.3.tar.xz">poxml-16.08.3</a></td>
   <td align="right">31kB</td>
   <td><tt>495d480a54110c8697712755264413a48042c3b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/print-manager-16.08.3.tar.xz">print-manager-16.08.3</a></td>
   <td align="right">92kB</td>
   <td><tt>73aa5a08a81a69d570c38a25b51b33361e0fd386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/rocs-16.08.3.tar.xz">rocs-16.08.3</a></td>
   <td align="right">520kB</td>
   <td><tt>4297ea97bf8e41426771601005e0e4a6cd4246ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/signon-kwallet-extension-16.08.3.tar.xz">signon-kwallet-extension-16.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>3aa400382b6f15a9111368f4bcd129e03aee7726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/spectacle-16.08.3.tar.xz">spectacle-16.08.3</a></td>
   <td align="right">977kB</td>
   <td><tt>e7caa944915efabfadba627e5cb6d5d0d9e5e3eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/step-16.08.3.tar.xz">step-16.08.3</a></td>
   <td align="right">380kB</td>
   <td><tt>ce4c781cca2665979e88ea48ab34b2cccaf94c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/svgpart-16.08.3.tar.xz">svgpart-16.08.3</a></td>
   <td align="right">8kB</td>
   <td><tt>1f23a4a95b2310708367e73fe902757af623eb12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/sweeper-16.08.3.tar.xz">sweeper-16.08.3</a></td>
   <td align="right">80kB</td>
   <td><tt>8fbcde3275a6f38d6c32fc7c83f78ede0e8f1e31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/syndication-16.08.3.tar.xz">syndication-16.08.3</a></td>
   <td align="right">156kB</td>
   <td><tt>a2210e8b90d72867d304f4018f70618a4dfaf5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/umbrello-16.08.3.tar.xz">umbrello-16.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bf9f99385e0094b32e364a66ec079c3a0e104a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/zeroconf-ioslave-16.08.3.tar.xz">zeroconf-ioslave-16.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>9a10af7155b0dcc65a1bce6a656b4d10665b9ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ar-16.08.3.tar.xz">kde-l10n-ar-16.08.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>de2c5dfc18b62108a0b040c06a675a0aeb32b504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ast-16.08.3.tar.xz">kde-l10n-ast-16.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a99c325f86c3130ad95f8e14c5ca9050d98463ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-bg-16.08.3.tar.xz">kde-l10n-bg-16.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>00c60825ae773fa149de66b8f44739a6ed18eca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-bs-16.08.3.tar.xz">kde-l10n-bs-16.08.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c814602d6a365a510ff3baa64c75b788ae08d2a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ca-16.08.3.tar.xz">kde-l10n-ca-16.08.3</a></td>
   <td align="right">18MB</td>
   <td><tt>4632b7fae4484cc790f52f51816c491a331c796a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ca@valencia-16.08.3.tar.xz">kde-l10n-ca@valencia-16.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>852bfa2e3313f719087b3a9cfe819c33c5772d34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-cs-16.08.3.tar.xz">kde-l10n-cs-16.08.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>3ea73c26965394f0fa1363f6c442dc165b3afe1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-da-16.08.3.tar.xz">kde-l10n-da-16.08.3</a></td>
   <td align="right">12MB</td>
   <td><tt>487c3b2cdf99821014ca14000047340a20dd5f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-de-16.08.3.tar.xz">kde-l10n-de-16.08.3</a></td>
   <td align="right">32MB</td>
   <td><tt>46eb5c961439d1540034246e7caddd206a01c0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-el-16.08.3.tar.xz">kde-l10n-el-16.08.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>4f9b11f7b0849a85676e870f3616d8bd76a98dff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-en_GB-16.08.3.tar.xz">kde-l10n-en_GB-16.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5a77fdde827b006f8cd279eb3c9f48b01efe57ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-eo-16.08.3.tar.xz">kde-l10n-eo-16.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9801b9e9d89633e7f0f4d52eef2f6309d5f3c522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-es-16.08.3.tar.xz">kde-l10n-es-16.08.3</a></td>
   <td align="right">15MB</td>
   <td><tt>42e45e8fc4083e6ad34423dcb5e95eec74156324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-et-16.08.3.tar.xz">kde-l10n-et-16.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>bb279fc084e7cb2c63b87d05d75c78db327c7f20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-eu-16.08.3.tar.xz">kde-l10n-eu-16.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6f62765b55b67c61ae2eb993226fa28f01b4df5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-fa-16.08.3.tar.xz">kde-l10n-fa-16.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>420b3a8491076bfd121bf77d8cf50cc0fbc706b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-fi-16.08.3.tar.xz">kde-l10n-fi-16.08.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5c16cbdceae123a2368019b96150af73273446d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-fr-16.08.3.tar.xz">kde-l10n-fr-16.08.3</a></td>
   <td align="right">34MB</td>
   <td><tt>00a4ca6c92e21cde35470f1866f3e761cd7f96dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ga-16.08.3.tar.xz">kde-l10n-ga-16.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>08ae1592ebaea951125b04836250398d3f098326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-gl-16.08.3.tar.xz">kde-l10n-gl-16.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>9d36acd5b13cee0a0bd39d31f24688a2c731ac12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-he-16.08.3.tar.xz">kde-l10n-he-16.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8c85252cea2f48dca0e5363e42b524a764d39542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-hi-16.08.3.tar.xz">kde-l10n-hi-16.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5022828e22aeb08671cdbf7756aa59496bdf697a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-hr-16.08.3.tar.xz">kde-l10n-hr-16.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d5effaa0dea3c15c22193a27a6cf83cbc5ec4d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-hu-16.08.3.tar.xz">kde-l10n-hu-16.08.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>7ccde11e7604c65c08f0b0b36856f097b1f3ad68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ia-16.08.3.tar.xz">kde-l10n-ia-16.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d7061f9f4f0b3d3338a89df4d643da8a831044b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-id-16.08.3.tar.xz">kde-l10n-id-16.08.3</a></td>
   <td align="right">548kB</td>
   <td><tt>120aa95206d14858217ec2b8766356a1b045afd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-is-16.08.3.tar.xz">kde-l10n-is-16.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>22fc293063c79606fe555a0f016854e2c5b04151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-it-16.08.3.tar.xz">kde-l10n-it-16.08.3</a></td>
   <td align="right">7.8MB</td>
   <td><tt>beaf7d4bb3e25c160a955d55668a34e045c3ed38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ja-16.08.3.tar.xz">kde-l10n-ja-16.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>938927197549a5eba96dd3b795ed702d724f076d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-kk-16.08.3.tar.xz">kde-l10n-kk-16.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>58d63738323f4cc10218d3b6b907f822887d27f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-km-16.08.3.tar.xz">kde-l10n-km-16.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d5a2c1f17ec4dca0eb844ac6fe2b1ac246d5086a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ko-16.08.3.tar.xz">kde-l10n-ko-16.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1b36c6a98689b8fed7bf484339dbb8a6cf896fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-lt-16.08.3.tar.xz">kde-l10n-lt-16.08.3</a></td>
   <td align="right">11MB</td>
   <td><tt>fcc0c2200bcec33cd7820158459a6290d8314265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-lv-16.08.3.tar.xz">kde-l10n-lv-16.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d29064e0a82b78b3e9ba90bdcfca9b848faece38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-mr-16.08.3.tar.xz">kde-l10n-mr-16.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1805516c4c206e8fc0513fa8facbcd9461f6d661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-nb-16.08.3.tar.xz">kde-l10n-nb-16.08.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1eec97769023c2b3b82948773859954b973c3994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-nds-16.08.3.tar.xz">kde-l10n-nds-16.08.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>d3cb16212e208d91e7b837862d055b0aed867e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-nl-16.08.3.tar.xz">kde-l10n-nl-16.08.3</a></td>
   <td align="right">12MB</td>
   <td><tt>6147234fef32820f93a5f40aefb3157862656411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-nn-16.08.3.tar.xz">kde-l10n-nn-16.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>978933887f0e38369c87a0434d56ee16071cff11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-pa-16.08.3.tar.xz">kde-l10n-pa-16.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a1181933c7dc97a2621747ba471c9e9b6da43622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-pl-16.08.3.tar.xz">kde-l10n-pl-16.08.3</a></td>
   <td align="right">16MB</td>
   <td><tt>4cbe30776d06dd65cecd2444894f37279b149b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-pt-16.08.3.tar.xz">kde-l10n-pt-16.08.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>58d3247eff0488a00cf582b648d482a5cd475721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-pt_BR-16.08.3.tar.xz">kde-l10n-pt_BR-16.08.3</a></td>
   <td align="right">20MB</td>
   <td><tt>dc8cc66634c21a3ec4377c2a5462545b8f5b2fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ro-16.08.3.tar.xz">kde-l10n-ro-16.08.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>bd48625a1df556c65505117650193b6f5ff057f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ru-16.08.3.tar.xz">kde-l10n-ru-16.08.3</a></td>
   <td align="right">20MB</td>
   <td><tt>ca60001ef068ba92f07c11209d56899b43cc7a91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-sk-16.08.3.tar.xz">kde-l10n-sk-16.08.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>cc0f22414b902fda985fcb5af2c066a1d83bc139</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-sl-16.08.3.tar.xz">kde-l10n-sl-16.08.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>228f424bff73f1e02b1492abd624e419ca47a9be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-sr-16.08.3.tar.xz">kde-l10n-sr-16.08.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a70074feb47bdf184b7f98dcaaab6d96140d549a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-sv-16.08.3.tar.xz">kde-l10n-sv-16.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>14069029489bf2398cc3d0b84bfa173dbd12ab51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-tr-16.08.3.tar.xz">kde-l10n-tr-16.08.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>98a4d641d0d8d69c4268005b850614557464fe09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-ug-16.08.3.tar.xz">kde-l10n-ug-16.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ca530ac64e14323ff12a6bd8c2cc09164cbba51a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-uk-16.08.3.tar.xz">kde-l10n-uk-16.08.3</a></td>
   <td align="right">24MB</td>
   <td><tt>496f51fe35601d38f184d9840187d8fcd65960b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-wa-16.08.3.tar.xz">kde-l10n-wa-16.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>78e1746f18644b67231f4c1ebf1e2079659ea30f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-zh_CN-16.08.3.tar.xz">kde-l10n-zh_CN-16.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>6153528b0f371ac6ab258ba30ec3c7ad6968eb63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.3/src/kde-l10n/kde-l10n-zh_TW-16.08.3.tar.xz">kde-l10n-zh_TW-16.08.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>83f4b68ca756b6115e0808530b7954a6b3400f12</tt></td>
</tr>

</table>
