<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadi-19.04.0.tar.xz">akonadi-19.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c045836dc6a54246ee44148db0e20fa37b3d86b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadi-calendar-19.04.0.tar.xz">akonadi-calendar-19.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>23c9b36a392e492425d1a2986ee231ec95f20e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadi-calendar-tools-19.04.0.tar.xz">akonadi-calendar-tools-19.04.0</a></td>
   <td align="right">218kB</td>
   <td><tt>ad947aff536d169f2c838647a480c2a816e018a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadiconsole-19.04.0.tar.xz">akonadiconsole-19.04.0</a></td>
   <td align="right">189kB</td>
   <td><tt>a65b30d82800897ee829674a50e4f7f3823bdfe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadi-contacts-19.04.0.tar.xz">akonadi-contacts-19.04.0</a></td>
   <td align="right">382kB</td>
   <td><tt>993e160989d47b5afe576f954e80987f565ec5dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadi-import-wizard-19.04.0.tar.xz">akonadi-import-wizard-19.04.0</a></td>
   <td align="right">429kB</td>
   <td><tt>5527f55b84649c5577044e95a2b623608ca0c2c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadi-mime-19.04.0.tar.xz">akonadi-mime-19.04.0</a></td>
   <td align="right">133kB</td>
   <td><tt>729a00fe1dee6a23713959ec3fe5d0a6ec09d9f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadi-notes-19.04.0.tar.xz">akonadi-notes-19.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>8c646ac38e910aa8ea396dbd99a6baddd5971ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akonadi-search-19.04.0.tar.xz">akonadi-search-19.04.0</a></td>
   <td align="right">80kB</td>
   <td><tt>f62b6f154738a01e412d14729f326ab97b1508fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/akregator-19.04.0.tar.xz">akregator-19.04.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2022a88f9b216152a76e332ec630d2b32b443c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/analitza-19.04.0.tar.xz">analitza-19.04.0</a></td>
   <td align="right">324kB</td>
   <td><tt>637634b4b1c7445d76582e279d9dc8ddaec36b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ark-19.04.0.tar.xz">ark-19.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>18662e14c2e2957f7988aec9dbbb4b5fb1624df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/artikulate-19.04.0.tar.xz">artikulate-19.04.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>897507d10f9ded99281fcf5ae11d3894ae4fed5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/audiocd-kio-19.04.0.tar.xz">audiocd-kio-19.04.0</a></td>
   <td align="right">345kB</td>
   <td><tt>af615ff6896a641b5a61836c0254c0546e883ade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/baloo-widgets-19.04.0.tar.xz">baloo-widgets-19.04.0</a></td>
   <td align="right">242kB</td>
   <td><tt>6ef6dd4836e38a73ce77493da3d1fcd991897544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/blinken-19.04.0.tar.xz">blinken-19.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bc2471f2234383b0ebdb80a0d863574d74ac42a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/bomber-19.04.0.tar.xz">bomber-19.04.0</a></td>
   <td align="right">800kB</td>
   <td><tt>25c83e2bc0b09956d268c90e6140c429f1817e7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/bovo-19.04.0.tar.xz">bovo-19.04.0</a></td>
   <td align="right">194kB</td>
   <td><tt>732e6707704237637590692576934abb9fdf91f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/calendarsupport-19.04.0.tar.xz">calendarsupport-19.04.0</a></td>
   <td align="right">631kB</td>
   <td><tt>ca2fc2314068dc7fef15e88724d3a939aee45c8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/cantor-19.04.0.tar.xz">cantor-19.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5acd0e166c9ea38dd8d057e22704d1b46beb6460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/cervisia-19.04.0.tar.xz">cervisia-19.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c64147361f404a632df8c49267c6aa50c857eddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/dolphin-19.04.0.tar.xz">dolphin-19.04.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>65384f7c010d289894a9cee87f8f6aa1f2237774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/dolphin-plugins-19.04.0.tar.xz">dolphin-plugins-19.04.0</a></td>
   <td align="right">187kB</td>
   <td><tt>3290b1528b192b29f0baef5a3b9ec2a85a8446ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/dragon-19.04.0.tar.xz">dragon-19.04.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>02eb45a4e650f583786f1267e84a13ea48eabc01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/eventviews-19.04.0.tar.xz">eventviews-19.04.0</a></td>
   <td align="right">432kB</td>
   <td><tt>78dde00d6464ffe58c5d469f0ca9fa88bcb5ba5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ffmpegthumbs-19.04.0.tar.xz">ffmpegthumbs-19.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>4635fb842743a4d40b83519d52a1faa82c6a9972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/filelight-19.04.0.tar.xz">filelight-19.04.0</a></td>
   <td align="right">645kB</td>
   <td><tt>84e6f96ee6db6436d2217e0de6c7065acd25db7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/granatier-19.04.0.tar.xz">granatier-19.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9da89324970361d5284d2238225394979d95a83c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/grantlee-editor-19.04.0.tar.xz">grantlee-editor-19.04.0</a></td>
   <td align="right">108kB</td>
   <td><tt>939856ad46cc91447582b4d3f596cacce7d779a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/grantleetheme-19.04.0.tar.xz">grantleetheme-19.04.0</a></td>
   <td align="right">50kB</td>
   <td><tt>b2a34b1c67228bcf73f43cde4bd1c124b826a78f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/gwenview-19.04.0.tar.xz">gwenview-19.04.0</a></td>
   <td align="right">5.4MB</td>
   <td><tt>266bf1e13a9db06b117c145bb006f1c258238732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/incidenceeditor-19.04.0.tar.xz">incidenceeditor-19.04.0</a></td>
   <td align="right">537kB</td>
   <td><tt>e5278d3e50db4f5e76f4f0d1750096a588f7d7c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/juk-19.04.0.tar.xz">juk-19.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e5f931deed0395a01748d3bf6cd45f24561ec50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/k3b-19.04.0.tar.xz">k3b-19.04.0</a></td>
   <td align="right">10MB</td>
   <td><tt>b724511b3e13792b6dc9441790b16261f4ccc87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kaccounts-integration-19.04.0.tar.xz">kaccounts-integration-19.04.0</a></td>
   <td align="right">69kB</td>
   <td><tt>ab78768243dc6e3d167c5e1ace791970eb225f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kaccounts-providers-19.04.0.tar.xz">kaccounts-providers-19.04.0</a></td>
   <td align="right">30kB</td>
   <td><tt>ae5c553da36450b8917af0e1123ade8e70184789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kaddressbook-19.04.0.tar.xz">kaddressbook-19.04.0</a></td>
   <td align="right">461kB</td>
   <td><tt>cf48c885b605021714eeec58697d2d7464d6cf30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kajongg-19.04.0.tar.xz">kajongg-19.04.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>4a3e5bffcfac0fd2c32d9ae5a04c41243de98e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kalarm-19.04.0.tar.xz">kalarm-19.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>695c2d9a9e1df10186d042eef5de3d6427d44b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kalarmcal-19.04.0.tar.xz">kalarmcal-19.04.0</a></td>
   <td align="right">559kB</td>
   <td><tt>e2f10dd9e7b41c58ae07fe6c7cf12a118a0fa000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kalgebra-19.04.0.tar.xz">kalgebra-19.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c8dde799cc39f2cd67d446b3faf75dc7a10037e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kalzium-19.04.0.tar.xz">kalzium-19.04.0</a></td>
   <td align="right">25MB</td>
   <td><tt>4f030786309103661271abe67db109e14be352e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kamera-19.04.0.tar.xz">kamera-19.04.0</a></td>
   <td align="right">96kB</td>
   <td><tt>583b2f60f05587a7ca407d052804955ac0df0465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kamoso-19.04.0.tar.xz">kamoso-19.04.0</a></td>
   <td align="right">195kB</td>
   <td><tt>f4025a44e2314af950e97a82c7fe0727cab81177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kanagram-19.04.0.tar.xz">kanagram-19.04.0</a></td>
   <td align="right">7.6MB</td>
   <td><tt>ffac0b6632f48a9c7dba5726839f0215059d0212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kapman-19.04.0.tar.xz">kapman-19.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6c9c23f8635b926956800923322d1260290f7b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kapptemplate-19.04.0.tar.xz">kapptemplate-19.04.0</a></td>
   <td align="right">310kB</td>
   <td><tt>32631b275990f75c8904e9f58ad1becc385f0202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kate-19.04.0.tar.xz">kate-19.04.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>1c4292a9cd44d75989cc6efb840f336fb1c4e75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/katomic-19.04.0.tar.xz">katomic-19.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6aedff6347748c6727806ad2782ae6bf3e633f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kbackup-19.04.0.tar.xz">kbackup-19.04.0</a></td>
   <td align="right">346kB</td>
   <td><tt>7d36853db1098ec9b06003da84960f0feb60b17f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kblackbox-19.04.0.tar.xz">kblackbox-19.04.0</a></td>
   <td align="right">433kB</td>
   <td><tt>5c1db769f0e1816a2319cb9fb86f1f2c0a2c2b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kblocks-19.04.0.tar.xz">kblocks-19.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0e79641862b90b68d66cf9d9c7dba4d7ed206678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kblog-19.04.0.tar.xz">kblog-19.04.0</a></td>
   <td align="right">71kB</td>
   <td><tt>78fffb0835a1d152b59f1ea55d744725b9e17b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kbounce-19.04.0.tar.xz">kbounce-19.04.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>252aa1b4de9e807d26f1417eee68aea6c7d04fdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kbreakout-19.04.0.tar.xz">kbreakout-19.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8d5593939f87e282b72ac36f305b3fae1f0d82ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kbruch-19.04.0.tar.xz">kbruch-19.04.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>cd84ebead5c612d5c3f29b48573d7240755620c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kcachegrind-19.04.0.tar.xz">kcachegrind-19.04.0</a></td>
   <td align="right">789kB</td>
   <td><tt>077de77e71b58a25ae08c94a39be30291357ed7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kcalc-19.04.0.tar.xz">kcalc-19.04.0</a></td>
   <td align="right">357kB</td>
   <td><tt>8f05d67e9b6eb903e9b6eaa155bead7cd6876eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kcalcore-19.04.0.tar.xz">kcalcore-19.04.0</a></td>
   <td align="right">247kB</td>
   <td><tt>9b9729e12db8b9883fd8170e03a9d924f41d19ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kcalutils-19.04.0.tar.xz">kcalutils-19.04.0</a></td>
   <td align="right">321kB</td>
   <td><tt>841285911356e1275a573741d6cbfe84cc1083a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kcharselect-19.04.0.tar.xz">kcharselect-19.04.0</a></td>
   <td align="right">326kB</td>
   <td><tt>09ad7c48570d06af6c390b07088a678a424c8176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kcolorchooser-19.04.0.tar.xz">kcolorchooser-19.04.0</a></td>
   <td align="right">18kB</td>
   <td><tt>ecf8b5671c6861f96ae6ebaef9a6bd58c2326720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kcontacts-19.04.0.tar.xz">kcontacts-19.04.0</a></td>
   <td align="right">589kB</td>
   <td><tt>425324ccb135be1e41896f7bc524aa536dc053d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kcron-19.04.0.tar.xz">kcron-19.04.0</a></td>
   <td align="right">905kB</td>
   <td><tt>e1a9418d01a8e6385c463783fff317a323ea4d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdav-19.04.0.tar.xz">kdav-19.04.0</a></td>
   <td align="right">48kB</td>
   <td><tt>ca8c927401ebd21f5a883dcff4178ae905bd12f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdebugsettings-19.04.0.tar.xz">kdebugsettings-19.04.0</a></td>
   <td align="right">54kB</td>
   <td><tt>f1439d8adae02cc9b401ce7d55c2ae5c5be65b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kde-dev-scripts-19.04.0.tar.xz">kde-dev-scripts-19.04.0</a></td>
   <td align="right">369kB</td>
   <td><tt>90c524fbd4cf6284eb8656617fdf711350b1545a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kde-dev-utils-19.04.0.tar.xz">kde-dev-utils-19.04.0</a></td>
   <td align="right">60kB</td>
   <td><tt>687689858e6c0fa45c156b4a970670fd60cbf9a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdeedu-data-19.04.0.tar.xz">kdeedu-data-19.04.0</a></td>
   <td align="right">320kB</td>
   <td><tt>33f490b11a1acb64ec7483dbef2c1c0352b26882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdegraphics-mobipocket-19.04.0.tar.xz">kdegraphics-mobipocket-19.04.0</a></td>
   <td align="right">13kB</td>
   <td><tt>9d8c523f086fcdceb91c792238d604df3e7a8013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdegraphics-thumbnailers-19.04.0.tar.xz">kdegraphics-thumbnailers-19.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>f1c9beb6e33479c1972069c82dd3e9f4e47482ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdenetwork-filesharing-19.04.0.tar.xz">kdenetwork-filesharing-19.04.0</a></td>
   <td align="right">305kB</td>
   <td><tt>9b7bbe82ec2c3fc741cb3b11077664e5e7212aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdenlive-19.04.0.tar.xz">kdenlive-19.04.0</a></td>
   <td align="right">10MB</td>
   <td><tt>6cb98a5aac5fad09c309a09d333b628a51feadaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdepim-addons-19.04.0.tar.xz">kdepim-addons-19.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3a1ccca010eca134c82284ac986872152ff400f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdepim-apps-libs-19.04.0.tar.xz">kdepim-apps-libs-19.04.0</a></td>
   <td align="right">83kB</td>
   <td><tt>41f4dcd217745c64b91d93be951ef5f31ec4a569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdepim-runtime-19.04.0.tar.xz">kdepim-runtime-19.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b5ffafd5a993e0ca77a88dcfc69df50ef057598a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdesdk-kioslaves-19.04.0.tar.xz">kdesdk-kioslaves-19.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>032e38e765630c2f7dc93d2b92e0b860463a7453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdesdk-thumbnailers-19.04.0.tar.xz">kdesdk-thumbnailers-19.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>ae98e9f35cef9c3550a6f6a4dc03177595a056af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdf-19.04.0.tar.xz">kdf-19.04.0</a></td>
   <td align="right">528kB</td>
   <td><tt>25aaf8d1ac436981ac7c9a201543ad3de7e4dc18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdialog-19.04.0.tar.xz">kdialog-19.04.0</a></td>
   <td align="right">96kB</td>
   <td><tt>99c0d3f02cbbd53e6ce41cdf994e05e7f26eb5ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kdiamond-19.04.0.tar.xz">kdiamond-19.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>729b0c64a874c77ccc492c1ac1adabb11f5f9705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/keditbookmarks-19.04.0.tar.xz">keditbookmarks-19.04.0</a></td>
   <td align="right">180kB</td>
   <td><tt>3759fca5a48c8849928c49882271a85f9e29cfe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kfind-19.04.0.tar.xz">kfind-19.04.0</a></td>
   <td align="right">261kB</td>
   <td><tt>b569a7c310c3de219e8efda7707a7ef80f5ff686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kfloppy-19.04.0.tar.xz">kfloppy-19.04.0</a></td>
   <td align="right">194kB</td>
   <td><tt>e2846f42557c86b7b1312db78135f7ee686e85cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kfourinline-19.04.0.tar.xz">kfourinline-19.04.0</a></td>
   <td align="right">621kB</td>
   <td><tt>ba8174949717244ac60549e420b3f6855872af2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kgeography-19.04.0.tar.xz">kgeography-19.04.0</a></td>
   <td align="right">10MB</td>
   <td><tt>984b2daec2cb72a7a4f3c4647ddc6878c5a7504a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kget-19.04.0.tar.xz">kget-19.04.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>bb1cab147cd2fb0dd4ee4ab271e3c2cf07d6fdf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kgoldrunner-19.04.0.tar.xz">kgoldrunner-19.04.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a9920c23fd77bb3b7d0806847c962a451acbfd6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kgpg-19.04.0.tar.xz">kgpg-19.04.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>fb6b068e51839c84e2be8428cf321dfebb62292c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/khangman-19.04.0.tar.xz">khangman-19.04.0</a></td>
   <td align="right">6.7MB</td>
   <td><tt>7f035ebc6ce6967ea3281f2aad991b47e84cf70e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/khelpcenter-19.04.0.tar.xz">khelpcenter-19.04.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>3257da7624ed8e34205d58b2cfe3a8fa896932f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kidentitymanagement-19.04.0.tar.xz">kidentitymanagement-19.04.0</a></td>
   <td align="right">145kB</td>
   <td><tt>8875d224d55b26fca18b3f973bf8582b5ebf4cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kig-19.04.0.tar.xz">kig-19.04.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>7ada72ad3baa3f8f1d8b115d3dbaa3f372b8cfd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kigo-19.04.0.tar.xz">kigo-19.04.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>2bf51cbe289fe326f68f950d70de672ccd3b5a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/killbots-19.04.0.tar.xz">killbots-19.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0f3f48bc79881b432cd3ee9c445ab477c8a5b49e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kimagemapeditor-19.04.0.tar.xz">kimagemapeditor-19.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d71ac85fc63be1b79b2be82e54277825c0236522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kimap-19.04.0.tar.xz">kimap-19.04.0</a></td>
   <td align="right">116kB</td>
   <td><tt>126d0284ff1ba224e79cfbea473499bca8b773a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kio-extras-19.04.0.tar.xz">kio-extras-19.04.0</a></td>
   <td align="right">556kB</td>
   <td><tt>c4f05daa0b8998b1435d3a6b5ee552e2935817fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kirigami-gallery-19.04.0.tar.xz">kirigami-gallery-19.04.0</a></td>
   <td align="right">263kB</td>
   <td><tt>df57bad970236058d9f8e126bf9301265df768c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kiriki-19.04.0.tar.xz">kiriki-19.04.0</a></td>
   <td align="right">363kB</td>
   <td><tt>67ceba0ec601362209e28bf7328a48093b4d5a95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kiten-19.04.0.tar.xz">kiten-19.04.0</a></td>
   <td align="right">10MB</td>
   <td><tt>1845f1551605a4f694f8044b61c8e379e710ef8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kitinerary-19.04.0.tar.xz">kitinerary-19.04.0</a></td>
   <td align="right">671kB</td>
   <td><tt>7954c1bbab3ab7f1f622edeb6540ee648edc2c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kjumpingcube-19.04.0.tar.xz">kjumpingcube-19.04.0</a></td>
   <td align="right">280kB</td>
   <td><tt>305265ed6d9ae59823dda589b53b8b32a2c1040d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kldap-19.04.0.tar.xz">kldap-19.04.0</a></td>
   <td align="right">151kB</td>
   <td><tt>51f6c299ad05e5f285f6fbaccdc1667d8a6c3b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kleopatra-19.04.0.tar.xz">kleopatra-19.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ad8683432911118e580abaf7959fd01430741918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/klettres-19.04.0.tar.xz">klettres-19.04.0</a></td>
   <td align="right">20MB</td>
   <td><tt>3c965d5c630c949623051fc4d52d9fe628d780ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/klickety-19.04.0.tar.xz">klickety-19.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>98e9f207f87691194f54e2c61be70e7c7f455429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/klines-19.04.0.tar.xz">klines-19.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>57d461ddadfd32572de3762654005f00aa245d22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmag-19.04.0.tar.xz">kmag-19.04.0</a></td>
   <td align="right">722kB</td>
   <td><tt>a2bbd2a8d12b8845175a88f606bfa3cf66c3fc0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmahjongg-19.04.0.tar.xz">kmahjongg-19.04.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>67dc170721587e8b0cb9ed35f16f044c9f2c9c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmail-19.04.0.tar.xz">kmail-19.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>437b82b4deb35658e290766b65bf244598a462f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmail-account-wizard-19.04.0.tar.xz">kmail-account-wizard-19.04.0</a></td>
   <td align="right">152kB</td>
   <td><tt>c392e54df128823698ef018c26871606ea063af3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmailtransport-19.04.0.tar.xz">kmailtransport-19.04.0</a></td>
   <td align="right">162kB</td>
   <td><tt>151b71889a6feeb3fb710775aa798521b1bcac6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmbox-19.04.0.tar.xz">kmbox-19.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>fd41d6e1d36c2639079b8485c8c086ff67ca7673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmime-19.04.0.tar.xz">kmime-19.04.0</a></td>
   <td align="right">143kB</td>
   <td><tt>ea263c27a68fa89d6dd84bf26e902700ff7eabc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmines-19.04.0.tar.xz">kmines-19.04.0</a></td>
   <td align="right">883kB</td>
   <td><tt>cfb4a16ce62737cae2021ad3f74e61e84736201b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmix-19.04.0.tar.xz">kmix-19.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7720739f4a146a8e52450e4025c7afe5b0faa6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmousetool-19.04.0.tar.xz">kmousetool-19.04.0</a></td>
   <td align="right">110kB</td>
   <td><tt>611f79fd857816fef822e2af0660016b8c6b46c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmouth-19.04.0.tar.xz">kmouth-19.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>008df40cb7ec449a019ed80fdc04d1b903920dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kmplot-19.04.0.tar.xz">kmplot-19.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>362dd3979d996131fb533060f7ba06723e744e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/knavalbattle-19.04.0.tar.xz">knavalbattle-19.04.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b3529f4542b5d42c1f6048a76ac8fb61d45f96d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/knetwalk-19.04.0.tar.xz">knetwalk-19.04.0</a></td>
   <td align="right">1013kB</td>
   <td><tt>fa5dec8a1a6b4957834976392013ed6dcf83bd78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/knights-19.04.0.tar.xz">knights-19.04.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e9bf3a161b590ae52f0de4b9ad841dc8884858c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/knotes-19.04.0.tar.xz">knotes-19.04.0</a></td>
   <td align="right">312kB</td>
   <td><tt>7f0a52d4f8fd23610c646412734e5b2429a73b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kolf-19.04.0.tar.xz">kolf-19.04.0</a></td>
   <td align="right">999kB</td>
   <td><tt>44a5eeea7f47f56753604f49888ab3c92a7bc75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kollision-19.04.0.tar.xz">kollision-19.04.0</a></td>
   <td align="right">274kB</td>
   <td><tt>3c08f17931f0d8000ab53a497e7db4046441b775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kolourpaint-19.04.0.tar.xz">kolourpaint-19.04.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>f824607b2f58353a228f1525414b1699582d2309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kompare-19.04.0.tar.xz">kompare-19.04.0</a></td>
   <td align="right">783kB</td>
   <td><tt>635acf05c79c0323e2488f1567d2d9309911417c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/konqueror-19.04.0.tar.xz">konqueror-19.04.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>87ec91babff03f78040781845833b78998deb62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/konquest-19.04.0.tar.xz">konquest-19.04.0</a></td>
   <td align="right">643kB</td>
   <td><tt>8b345f7cad221d29d7191b31efc9de31cebbc9c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/konsole-19.04.0.tar.xz">konsole-19.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>37d5620b1e0660280b4b86f23902471e1f1f7d9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kontact-19.04.0.tar.xz">kontact-19.04.0</a></td>
   <td align="right">774kB</td>
   <td><tt>7ba1ea492f718af678b50d2c72b2da388ddc7244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kontactinterface-19.04.0.tar.xz">kontactinterface-19.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>b42f0e495ab3d0ca34c1ffe7038428e8f75f32be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kopete-19.04.0.tar.xz">kopete-19.04.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>c9864cda86e8b1a46586ec304c842caff3b26681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/korganizer-19.04.0.tar.xz">korganizer-19.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c626787be0983a8415d643651c7af89b8d19435d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kpat-19.04.0.tar.xz">kpat-19.04.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>243b79b5640971e4944e819b50b368ec97ba1fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kpimtextedit-19.04.0.tar.xz">kpimtextedit-19.04.0</a></td>
   <td align="right">148kB</td>
   <td><tt>6412091de3f3af4a3535befaec971f0550c5b7ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kpkpass-19.04.0.tar.xz">kpkpass-19.04.0</a></td>
   <td align="right">22kB</td>
   <td><tt>d5516f9c76eaec23a863318672ac78a7c077c7f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kqtquickcharts-19.04.0.tar.xz">kqtquickcharts-19.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>4e665bcdaabeba1510e097dbcfb66c79dba36788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/krdc-19.04.0.tar.xz">krdc-19.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1852d6a1552e8a65f388142dd5cabc9a21b722ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kreversi-19.04.0.tar.xz">kreversi-19.04.0</a></td>
   <td align="right">921kB</td>
   <td><tt>4750f1efde63ca6fdcff2cc9f4594c80ee005825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/krfb-19.04.0.tar.xz">krfb-19.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9b9598c1ca2e0567b037b718c9c1ed71078b03c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kross-interpreters-19.04.0.tar.xz">kross-interpreters-19.04.0</a></td>
   <td align="right">146kB</td>
   <td><tt>65b41fa9325a3f10570ad9eb0307bb47797b3fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kruler-19.04.0.tar.xz">kruler-19.04.0</a></td>
   <td align="right">243kB</td>
   <td><tt>77c4efceb599f65e25d041de617bf6833aecc091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kshisen-19.04.0.tar.xz">kshisen-19.04.0</a></td>
   <td align="right">802kB</td>
   <td><tt>1293c08f746ad82b1b681678ac3ca2979b92b606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ksirk-19.04.0.tar.xz">ksirk-19.04.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>bab55222bdf8e13ac7bb2b9d9aac6f8e2454ec9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ksmtp-19.04.0.tar.xz">ksmtp-19.04.0</a></td>
   <td align="right">39kB</td>
   <td><tt>52f54bd0ca32eb16a8856a421bcb8dc61ad97e65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ksnakeduel-19.04.0.tar.xz">ksnakeduel-19.04.0</a></td>
   <td align="right">590kB</td>
   <td><tt>f31a9702859bc157e412283ff7b931f84f8801be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kspaceduel-19.04.0.tar.xz">kspaceduel-19.04.0</a></td>
   <td align="right">596kB</td>
   <td><tt>8103b71dbad6be303275a4d11ff11a1109e45b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ksquares-19.04.0.tar.xz">ksquares-19.04.0</a></td>
   <td align="right">253kB</td>
   <td><tt>87d9c55a27d3fdfaa5de4c6e2ef9a5dfff5aa58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ksudoku-19.04.0.tar.xz">ksudoku-19.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>58eb8a483790b03f52651da318c2c59a485e4c32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ksystemlog-19.04.0.tar.xz">ksystemlog-19.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ca38e572835910b14a32600152bb7c8443642573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kteatime-19.04.0.tar.xz">kteatime-19.04.0</a></td>
   <td align="right">291kB</td>
   <td><tt>8512871fec331c2b44c39f7cc7c16620d1763d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktimer-19.04.0.tar.xz">ktimer-19.04.0</a></td>
   <td align="right">368kB</td>
   <td><tt>85c981a59c61976542c5ea0ad7addff9a7430e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktnef-19.04.0.tar.xz">ktnef-19.04.0</a></td>
   <td align="right">292kB</td>
   <td><tt>b55b2a4962013d9800d1c5022bf0aaab789fb86e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktouch-19.04.0.tar.xz">ktouch-19.04.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>a6749a0bea1a58ea39cd2622c9c2891dc1177a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-accounts-kcm-19.04.0.tar.xz">ktp-accounts-kcm-19.04.0</a></td>
   <td align="right">255kB</td>
   <td><tt>ea9b4e84df14a5653ba7570e0ad62531f23d073f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-approver-19.04.0.tar.xz">ktp-approver-19.04.0</a></td>
   <td align="right">35kB</td>
   <td><tt>083dfd60ecadce0a153b782ed39b1d2ff06633c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-auth-handler-19.04.0.tar.xz">ktp-auth-handler-19.04.0</a></td>
   <td align="right">44kB</td>
   <td><tt>453bac5b2a9ba39ece01dd0b88b8e3a7ef24af4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-call-ui-19.04.0.tar.xz">ktp-call-ui-19.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>6aee6cfbf606f6ba7c46cb47496210c66752df2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-common-internals-19.04.0.tar.xz">ktp-common-internals-19.04.0</a></td>
   <td align="right">431kB</td>
   <td><tt>0617b876eb2ccda7ed3fa0f442d15c5b64bc7b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-contact-list-19.04.0.tar.xz">ktp-contact-list-19.04.0</a></td>
   <td align="right">143kB</td>
   <td><tt>0106d25fae325a646271d72d6f4f67fec109011d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-contact-runner-19.04.0.tar.xz">ktp-contact-runner-19.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>1afcc6a2dea57fb4e2328a78c1728cbbc6964879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-desktop-applets-19.04.0.tar.xz">ktp-desktop-applets-19.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>61157e538190a6ce723eed8e377a2d3c5447c9f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-filetransfer-handler-19.04.0.tar.xz">ktp-filetransfer-handler-19.04.0</a></td>
   <td align="right">44kB</td>
   <td><tt>79b73880921206dce89543c46686174b2f22e010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-kded-module-19.04.0.tar.xz">ktp-kded-module-19.04.0</a></td>
   <td align="right">92kB</td>
   <td><tt>cff0d3f26ccbfdd71ea48de3b2e03d161f0cd624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-send-file-19.04.0.tar.xz">ktp-send-file-19.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>a829991434fd3307ad796e810fe0a3ef888ec677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktp-text-ui-19.04.0.tar.xz">ktp-text-ui-19.04.0</a></td>
   <td align="right">455kB</td>
   <td><tt>375e87ddb80fc0ee19dab3b2be34942c3986d733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/ktuberling-19.04.0.tar.xz">ktuberling-19.04.0</a></td>
   <td align="right">31MB</td>
   <td><tt>a2a0ed1b31948c728679ab9ba50344b2ba1941ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kturtle-19.04.0.tar.xz">kturtle-19.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>360c132883bd723b6c7d155a00300ef3c0a99fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kubrick-19.04.0.tar.xz">kubrick-19.04.0</a></td>
   <td align="right">304kB</td>
   <td><tt>1a8c9bd8a3d32f64ba7595c08794782800f2af5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kwalletmanager-19.04.0.tar.xz">kwalletmanager-19.04.0</a></td>
   <td align="right">767kB</td>
   <td><tt>7f82474125025822e2d7e9fa124ffcca7d550e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kwave-19.04.0.tar.xz">kwave-19.04.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>7048d74b6553646fe0b5a025cea193fd3dc57075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/kwordquiz-19.04.0.tar.xz">kwordquiz-19.04.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>6654844b31d9dcd1496b6a16144bf5c9eb9db6df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libgravatar-19.04.0.tar.xz">libgravatar-19.04.0</a></td>
   <td align="right">30kB</td>
   <td><tt>fe9630d0f5bad32de3b6680e83545dc5ae1e658a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkcddb-19.04.0.tar.xz">libkcddb-19.04.0</a></td>
   <td align="right">416kB</td>
   <td><tt>f9a8e13fc158c9a71692dfb8e8c42f01f452ebb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkcompactdisc-19.04.0.tar.xz">libkcompactdisc-19.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>bcb730b7b8e423f58d72e008e78bd9280ba186c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkdcraw-19.04.0.tar.xz">libkdcraw-19.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>c737d1878c1a4469a87a80359aa0f58e177c4488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkdegames-19.04.0.tar.xz">libkdegames-19.04.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>98dd2d5507650e0285b36d899e9358d5ab88e40c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkdepim-19.04.0.tar.xz">libkdepim-19.04.0</a></td>
   <td align="right">329kB</td>
   <td><tt>cb047c3998cf2ffceb46522a99798a133f06b956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkeduvocdocument-19.04.0.tar.xz">libkeduvocdocument-19.04.0</a></td>
   <td align="right">202kB</td>
   <td><tt>7f18486876f0acb4beb716ec25506a355945fdb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkexiv2-19.04.0.tar.xz">libkexiv2-19.04.0</a></td>
   <td align="right">62kB</td>
   <td><tt>0b4269254bfd406ab6548d740e588f58218b3e7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkgapi-19.04.0.tar.xz">libkgapi-19.04.0</a></td>
   <td align="right">219kB</td>
   <td><tt>ccbe8498f479122ef29264107a536a6b49892fd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkgeomap-19.04.0.tar.xz">libkgeomap-19.04.0</a></td>
   <td align="right">147kB</td>
   <td><tt>21b8860c4a6e380425671f9c6854bde5f395fd9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkipi-19.04.0.tar.xz">libkipi-19.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>ad7ca253817e4acce95b42b09e3038d8f10ec67f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkleo-19.04.0.tar.xz">libkleo-19.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>dfdc425e0c762c7aef12a5e6432b1f12c3e86138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkmahjongg-19.04.0.tar.xz">libkmahjongg-19.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>10a8c4ffa35362410897e4bab4c5bbff1d01b346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libkomparediff2-19.04.0.tar.xz">libkomparediff2-19.04.0</a></td>
   <td align="right">169kB</td>
   <td><tt>8ded6d0e69ffb5aed7f96adb2da9b40c70afac33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libksane-19.04.0.tar.xz">libksane-19.04.0</a></td>
   <td align="right">134kB</td>
   <td><tt>6e355e2ed245f50264b8e72d2f04189950b0a98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/libksieve-19.04.0.tar.xz">libksieve-19.04.0</a></td>
   <td align="right">537kB</td>
   <td><tt>7b33ea428eb4a73b2b6f154b70538cb18cad7fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/lokalize-19.04.0.tar.xz">lokalize-19.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e1d8c34bb4b7e16a45b8e5003170d1bfa8c7a472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/lskat-19.04.0.tar.xz">lskat-19.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>885d34874622235f2eebf7ef287383dd599ea925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/mailcommon-19.04.0.tar.xz">mailcommon-19.04.0</a></td>
   <td align="right">677kB</td>
   <td><tt>85b96c0ee5a451dda341d7c8012a74c79d7b5804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/mailimporter-19.04.0.tar.xz">mailimporter-19.04.0</a></td>
   <td align="right">527kB</td>
   <td><tt>5e3138432c2769fd9225336939e213d0ce8a1dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/marble-19.04.0.tar.xz">marble-19.04.0</a></td>
   <td align="right">49MB</td>
   <td><tt>ecba31fe005df9e2684911c2782c300f36721ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/mbox-importer-19.04.0.tar.xz">mbox-importer-19.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>14d1d43d6e41b599b5dcc2275b56a47457abe412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/messagelib-19.04.0.tar.xz">messagelib-19.04.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>292b2f17e2a4ef12a40f3f979191db390943e48e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/minuet-19.04.0.tar.xz">minuet-19.04.0</a></td>
   <td align="right">26MB</td>
   <td><tt>b5f79b23994e36228d0b0f77d18c2f38ba99eef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/okular-19.04.0.tar.xz">okular-19.04.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>81a6bc25425ff6c2bdb6a1fd88354080813d881a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/palapeli-19.04.0.tar.xz">palapeli-19.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a033f74b9708213ac51c4c03fcf004d7e986b29a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/parley-19.04.0.tar.xz">parley-19.04.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>88b61f1a885f16366abd88c3a5f77b768113f886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/picmi-19.04.0.tar.xz">picmi-19.04.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>98ccafb9efcdc7ef2957590a93b50ea0340867b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/pimcommon-19.04.0.tar.xz">pimcommon-19.04.0</a></td>
   <td align="right">288kB</td>
   <td><tt>85955888e01015b4b1a8e29a46b53198d810a712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/pim-data-exporter-19.04.0.tar.xz">pim-data-exporter-19.04.0</a></td>
   <td align="right">264kB</td>
   <td><tt>4d70375b60f0b3f04a4eb961969b6525de29ec04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/pim-sieve-editor-19.04.0.tar.xz">pim-sieve-editor-19.04.0</a></td>
   <td align="right">440kB</td>
   <td><tt>cca2c75fec28380b3e7ebc143265308fbf60b9fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/poxml-19.04.0.tar.xz">poxml-19.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>71e0aec815d0d8abcd010ebc3c3a23073bcb2fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/print-manager-19.04.0.tar.xz">print-manager-19.04.0</a></td>
   <td align="right">234kB</td>
   <td><tt>0b410cdcee337e3eff7b70b347fb1c8933e5ab78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/rocs-19.04.0.tar.xz">rocs-19.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d1efdf63d8dbc974636912e34e7ad8cdaf0fb5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/signon-kwallet-extension-19.04.0.tar.xz">signon-kwallet-extension-19.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>13a1d9be4682205690d1fe003764e3ba39f2652a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/spectacle-19.04.0.tar.xz">spectacle-19.04.0</a></td>
   <td align="right">817kB</td>
   <td><tt>cadb0bf932c92b919d149b41a82374ee6e2e67ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/step-19.04.0.tar.xz">step-19.04.0</a></td>
   <td align="right">840kB</td>
   <td><tt>5a6a9459896c62f3158420685b717f46b7e0c9a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/svgpart-19.04.0.tar.xz">svgpart-19.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>8515581797f38e816c03fc0dd4a0697020431a39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/sweeper-19.04.0.tar.xz">sweeper-19.04.0</a></td>
   <td align="right">359kB</td>
   <td><tt>9c14a8785e7bd1fd3f5da1eb6d7eec38e88214ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/umbrello-19.04.0.tar.xz">umbrello-19.04.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>408f4a3e34e5885bc87090a88513347d12670ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.0/src/zeroconf-ioslave-19.04.0.tar.xz">zeroconf-ioslave-19.04.0</a></td>
   <td align="right">37kB</td>
   <td><tt>c978fe37bf92e48939350c8c2ecc1883ef5ce2ff</tt></td>
</tr>

</table>
