<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadi-20.03.80.tar.xz">akonadi-20.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>8c79f0e39a8886bdc1ca9b645e148b71ba0035f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadi-calendar-20.03.80.tar.xz">akonadi-calendar-20.03.80</a></td>
   <td align="right">324kB</td>
   <td><tt>68e5583a70bf165745fac81be9cd4dc76de91c03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadi-calendar-tools-20.03.80.tar.xz">akonadi-calendar-tools-20.03.80</a></td>
   <td align="right">218kB</td>
   <td><tt>41de4c7896b45fd640cd20b5b6a4b63879f3a414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadiconsole-20.03.80.tar.xz">akonadiconsole-20.03.80</a></td>
   <td align="right">189kB</td>
   <td><tt>ce5ede75e11a3e2a18960790bbe758377b37c949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadi-contacts-20.03.80.tar.xz">akonadi-contacts-20.03.80</a></td>
   <td align="right">385kB</td>
   <td><tt>3a63f8cb5b79d8a997499daf8618c205d563831d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadi-import-wizard-20.03.80.tar.xz">akonadi-import-wizard-20.03.80</a></td>
   <td align="right">429kB</td>
   <td><tt>e6bd2b402e77116f899c26fa503fb04f30224452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadi-mime-20.03.80.tar.xz">akonadi-mime-20.03.80</a></td>
   <td align="right">129kB</td>
   <td><tt>c6a53705c2b6c2d9d4a2239c0558d9a4ccbc4805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadi-notes-20.03.80.tar.xz">akonadi-notes-20.03.80</a></td>
   <td align="right">23kB</td>
   <td><tt>9f9e4a749711bace0e94c03f55661c19e2bafd2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akonadi-search-20.03.80.tar.xz">akonadi-search-20.03.80</a></td>
   <td align="right">81kB</td>
   <td><tt>7efd08e4fc8896edacb5a9d6a7c41c40c16de6cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/akregator-20.03.80.tar.xz">akregator-20.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4ebdc542b15ee9b0fa213f2f2f3e329550ee25a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/analitza-20.03.80.tar.xz">analitza-20.03.80</a></td>
   <td align="right">325kB</td>
   <td><tt>ac66d092c5245628b4e570468fd7a346e84496a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ark-20.03.80.tar.xz">ark-20.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1e6527ba7d2481a6d49d25f68746fd9b204f3e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/artikulate-20.03.80.tar.xz">artikulate-20.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>91bfa9a1548c147b64316881a5f4dacfd23f5923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/audiocd-kio-20.03.80.tar.xz">audiocd-kio-20.03.80</a></td>
   <td align="right">351kB</td>
   <td><tt>cba7c81ad33e76e0e8e199b85c19e9b7024e5651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/baloo-widgets-20.03.80.tar.xz">baloo-widgets-20.03.80</a></td>
   <td align="right">257kB</td>
   <td><tt>b19c55a2652f8d4d16fabaa40e424b7140542979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/blinken-20.03.80.tar.xz">blinken-20.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1c6d7ea7eeba0f90c5ad11e4016a249c40d17e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/bomber-20.03.80.tar.xz">bomber-20.03.80</a></td>
   <td align="right">801kB</td>
   <td><tt>df93402e55ae27df7e15a0f734c1e368d3fe09d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/bovo-20.03.80.tar.xz">bovo-20.03.80</a></td>
   <td align="right">195kB</td>
   <td><tt>09dc803669e87bdcd768eb653b71273793320754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/calendarsupport-20.03.80.tar.xz">calendarsupport-20.03.80</a></td>
   <td align="right">637kB</td>
   <td><tt>6c0731003dca4af97835d21ffb404f1126441f64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/cantor-20.03.80.tar.xz">cantor-20.03.80</a></td>
   <td align="right">8.6MB</td>
   <td><tt>59c713dfaf66398700a38e26296e17a85733dbb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/cervisia-20.03.80.tar.xz">cervisia-20.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7d7a9130518e187b01daa276d00b9b48d02b459d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/dolphin-20.03.80.tar.xz">dolphin-20.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>a74cf360d7e1ebe5e363d69124e2efc8cb485f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/dolphin-plugins-20.03.80.tar.xz">dolphin-plugins-20.03.80</a></td>
   <td align="right">203kB</td>
   <td><tt>b5b37b7fe58fcf38eca47e3e956cca5dcc3c1dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/dragon-20.03.80.tar.xz">dragon-20.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>dddfa813db7453e1830ae1406b80593a63602886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/elisa-20.03.80.tar.xz">elisa-20.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>da3e40328b75a67ed56bad318a68f953e736d2b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/eventviews-20.03.80.tar.xz">eventviews-20.03.80</a></td>
   <td align="right">433kB</td>
   <td><tt>22b806360fc84d298b81ddff1fb1d38a86322b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ffmpegthumbs-20.03.80.tar.xz">ffmpegthumbs-20.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>c02889fb03176902f5064e95b2d08f1f84229979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/filelight-20.03.80.tar.xz">filelight-20.03.80</a></td>
   <td align="right">646kB</td>
   <td><tt>b650178942fa47a47b4c7872f17e996aeae151d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/granatier-20.03.80.tar.xz">granatier-20.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>65aa4884bf8052477801656a53a8158381adef1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/grantlee-editor-20.03.80.tar.xz">grantlee-editor-20.03.80</a></td>
   <td align="right">109kB</td>
   <td><tt>4e1de36c857fe70aed8082f88220ba90fa6a4c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/grantleetheme-20.03.80.tar.xz">grantleetheme-20.03.80</a></td>
   <td align="right">53kB</td>
   <td><tt>466bb82c48b612df09f2e30a6ac1478837f5b313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/gwenview-20.03.80.tar.xz">gwenview-20.03.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>0a1b604143783529176f741ab87e2763e63cbbf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/incidenceeditor-20.03.80.tar.xz">incidenceeditor-20.03.80</a></td>
   <td align="right">537kB</td>
   <td><tt>64f749b718b222beb12596c48804c5198227dd43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/juk-20.03.80.tar.xz">juk-20.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8a310cd5a36884a44d4e88b21e314c5f5b050fa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/k3b-20.03.80.tar.xz">k3b-20.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>dac67b999140e338900d4f480d7a735ead3320fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kaccounts-integration-20.03.80.tar.xz">kaccounts-integration-20.03.80</a></td>
   <td align="right">64kB</td>
   <td><tt>41e07617e4ecc114db0df10371f50f7811866c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kaccounts-providers-20.03.80.tar.xz">kaccounts-providers-20.03.80</a></td>
   <td align="right">35kB</td>
   <td><tt>828add44fd262dc59cd419bd428ef5f4556aac6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kaddressbook-20.03.80.tar.xz">kaddressbook-20.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3053dcf5ef118b240a50d10edca76926c500e684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kajongg-20.03.80.tar.xz">kajongg-20.03.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>35f35c8bb371c3ba8a0c88483cb9502c44771ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kalarm-20.03.80.tar.xz">kalarm-20.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a6a129c591ec982863349cd5048333f0bb3ab730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kalarmcal-20.03.80.tar.xz">kalarmcal-20.03.80</a></td>
   <td align="right">560kB</td>
   <td><tt>36c9362e7568c90c9642090eb690a6394f1dbcf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kalgebra-20.03.80.tar.xz">kalgebra-20.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>620e7ba19e7342b87e0039f22cbb6641c5513e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kalzium-20.03.80.tar.xz">kalzium-20.03.80</a></td>
   <td align="right">23MB</td>
   <td><tt>b699e77b23226a709f9be7bf109e8904787ddd26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kamera-20.03.80.tar.xz">kamera-20.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>219b9fc11fdd22dfcd42f97e24597d72d47ddae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kamoso-20.03.80.tar.xz">kamoso-20.03.80</a></td>
   <td align="right">199kB</td>
   <td><tt>e68d9dd3ceb7ab3a8840250e976f017caa2ca325</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kanagram-20.03.80.tar.xz">kanagram-20.03.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>edac3d194edb5f49d7ee42e929d0ab7c67d4cffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kapman-20.03.80.tar.xz">kapman-20.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f71e7ba61e6b29ad33aa31bb1d66bc07c7a2422a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kapptemplate-20.03.80.tar.xz">kapptemplate-20.03.80</a></td>
   <td align="right">318kB</td>
   <td><tt>448c1368d7d90356224223b0948227f94ca17f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kate-20.03.80.tar.xz">kate-20.03.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>c9ab342251f0416bc450b278efe6d047fc23e2e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/katomic-20.03.80.tar.xz">katomic-20.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>33170ddc04b59d5c93707afc1d4acc472f0d17f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kbackup-20.03.80.tar.xz">kbackup-20.03.80</a></td>
   <td align="right">352kB</td>
   <td><tt>4fc17b4edd4ac6246212dbdb9bbb49cfcc756c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kblackbox-20.03.80.tar.xz">kblackbox-20.03.80</a></td>
   <td align="right">436kB</td>
   <td><tt>a0f21835332c1785c235ec1532f9ebba39561673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kblocks-20.03.80.tar.xz">kblocks-20.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9467900216cf88df5ad01055306383d35876cd93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kblog-20.03.80.tar.xz">kblog-20.03.80</a></td>
   <td align="right">71kB</td>
   <td><tt>a99c633ef57e13f766013b499a8eb004cf3d3df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kbounce-20.03.80.tar.xz">kbounce-20.03.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>00992c6fd88001bf3c93345e95861f0f4f3e5853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kbreakout-20.03.80.tar.xz">kbreakout-20.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>78eaa4d00e74ba83cc6dd22fedf29e3407eb2450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kbruch-20.03.80.tar.xz">kbruch-20.03.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>8ef91431b3c32d5b08ea3b883779c0539b290fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kcachegrind-20.03.80.tar.xz">kcachegrind-20.03.80</a></td>
   <td align="right">791kB</td>
   <td><tt>c5f39e9c50f80e702689bdb6aa74e60625972a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kcalc-20.03.80.tar.xz">kcalc-20.03.80</a></td>
   <td align="right">366kB</td>
   <td><tt>d2615ecad6446d0fe8e22903effa70466e975ab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kcalutils-20.03.80.tar.xz">kcalutils-20.03.80</a></td>
   <td align="right">315kB</td>
   <td><tt>7d59aaff70a25f98e89c1fad6ee2365d5d6dc37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kcharselect-20.03.80.tar.xz">kcharselect-20.03.80</a></td>
   <td align="right">327kB</td>
   <td><tt>db7e30a542bc3171f43cbec921ee3a3fb3690eb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kcolorchooser-20.03.80.tar.xz">kcolorchooser-20.03.80</a></td>
   <td align="right">21kB</td>
   <td><tt>add943c16259c6b81f31cf94ba491d1e649b55b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kcron-20.03.80.tar.xz">kcron-20.03.80</a></td>
   <td align="right">870kB</td>
   <td><tt>8027c1cadef037f042091f81557ddc0efe96e353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdav-20.03.80.tar.xz">kdav-20.03.80</a></td>
   <td align="right">55kB</td>
   <td><tt>14a402459dcf8a8b8795de82403407a4afa5a2b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdebugsettings-20.03.80.tar.xz">kdebugsettings-20.03.80</a></td>
   <td align="right">62kB</td>
   <td><tt>5bd3d45fc3ac2231ddc1ff44c2665bf0b4f02d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdeconnect-kde-20.03.80.tar.xz">kdeconnect-kde-20.03.80</a></td>
   <td align="right">417kB</td>
   <td><tt>054dec8da1d51e877001c1308cfe711fb217a223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kde-dev-scripts-20.03.80.tar.xz">kde-dev-scripts-20.03.80</a></td>
   <td align="right">369kB</td>
   <td><tt>36986cb76e66c40378833751fd8f7a235b61eabf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kde-dev-utils-20.03.80.tar.xz">kde-dev-utils-20.03.80</a></td>
   <td align="right">63kB</td>
   <td><tt>ddd9513575b5df24f6763ff91d77d5875f8ee142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdeedu-data-20.03.80.tar.xz">kdeedu-data-20.03.80</a></td>
   <td align="right">320kB</td>
   <td><tt>c56b62924168db3da59f57ddcf3adcc96c301939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdegraphics-mobipocket-20.03.80.tar.xz">kdegraphics-mobipocket-20.03.80</a></td>
   <td align="right">15kB</td>
   <td><tt>01edd55b512487c38413f44d7bcd3a6115a6f419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdegraphics-thumbnailers-20.03.80.tar.xz">kdegraphics-thumbnailers-20.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>9d49d253f0ce7640f4522691ec69421ce2f73bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdenetwork-filesharing-20.03.80.tar.xz">kdenetwork-filesharing-20.03.80</a></td>
   <td align="right">312kB</td>
   <td><tt>9ec1a7982d9caacabe1e867b07e476f06b636b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdenlive-20.03.80.tar.xz">kdenlive-20.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>12d03f3e742cdf08bc6f82abd354b9d4a5bf6786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdepim-addons-20.03.80.tar.xz">kdepim-addons-20.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>571f6716adedfae7a16e68804203269a63c29c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdepim-apps-libs-20.03.80.tar.xz">kdepim-apps-libs-20.03.80</a></td>
   <td align="right">82kB</td>
   <td><tt>a27d2025cf3ada78130735e1bedd8eeb8aad6fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdepim-runtime-20.03.80.tar.xz">kdepim-runtime-20.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0bc4d75a6edd6f1e6041784a8507c56f93e88007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdesdk-kioslaves-20.03.80.tar.xz">kdesdk-kioslaves-20.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>4d276390e793cd29d4d780ffd975d7d3288804a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdesdk-thumbnailers-20.03.80.tar.xz">kdesdk-thumbnailers-20.03.80</a></td>
   <td align="right">17kB</td>
   <td><tt>faeb8ebd3126b4508252281d79fbb04c20298af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdf-20.03.80.tar.xz">kdf-20.03.80</a></td>
   <td align="right">451kB</td>
   <td><tt>da3244b152b8ff70426c4125512bc3c38244d934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdialog-20.03.80.tar.xz">kdialog-20.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>0cf4e46a1f685e46020beeac350adf4a19defe2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kdiamond-20.03.80.tar.xz">kdiamond-20.03.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>2b69a2e546dae084a38df23eb708d6ebcd8fe3d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/keditbookmarks-20.03.80.tar.xz">keditbookmarks-20.03.80</a></td>
   <td align="right">184kB</td>
   <td><tt>0c4f31e0fee173d7a7c6349608393d83395f1353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kfind-20.03.80.tar.xz">kfind-20.03.80</a></td>
   <td align="right">265kB</td>
   <td><tt>d5f8e36a170195a82d0accd59c84298572d77a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kfloppy-20.03.80.tar.xz">kfloppy-20.03.80</a></td>
   <td align="right">195kB</td>
   <td><tt>79e97fb31773bd72dc455558565c27b70010902d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kfourinline-20.03.80.tar.xz">kfourinline-20.03.80</a></td>
   <td align="right">624kB</td>
   <td><tt>0fc7202ea6a60515f75082b56dcf0bad4ecd55e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kgeography-20.03.80.tar.xz">kgeography-20.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>81c8d6e25ae1a5c19827be02d1886cbdec2d3d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kget-20.03.80.tar.xz">kget-20.03.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>46757c2369ca86ca20a3a0a628f104abfd77745a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kgoldrunner-20.03.80.tar.xz">kgoldrunner-20.03.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a4c8e9294b38fdb6f9f9e230ced937f633950514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kgpg-20.03.80.tar.xz">kgpg-20.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7e4f23deb7116bd668034542052713fc5c826e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/khangman-20.03.80.tar.xz">khangman-20.03.80</a></td>
   <td align="right">6.8MB</td>
   <td><tt>10bc909b13bd8344c136ffa13c11853b27e8c7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/khelpcenter-20.03.80.tar.xz">khelpcenter-20.03.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>621a09ef21a58e96062c989c8b7764c6afd1be65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kidentitymanagement-20.03.80.tar.xz">kidentitymanagement-20.03.80</a></td>
   <td align="right">145kB</td>
   <td><tt>a95306e02a7eb6f8c617eb5593ce98165c783cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kig-20.03.80.tar.xz">kig-20.03.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3eba42994f0f37ec13b434f1e695e7d2350c0b21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kigo-20.03.80.tar.xz">kigo-20.03.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>6c90e15623698e3b6e4980d3099dd01f7502c2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/killbots-20.03.80.tar.xz">killbots-20.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3c8c746ebce7c4088bc73f73e4c404df93db4f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kimagemapeditor-20.03.80.tar.xz">kimagemapeditor-20.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3009ea42e058d572fae288fffb451c097e5682fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kimap-20.03.80.tar.xz">kimap-20.03.80</a></td>
   <td align="right">117kB</td>
   <td><tt>a591200386b1e6ab2c2de53d98198ed43d691958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kio-extras-20.03.80.tar.xz">kio-extras-20.03.80</a></td>
   <td align="right">600kB</td>
   <td><tt>18c0f376609908718b19eca7db0993064240f633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kipi-plugins-20.03.80.tar.xz">kipi-plugins-20.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>358a24024e951e8f8447f7a08ead18a6ce1078eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kirigami-gallery-20.03.80.tar.xz">kirigami-gallery-20.03.80</a></td>
   <td align="right">274kB</td>
   <td><tt>2d9769d57aa83f4785c7be6771c2ab362f8b00c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kiriki-20.03.80.tar.xz">kiriki-20.03.80</a></td>
   <td align="right">364kB</td>
   <td><tt>310d00e25d4cdb589044dab89dd1d4b8684d3123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kiten-20.03.80.tar.xz">kiten-20.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>1babb17cad7022b60954b4b25cb972cad430c33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kitinerary-20.03.80.tar.xz">kitinerary-20.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>16b2b8a36e1788b72304ecc8d5697053a0cde381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kjumpingcube-20.03.80.tar.xz">kjumpingcube-20.03.80</a></td>
   <td align="right">282kB</td>
   <td><tt>565e152908c9a494be8b347c216d4e611c6a1ac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kldap-20.03.80.tar.xz">kldap-20.03.80</a></td>
   <td align="right">145kB</td>
   <td><tt>ee6cba23201f1df23dbdd1bbea5756e31f718a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kleopatra-20.03.80.tar.xz">kleopatra-20.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d3383862261094c3d8b9d7fb3ecf4291b3dfcce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/klettres-20.03.80.tar.xz">klettres-20.03.80</a></td>
   <td align="right">38MB</td>
   <td><tt>acd3da3bfc2e2b9e9b593f9e4a54f3a4bf8b4180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/klickety-20.03.80.tar.xz">klickety-20.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>91e1e3f702361f477a549e30c21cc7f03cd903be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/klines-20.03.80.tar.xz">klines-20.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c6b7bc1b89e3a7f4c55944e93b368617a9a5b568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmag-20.03.80.tar.xz">kmag-20.03.80</a></td>
   <td align="right">659kB</td>
   <td><tt>486e624825e0ec25e135f930c3b9b6806069e09f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmahjongg-20.03.80.tar.xz">kmahjongg-20.03.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>7fcd173f094adff68e2155f6bfd51d1fcd16dc20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmail-20.03.80.tar.xz">kmail-20.03.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>dd0f5b20bc800c4f004f4df29bb8f2c8dcfcee5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmail-account-wizard-20.03.80.tar.xz">kmail-account-wizard-20.03.80</a></td>
   <td align="right">155kB</td>
   <td><tt>f7d3a1497b261937accbc0190840b44530b7a5bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmailtransport-20.03.80.tar.xz">kmailtransport-20.03.80</a></td>
   <td align="right">163kB</td>
   <td><tt>5d0643c562f9c4115c0ba1f8255486ea422251c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmbox-20.03.80.tar.xz">kmbox-20.03.80</a></td>
   <td align="right">23kB</td>
   <td><tt>a2b96b904a8968943038020a16c5471c0c4ee551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmime-20.03.80.tar.xz">kmime-20.03.80</a></td>
   <td align="right">143kB</td>
   <td><tt>77353c9948e90ebaa6f6fec3d60c89a4ea59ead3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmines-20.03.80.tar.xz">kmines-20.03.80</a></td>
   <td align="right">878kB</td>
   <td><tt>8a076381dc9d44dcd4cdd30df4ec83c69cdf783c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmix-20.03.80.tar.xz">kmix-20.03.80</a></td>
   <td align="right">984kB</td>
   <td><tt>8771b122614c112c9586c4bcb10b003d8a8b45ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmousetool-20.03.80.tar.xz">kmousetool-20.03.80</a></td>
   <td align="right">111kB</td>
   <td><tt>5ebaa457925cccbaa325ffbcc203404ad3cee717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmouth-20.03.80.tar.xz">kmouth-20.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cc0a71d939ca119ef549a441f3f4ffbd72864f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kmplot-20.03.80.tar.xz">kmplot-20.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7e51de0d1cce5f769b91a043f08661b777674025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/knavalbattle-20.03.80.tar.xz">knavalbattle-20.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>9ac956d0b06cf6bb47f4526b13af3fea26143447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/knetwalk-20.03.80.tar.xz">knetwalk-20.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c37f9d6b84474cd98b9dc3d76816f2ddfe73d6a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/knights-20.03.80.tar.xz">knights-20.03.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>b9d0104b5ede7a86d842e035e08fb56440a15620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/knotes-20.03.80.tar.xz">knotes-20.03.80</a></td>
   <td align="right">314kB</td>
   <td><tt>e7c6a91c0924a42cfb64d866c7e8f0c378368c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kolf-20.03.80.tar.xz">kolf-20.03.80</a></td>
   <td align="right">998kB</td>
   <td><tt>96b6167646a3990d7dcaa2c1ee3165a5c84c9f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kollision-20.03.80.tar.xz">kollision-20.03.80</a></td>
   <td align="right">274kB</td>
   <td><tt>17cadbe34a17a613e941d55219bf67476d31fed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kolourpaint-20.03.80.tar.xz">kolourpaint-20.03.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>92b8b27215cc3327dc8029f457f92c396ebcb87e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kompare-20.03.80.tar.xz">kompare-20.03.80</a></td>
   <td align="right">783kB</td>
   <td><tt>056a99a5a57348b1f81dc1f9e62605eb86bc8342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/konqueror-20.03.80.tar.xz">konqueror-20.03.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>fc01dd9c53e7ccbf217f8e8bc3b3b24dd0eeff55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/konquest-20.03.80.tar.xz">konquest-20.03.80</a></td>
   <td align="right">643kB</td>
   <td><tt>0405275e864d5c764590b8bcb3bcc692361175ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/konsole-20.03.80.tar.xz">konsole-20.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ed908c2e35435d2454f85227183700cb32921466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kontact-20.03.80.tar.xz">kontact-20.03.80</a></td>
   <td align="right">778kB</td>
   <td><tt>0d253463f311f453104d34f54761a4b025a10302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kontactinterface-20.03.80.tar.xz">kontactinterface-20.03.80</a></td>
   <td align="right">32kB</td>
   <td><tt>26daf4f0868c00b662098d8db36874d37599069b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kopete-20.03.80.tar.xz">kopete-20.03.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>24a976bc29e8d93c553ba5033c942d112889c4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/korganizer-20.03.80.tar.xz">korganizer-20.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>cc7bce61d507d85f1b4a0f7f9e042274d6760d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kpat-20.03.80.tar.xz">kpat-20.03.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>88ae9c39d88b0b2503ecedeac384a360bd6f71db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kpimtextedit-20.03.80.tar.xz">kpimtextedit-20.03.80</a></td>
   <td align="right">165kB</td>
   <td><tt>e1b9ea3b8b2820c894d734b0b10b4c75727f76f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kpkpass-20.03.80.tar.xz">kpkpass-20.03.80</a></td>
   <td align="right">22kB</td>
   <td><tt>bafcd06d221b06d36ec5419a0880f8e38ded5f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kqtquickcharts-20.03.80.tar.xz">kqtquickcharts-20.03.80</a></td>
   <td align="right">24kB</td>
   <td><tt>e30b3c4beccfeca81d07d4756846ad6ac90c2894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/krdc-20.03.80.tar.xz">krdc-20.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>aae4793f23b22af7d285ea6ded0924b6695c677c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kreversi-20.03.80.tar.xz">kreversi-20.03.80</a></td>
   <td align="right">924kB</td>
   <td><tt>e60ef28e5011f1a4e4caac3e4e70a6e6cdeb539f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/krfb-20.03.80.tar.xz">krfb-20.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>afccf85f2cdb211138d1f17a7073a92d8394623b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kross-interpreters-20.03.80.tar.xz">kross-interpreters-20.03.80</a></td>
   <td align="right">147kB</td>
   <td><tt>852e1e81e905457604a48a9b36f7b58d2ba4cbc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kruler-20.03.80.tar.xz">kruler-20.03.80</a></td>
   <td align="right">245kB</td>
   <td><tt>963e04df49e691bbd0b9f2b83886362c5685be94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kshisen-20.03.80.tar.xz">kshisen-20.03.80</a></td>
   <td align="right">803kB</td>
   <td><tt>6f0a3f9b26d59f1eef540f8df1ba9e0d8c1bfe7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ksirk-20.03.80.tar.xz">ksirk-20.03.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>2110a863880f082eeccbdf01fc60f9233cabe239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ksmtp-20.03.80.tar.xz">ksmtp-20.03.80</a></td>
   <td align="right">40kB</td>
   <td><tt>232f480a649e3227b9a93ff69a24173ef589fef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ksnakeduel-20.03.80.tar.xz">ksnakeduel-20.03.80</a></td>
   <td align="right">591kB</td>
   <td><tt>14cd173ab8fb7cf2e791f10b186b24b7af44ed43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kspaceduel-20.03.80.tar.xz">kspaceduel-20.03.80</a></td>
   <td align="right">597kB</td>
   <td><tt>31fb089b98d4456ca00c9ade6662420d7727968d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ksquares-20.03.80.tar.xz">ksquares-20.03.80</a></td>
   <td align="right">255kB</td>
   <td><tt>356246b5351c37a364b76833875a6f18a4876cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ksudoku-20.03.80.tar.xz">ksudoku-20.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c929b5ad99d8a597cba826993c6cd14df846f9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ksystemlog-20.03.80.tar.xz">ksystemlog-20.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d4b9c0c46dcc284bc91ebc2ddb5ec3cae49b7fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kteatime-20.03.80.tar.xz">kteatime-20.03.80</a></td>
   <td align="right">280kB</td>
   <td><tt>9871da4e201ff2fac8ba9077b4344e905d3846b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktimer-20.03.80.tar.xz">ktimer-20.03.80</a></td>
   <td align="right">368kB</td>
   <td><tt>de075d102347b93c919754fa4d115906dd2f8ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktnef-20.03.80.tar.xz">ktnef-20.03.80</a></td>
   <td align="right">292kB</td>
   <td><tt>2afde26f6de5164bd4a2b076a56daa65bd98aea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktouch-20.03.80.tar.xz">ktouch-20.03.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>976c1985b5911210577a4dbd455a6eb1f830e218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-accounts-kcm-20.03.80.tar.xz">ktp-accounts-kcm-20.03.80</a></td>
   <td align="right">257kB</td>
   <td><tt>e002ab2bb91d7723314ca0026591606dcc7f75b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-approver-20.03.80.tar.xz">ktp-approver-20.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>e542277ed5612138375ab1f5d45d0b350a36409a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-auth-handler-20.03.80.tar.xz">ktp-auth-handler-20.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>296f384a9043e68ee00441b2d269ef9c133e81f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-call-ui-20.03.80.tar.xz">ktp-call-ui-20.03.80</a></td>
   <td align="right">95kB</td>
   <td><tt>c282b2f6b6c88d015776a8a3dfda79939b074568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-common-internals-20.03.80.tar.xz">ktp-common-internals-20.03.80</a></td>
   <td align="right">439kB</td>
   <td><tt>bbebd0619cde46230c1c7a77bd3cc4f8b98b14a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-contact-list-20.03.80.tar.xz">ktp-contact-list-20.03.80</a></td>
   <td align="right">146kB</td>
   <td><tt>61b8269831807873e722bfa458c0d34bb4219045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-contact-runner-20.03.80.tar.xz">ktp-contact-runner-20.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>cbe9befdd0ff2e762f5421ce37efff42f4f95a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-desktop-applets-20.03.80.tar.xz">ktp-desktop-applets-20.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>b11075f63b8bff98ca5bd4fad045d3f095da2695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-filetransfer-handler-20.03.80.tar.xz">ktp-filetransfer-handler-20.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>b2bd42dfb605a65545e7e532b95597744b4c27b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-kded-module-20.03.80.tar.xz">ktp-kded-module-20.03.80</a></td>
   <td align="right">95kB</td>
   <td><tt>621101e5eae7a94847f314f1b3c9d4a189fe48d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-send-file-20.03.80.tar.xz">ktp-send-file-20.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>5394b1dec8769e31c21c6f43e1aa16a6dfc67884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktp-text-ui-20.03.80.tar.xz">ktp-text-ui-20.03.80</a></td>
   <td align="right">458kB</td>
   <td><tt>5ef2b8d994eb01c8b07382dcb3b7b1cf3e21c73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/ktuberling-20.03.80.tar.xz">ktuberling-20.03.80</a></td>
   <td align="right">67MB</td>
   <td><tt>2c00d0fce7704863a18b69cd031302cf57dbaeb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kturtle-20.03.80.tar.xz">kturtle-20.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>656d16ceffa96f540ae38aafdaee75533aad6456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kubrick-20.03.80.tar.xz">kubrick-20.03.80</a></td>
   <td align="right">310kB</td>
   <td><tt>3580688f0212be192ec0b65a0742ac45ae63dd57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kwalletmanager-20.03.80.tar.xz">kwalletmanager-20.03.80</a></td>
   <td align="right">770kB</td>
   <td><tt>f80d1bb9252213c35534a3ad488fd93cafebc2b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kwave-20.03.80.tar.xz">kwave-20.03.80</a></td>
   <td align="right">5.9MB</td>
   <td><tt>0b9d07ea36d84d5fb0a9da02e4a69bfeb528620d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/kwordquiz-20.03.80.tar.xz">kwordquiz-20.03.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>eb89bd8af55a4dddd81bda8cdde00c1981296b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libgravatar-20.03.80.tar.xz">libgravatar-20.03.80</a></td>
   <td align="right">30kB</td>
   <td><tt>292f2660bbbe1e205359bca63cb64481941bfd89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkcddb-20.03.80.tar.xz">libkcddb-20.03.80</a></td>
   <td align="right">415kB</td>
   <td><tt>a72819884316fa85d68af5931c4f16862c0e7a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkcompactdisc-20.03.80.tar.xz">libkcompactdisc-20.03.80</a></td>
   <td align="right">86kB</td>
   <td><tt>c69dbc7b5a2da3748e8f52e92c6188081988c45c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkdcraw-20.03.80.tar.xz">libkdcraw-20.03.80</a></td>
   <td align="right">40kB</td>
   <td><tt>80621d29de9109c7388e567917760b7be4e64f7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkdegames-20.03.80.tar.xz">libkdegames-20.03.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>625b0371bfbdf52da3cd900e7c256d930bef03a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkdepim-20.03.80.tar.xz">libkdepim-20.03.80</a></td>
   <td align="right">326kB</td>
   <td><tt>8ace4466b4a7859948d419110b4c7059da114ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkeduvocdocument-20.03.80.tar.xz">libkeduvocdocument-20.03.80</a></td>
   <td align="right">206kB</td>
   <td><tt>cb764ebc7050d2a8d19ba9f40443f44bb8e95041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkexiv2-20.03.80.tar.xz">libkexiv2-20.03.80</a></td>
   <td align="right">62kB</td>
   <td><tt>9517b9b16bca60120b20dacd320feec0376864d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkgapi-20.03.80.tar.xz">libkgapi-20.03.80</a></td>
   <td align="right">233kB</td>
   <td><tt>b3a42f365d2a509847cb023eb93ed5f6b8c7a42f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkgeomap-20.03.80.tar.xz">libkgeomap-20.03.80</a></td>
   <td align="right">147kB</td>
   <td><tt>ed4f49f2e0fcaf4cedf68a4fd393b09bc708bf48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkipi-20.03.80.tar.xz">libkipi-20.03.80</a></td>
   <td align="right">100kB</td>
   <td><tt>90d3fd61543605689549efaa5ac2ce705e389775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkleo-20.03.80.tar.xz">libkleo-20.03.80</a></td>
   <td align="right">342kB</td>
   <td><tt>8ccb4700f189a66d23f7bec3bb13ea92771c9c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkmahjongg-20.03.80.tar.xz">libkmahjongg-20.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ddbed2870786c07d759b7d7568a273ebbd899f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libkomparediff2-20.03.80.tar.xz">libkomparediff2-20.03.80</a></td>
   <td align="right">169kB</td>
   <td><tt>4eb5a5d3bf6317ee5867a127a41f5b24982a135b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libksane-20.03.80.tar.xz">libksane-20.03.80</a></td>
   <td align="right">139kB</td>
   <td><tt>d2efb92a482c163456e18548fe0ffdfcba0037cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/libksieve-20.03.80.tar.xz">libksieve-20.03.80</a></td>
   <td align="right">542kB</td>
   <td><tt>00a53ef82406814a7d42ca242cd78c47af022971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/lokalize-20.03.80.tar.xz">lokalize-20.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c13f3e1d84ba7ff4ea2d510708b284a50e06e725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/lskat-20.03.80.tar.xz">lskat-20.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5bebcfed17cfea0dba5485f289f0cf456d0b01c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/mailcommon-20.03.80.tar.xz">mailcommon-20.03.80</a></td>
   <td align="right">689kB</td>
   <td><tt>decbb3c44727b73dda9b7328cdcb8147ff51e6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/mailimporter-20.03.80.tar.xz">mailimporter-20.03.80</a></td>
   <td align="right">527kB</td>
   <td><tt>338a4d4325243469c24910a6a0416d4d9927ad56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/marble-20.03.80.tar.xz">marble-20.03.80</a></td>
   <td align="right">50MB</td>
   <td><tt>a9d6d4fda4838e48a89d6e5b5d3d7ef0f97e02dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/mbox-importer-20.03.80.tar.xz">mbox-importer-20.03.80</a></td>
   <td align="right">32kB</td>
   <td><tt>54a1979356c98a13b3f0652ba0296d12ca1c777a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/messagelib-20.03.80.tar.xz">messagelib-20.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>0e2e3f6e6e3a1a53c547b730741d516281236626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/minuet-20.03.80.tar.xz">minuet-20.03.80</a></td>
   <td align="right">26MB</td>
   <td><tt>1206e94a47aaf2dee6f125f6ce7b5eec3c3357df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/okular-20.03.80.tar.xz">okular-20.03.80</a></td>
   <td align="right">6.9MB</td>
   <td><tt>d1fa6cea9481a6746c248d962a2c39dec0f3e9ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/palapeli-20.03.80.tar.xz">palapeli-20.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d7646cde87575fa0bc0f6e749d6eb2d2424c2b40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/parley-20.03.80.tar.xz">parley-20.03.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>bd518b9dd0aa77a6ffabf3720c734b212b3dc434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/picmi-20.03.80.tar.xz">picmi-20.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>643c86f46d2ff9cd32ad17077d7e2c2bc28bcef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/pimcommon-20.03.80.tar.xz">pimcommon-20.03.80</a></td>
   <td align="right">289kB</td>
   <td><tt>8ca94e832b8a3a2fad0adab7fe0d6ea12d3955a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/pim-data-exporter-20.03.80.tar.xz">pim-data-exporter-20.03.80</a></td>
   <td align="right">202kB</td>
   <td><tt>65896c35c22a5662cb77b6da12b743b004716de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/pim-sieve-editor-20.03.80.tar.xz">pim-sieve-editor-20.03.80</a></td>
   <td align="right">442kB</td>
   <td><tt>940e05bb7e7d1d788b2548790929bb84112f17c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/poxml-20.03.80.tar.xz">poxml-20.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>e4b2c782c6d04a6e2eb07232e96c707eda1cc3ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/print-manager-20.03.80.tar.xz">print-manager-20.03.80</a></td>
   <td align="right">248kB</td>
   <td><tt>b4ddcd709853852998b2629d27b3b532ba9e9c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/rocs-20.03.80.tar.xz">rocs-20.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>13932a4167e3944e043122747d565d8f9895a6fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/signon-kwallet-extension-20.03.80.tar.xz">signon-kwallet-extension-20.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>4a98d20e8d7d85d51f1938890a3d472ba22eafbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/spectacle-20.03.80.tar.xz">spectacle-20.03.80</a></td>
   <td align="right">645kB</td>
   <td><tt>fab59bc7cb950a205810ff2ebd57e5db617ada7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/step-20.03.80.tar.xz">step-20.03.80</a></td>
   <td align="right">895kB</td>
   <td><tt>6d8cbcdc19b2fc1fec380af70c5da0d07d7a8001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/svgpart-20.03.80.tar.xz">svgpart-20.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>11d30aaf4dc14188dead650f797f989c86193d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/sweeper-20.03.80.tar.xz">sweeper-20.03.80</a></td>
   <td align="right">360kB</td>
   <td><tt>ef4ab1fdb5976c06900209ec564c10c7f644044f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/umbrello-20.03.80.tar.xz">umbrello-20.03.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>db5866bcbd5b890245e7f7457874aa08a3602b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/yakuake-20.03.80.tar.xz">yakuake-20.03.80</a></td>
   <td align="right">367kB</td>
   <td><tt>960239c37991aa7c517e4545acb8fc1c9a430290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.80/src/zeroconf-ioslave-20.03.80.tar.xz">zeroconf-ioslave-20.03.80</a></td>
   <td align="right">41kB</td>
   <td><tt>8d62bdcfd9409a07a8b9757c710e24d7a5de2b77</tt></td>
</tr>

</table>
