<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadi-20.04.1.tar.xz">akonadi-20.04.1</a></td>
   <td align="right">1547kB</td>
   <td><tt>e114c7b633b88c4f209f60702311779e3df27ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadi-calendar-20.04.1.tar.xz">akonadi-calendar-20.04.1</a></td>
   <td align="right">323kB</td>
   <td><tt>4fc45fe0358294fbb8d117e5baf1f9fdf55c23b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadi-calendar-tools-20.04.1.tar.xz">akonadi-calendar-tools-20.04.1</a></td>
   <td align="right">219kB</td>
   <td><tt>eb4657bd97393a250d7b0184d301cea6ed994b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadiconsole-20.04.1.tar.xz">akonadiconsole-20.04.1</a></td>
   <td align="right">189kB</td>
   <td><tt>3c27672aa938a25b308d9813596b6c6e284839dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadi-contacts-20.04.1.tar.xz">akonadi-contacts-20.04.1</a></td>
   <td align="right">384kB</td>
   <td><tt>e81dd1dc944f6ec3c070c7021df5c724b88a2ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadi-import-wizard-20.04.1.tar.xz">akonadi-import-wizard-20.04.1</a></td>
   <td align="right">428kB</td>
   <td><tt>f30881bfb1032e41ea4d3da975a63695d06654af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadi-mime-20.04.1.tar.xz">akonadi-mime-20.04.1</a></td>
   <td align="right">128kB</td>
   <td><tt>22e81ca457b3cd762473ee7532901758de0c9501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadi-notes-20.04.1.tar.xz">akonadi-notes-20.04.1</a></td>
   <td align="right">23kB</td>
   <td><tt>acba2b5b3b48cadd54c95e6758658d27b64e9111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akonadi-search-20.04.1.tar.xz">akonadi-search-20.04.1</a></td>
   <td align="right">81kB</td>
   <td><tt>7141e30c8193ec90870ccc2f04b390ebf4b92b6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/akregator-20.04.1.tar.xz">akregator-20.04.1</a></td>
   <td align="right">2145kB</td>
   <td><tt>7bd0b766ab54883a5d1b3138ef96ff3d6b2d6475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/analitza-20.04.1.tar.xz">analitza-20.04.1</a></td>
   <td align="right">325kB</td>
   <td><tt>62a91d5421fbbd4e3fc620bde669b143190e828a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ark-20.04.1.tar.xz">ark-20.04.1</a></td>
   <td align="right">2526kB</td>
   <td><tt>8749d72169443e38514a64a850aad1f88f616422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/artikulate-20.04.1.tar.xz">artikulate-20.04.1</a></td>
   <td align="right">1052kB</td>
   <td><tt>70336ea50415df7074dad608ff4c28db81d33c19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/audiocd-kio-20.04.1.tar.xz">audiocd-kio-20.04.1</a></td>
   <td align="right">350kB</td>
   <td><tt>c14b6a41ece24440d54db0fb3f8d50727e193d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/baloo-widgets-20.04.1.tar.xz">baloo-widgets-20.04.1</a></td>
   <td align="right">255kB</td>
   <td><tt>e8518300172357f89a853062e9cc4de137c45aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/blinken-20.04.1.tar.xz">blinken-20.04.1</a></td>
   <td align="right">2755kB</td>
   <td><tt>6367617dfa1ee124fd7ad9303ab47af026b21249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/bomber-20.04.1.tar.xz">bomber-20.04.1</a></td>
   <td align="right">801kB</td>
   <td><tt>4cf6b0cf8cdb5dd945af1ecfaa5c5c846592b1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/bovo-20.04.1.tar.xz">bovo-20.04.1</a></td>
   <td align="right">195kB</td>
   <td><tt>8a9c779ebab16801ddef2da24003319d9fda5edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/calendarsupport-20.04.1.tar.xz">calendarsupport-20.04.1</a></td>
   <td align="right">636kB</td>
   <td><tt>6e229cd1cdd3cb02cf1b1ea1ef0f153c4feee7da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/cantor-20.04.1.tar.xz">cantor-20.04.1</a></td>
   <td align="right">8814kB</td>
   <td><tt>2311d6b0f5cda341daf67bb7513994134e812ac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/cervisia-20.04.1.tar.xz">cervisia-20.04.1</a></td>
   <td align="right">1852kB</td>
   <td><tt>1bc2d5e0c04de773c2431406fa9e43935ee23fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/dolphin-20.04.1.tar.xz">dolphin-20.04.1</a></td>
   <td align="right">4686kB</td>
   <td><tt>0ba1cbf308f19ccfea2c215f2634314c076fd3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/dolphin-plugins-20.04.1.tar.xz">dolphin-plugins-20.04.1</a></td>
   <td align="right">205kB</td>
   <td><tt>25c24bbd8adf65ead6c659b00c0276a6405123f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/dragon-20.04.1.tar.xz">dragon-20.04.1</a></td>
   <td align="right">1320kB</td>
   <td><tt>f3ffb8f450f5ff45b7ac448884a05744f4e9988b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/elisa-20.04.1.tar.xz">elisa-20.04.1</a></td>
   <td align="right">1374kB</td>
   <td><tt>42a93c8fd0df01427b5315c36a3046095e4dd4e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/eventviews-20.04.1.tar.xz">eventviews-20.04.1</a></td>
   <td align="right">433kB</td>
   <td><tt>7ea98d31fa00dd01edbe409e3356027d4f3e1847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ffmpegthumbs-20.04.1.tar.xz">ffmpegthumbs-20.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>2c6655a39f75332b39abe2d39900a97cec66f702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/filelight-20.04.1.tar.xz">filelight-20.04.1</a></td>
   <td align="right">646kB</td>
   <td><tt>e779f1c979bcac1887d1392202943d20c218fd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/granatier-20.04.1.tar.xz">granatier-20.04.1</a></td>
   <td align="right">1899kB</td>
   <td><tt>e8ca780911dede962698cc15197ec19beb271448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/grantlee-editor-20.04.1.tar.xz">grantlee-editor-20.04.1</a></td>
   <td align="right">108kB</td>
   <td><tt>c7dbfe6cf08cf0663737af7a9f7128aa495032c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/grantleetheme-20.04.1.tar.xz">grantleetheme-20.04.1</a></td>
   <td align="right">53kB</td>
   <td><tt>e3227bb6aa64752aebd5e79edfc575e729f1d94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/gwenview-20.04.1.tar.xz">gwenview-20.04.1</a></td>
   <td align="right">5606kB</td>
   <td><tt>50eb16f2a35850bda91273295e084231f2f015f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/incidenceeditor-20.04.1.tar.xz">incidenceeditor-20.04.1</a></td>
   <td align="right">537kB</td>
   <td><tt>d8250db5a1e54f2d25d30e304c01905efa7aae1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/juk-20.04.1.tar.xz">juk-20.04.1</a></td>
   <td align="right">1826kB</td>
   <td><tt>a53805239fa3d8391b2e7f10b0742f1e4cf3ced0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/k3b-20.04.1.tar.xz">k3b-20.04.1</a></td>
   <td align="right">10263kB</td>
   <td><tt>0792ec1c33c96dbd27a9bce5c65977fb7c8f83d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kaccounts-integration-20.04.1.tar.xz">kaccounts-integration-20.04.1</a></td>
   <td align="right">64kB</td>
   <td><tt>c30c26d373fe52cc398888698e10e4420d5e4a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kaccounts-providers-20.04.1.tar.xz">kaccounts-providers-20.04.1</a></td>
   <td align="right">34kB</td>
   <td><tt>ccd59f59f2f767eb9ef1cc342896593cc1c94474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kaddressbook-20.04.1.tar.xz">kaddressbook-20.04.1</a></td>
   <td align="right">2370kB</td>
   <td><tt>7755c518e4c67a43edd832337340cb895c60b5a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kajongg-20.04.1.tar.xz">kajongg-20.04.1</a></td>
   <td align="right">4363kB</td>
   <td><tt>30d76964ad05dad5e8e1043f5973f32f3da37a4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kalarm-20.04.1.tar.xz">kalarm-20.04.1</a></td>
   <td align="right">1797kB</td>
   <td><tt>18da7aefab7b66c6acefc5be83d7e380aef40957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kalarmcal-20.04.1.tar.xz">kalarmcal-20.04.1</a></td>
   <td align="right">560kB</td>
   <td><tt>1e7d3b940c6ac59fca03cd507df1b0d5668a66fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kalgebra-20.04.1.tar.xz">kalgebra-20.04.1</a></td>
   <td align="right">1131kB</td>
   <td><tt>fee0fe7c88b524507e1c636aaf85c996e0da4f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kalzium-20.04.1.tar.xz">kalzium-20.04.1</a></td>
   <td align="right">24019kB</td>
   <td><tt>ffd26206c7c16f89dfaa0eb3aef51f4c37b07b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kamera-20.04.1.tar.xz">kamera-20.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>4a0b1542301b352f8743151b5181b4d123caa4ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kamoso-20.04.1.tar.xz">kamoso-20.04.1</a></td>
   <td align="right">197kB</td>
   <td><tt>0adbf475e2e2c9ce209ef32979dbf90de133f1cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kanagram-20.04.1.tar.xz">kanagram-20.04.1</a></td>
   <td align="right">7836kB</td>
   <td><tt>c53a12fad25c34411e5e08cc12b7679dbf278bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kapman-20.04.1.tar.xz">kapman-20.04.1</a></td>
   <td align="right">2466kB</td>
   <td><tt>1847ea49bec1d3f5dadac2040b107bd62cfab279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kapptemplate-20.04.1.tar.xz">kapptemplate-20.04.1</a></td>
   <td align="right">317kB</td>
   <td><tt>c92edb77a6707c932f4ada09ee3898ad64b562a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kate-20.04.1.tar.xz">kate-20.04.1</a></td>
   <td align="right">5690kB</td>
   <td><tt>c70e1ec6ed4fdf47f9be205381e43591765e15ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/katomic-20.04.1.tar.xz">katomic-20.04.1</a></td>
   <td align="right">1390kB</td>
   <td><tt>98fe01a7a265c54c55abcc0f5bcad828d9a75971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kbackup-20.04.1.tar.xz">kbackup-20.04.1</a></td>
   <td align="right">352kB</td>
   <td><tt>88682d6d0671706a68eca4524b2af4d8380d1f79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kblackbox-20.04.1.tar.xz">kblackbox-20.04.1</a></td>
   <td align="right">436kB</td>
   <td><tt>030122c2e88629db64284693ce134f7be9aed2f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kblocks-20.04.1.tar.xz">kblocks-20.04.1</a></td>
   <td align="right">1862kB</td>
   <td><tt>3e7a73121b98f54a8a25ac37c23a258d5566a9cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kblog-20.04.1.tar.xz">kblog-20.04.1</a></td>
   <td align="right">71kB</td>
   <td><tt>882a1bdc863c1efbec590dbec17502c94ef169d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kbounce-20.04.1.tar.xz">kbounce-20.04.1</a></td>
   <td align="right">3385kB</td>
   <td><tt>ccabe1a0172c24c1719e4d2121c8d763d7e0ce6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kbreakout-20.04.1.tar.xz">kbreakout-20.04.1</a></td>
   <td align="right">2226kB</td>
   <td><tt>e97af2937fae545fd9a4d030029fa97eb8ce4495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kbruch-20.04.1.tar.xz">kbruch-20.04.1</a></td>
   <td align="right">5474kB</td>
   <td><tt>b431740d515739e674d5501aab411fa8992a5939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kcachegrind-20.04.1.tar.xz">kcachegrind-20.04.1</a></td>
   <td align="right">791kB</td>
   <td><tt>464e79fffd327538d97e8a78d137e82a2ca46ea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kcalc-20.04.1.tar.xz">kcalc-20.04.1</a></td>
   <td align="right">365kB</td>
   <td><tt>2a46ce69ea31f3e67a1bb17bf11095a615ea5dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kcalutils-20.04.1.tar.xz">kcalutils-20.04.1</a></td>
   <td align="right">313kB</td>
   <td><tt>0ca68dbe63af2c81a177d8660e7f7cd060c447f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kcharselect-20.04.1.tar.xz">kcharselect-20.04.1</a></td>
   <td align="right">327kB</td>
   <td><tt>27f36a61d818668ed0a65fa463c092dfe9f3fe5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kcolorchooser-20.04.1.tar.xz">kcolorchooser-20.04.1</a></td>
   <td align="right">21kB</td>
   <td><tt>8f882b6eda375a60eda3e7bd25a88a477da269ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kcron-20.04.1.tar.xz">kcron-20.04.1</a></td>
   <td align="right">871kB</td>
   <td><tt>773bd4a348014bdf50b507b2fb74b446eca3e28f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdav-20.04.1.tar.xz">kdav-20.04.1</a></td>
   <td align="right">56kB</td>
   <td><tt>d0017ef3cb7ef5522b2e65a5da99f66976441497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdebugsettings-20.04.1.tar.xz">kdebugsettings-20.04.1</a></td>
   <td align="right">63kB</td>
   <td><tt>e4831e2275d67caf7f3366e2f6a047a6a9eb91f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdeconnect-kde-20.04.1.tar.xz">kdeconnect-kde-20.04.1</a></td>
   <td align="right">418kB</td>
   <td><tt>63439138771659422096e3b63e13925e422944b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kde-dev-scripts-20.04.1.tar.xz">kde-dev-scripts-20.04.1</a></td>
   <td align="right">369kB</td>
   <td><tt>db73759a97bb0f8cded0bc532122030800bc1bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kde-dev-utils-20.04.1.tar.xz">kde-dev-utils-20.04.1</a></td>
   <td align="right">62kB</td>
   <td><tt>43f3005dbec5ee7e95dd62e6afa559948688e016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdeedu-data-20.04.1.tar.xz">kdeedu-data-20.04.1</a></td>
   <td align="right">320kB</td>
   <td><tt>e5c8431fa1b70b2ef28dba9d442632a6b1f47370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdegraphics-mobipocket-20.04.1.tar.xz">kdegraphics-mobipocket-20.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>05dde6c9faf799763a1ccc82574db7edec65829d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdegraphics-thumbnailers-20.04.1.tar.xz">kdegraphics-thumbnailers-20.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>6ba2c252513c637a3b724c635740bf8e6a838a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdenetwork-filesharing-20.04.1.tar.xz">kdenetwork-filesharing-20.04.1</a></td>
   <td align="right">312kB</td>
   <td><tt>d94ccb57fc65a559d2ddce33279ff5b85a21dbf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdenlive-20.04.1.tar.xz">kdenlive-20.04.1</a></td>
   <td align="right">11013kB</td>
   <td><tt>cd73203927d186acf194af462488f0d77c906c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdepim-addons-20.04.1.tar.xz">kdepim-addons-20.04.1</a></td>
   <td align="right">2016kB</td>
   <td><tt>328cda1ab1c181638a6741520ae897c6ab2c611b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdepim-apps-libs-20.04.1.tar.xz">kdepim-apps-libs-20.04.1</a></td>
   <td align="right">82kB</td>
   <td><tt>1a3f60b9f74ae0c61df51deaba1400fa9694746a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdepim-runtime-20.04.1.tar.xz">kdepim-runtime-20.04.1</a></td>
   <td align="right">1699kB</td>
   <td><tt>35d2f3fc463c4c0ec09ea48c49614eb9ec279b70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdesdk-kioslaves-20.04.1.tar.xz">kdesdk-kioslaves-20.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>e454537b7a00247e44d43dea64b2276e17eab974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdesdk-thumbnailers-20.04.1.tar.xz">kdesdk-thumbnailers-20.04.1</a></td>
   <td align="right">17kB</td>
   <td><tt>7e36416d3ba97971f0dc6318825e34a508ce32cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdf-20.04.1.tar.xz">kdf-20.04.1</a></td>
   <td align="right">451kB</td>
   <td><tt>bc8f80bc5dca84ebfb810f2981d74cfbd6cbe6ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdialog-20.04.1.tar.xz">kdialog-20.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>019c546763a0c42658142c8d22b25393ec5c655d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kdiamond-20.04.1.tar.xz">kdiamond-20.04.1</a></td>
   <td align="right">4583kB</td>
   <td><tt>31c3ef58bd238e8007f3171281e534b0e6fd90ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/keditbookmarks-20.04.1.tar.xz">keditbookmarks-20.04.1</a></td>
   <td align="right">183kB</td>
   <td><tt>a0791c8917aebfb2d7593eaf90037ab1e0ff36d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kfind-20.04.1.tar.xz">kfind-20.04.1</a></td>
   <td align="right">265kB</td>
   <td><tt>9a8d085801329419c6b892fbed4ff7a5d3de9453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kfloppy-20.04.1.tar.xz">kfloppy-20.04.1</a></td>
   <td align="right">194kB</td>
   <td><tt>7693f6819504adc0059ad31d83ed2e158f661023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kfourinline-20.04.1.tar.xz">kfourinline-20.04.1</a></td>
   <td align="right">625kB</td>
   <td><tt>0c942808e3e72241edcbe4c7fa032739e0ce23f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kgeography-20.04.1.tar.xz">kgeography-20.04.1</a></td>
   <td align="right">10616kB</td>
   <td><tt>21be385461a8875a14938f8718b53e1a44fac380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kget-20.04.1.tar.xz">kget-20.04.1</a></td>
   <td align="right">5116kB</td>
   <td><tt>26cad2cd65a7ef7db0fa21a300ec3e144b503888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kgoldrunner-20.04.1.tar.xz">kgoldrunner-20.04.1</a></td>
   <td align="right">4325kB</td>
   <td><tt>caeb0df29eedb1fdc176e4b7c1bd96e397e1d26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kgpg-20.04.1.tar.xz">kgpg-20.04.1</a></td>
   <td align="right">2725kB</td>
   <td><tt>2da1f3c9336d6e24de0d9be0ee8e38960b8f453c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/khangman-20.04.1.tar.xz">khangman-20.04.1</a></td>
   <td align="right">6944kB</td>
   <td><tt>d526d05a13eaaaf4149037c89196924def9150e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/khelpcenter-20.04.1.tar.xz">khelpcenter-20.04.1</a></td>
   <td align="right">3752kB</td>
   <td><tt>fa509417e936ed6b8fbed802297228a5252c7830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kidentitymanagement-20.04.1.tar.xz">kidentitymanagement-20.04.1</a></td>
   <td align="right">145kB</td>
   <td><tt>c28b05528112d9708a3b7ce73c2fb7472cda791d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kig-20.04.1.tar.xz">kig-20.04.1</a></td>
   <td align="right">3418kB</td>
   <td><tt>0d22c2918b0edf5cd095e2b1d51aed520c1dfcbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kigo-20.04.1.tar.xz">kigo-20.04.1</a></td>
   <td align="right">5104kB</td>
   <td><tt>d46a7131a4d0261cc04427a03ac8a98bbc22490d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/killbots-20.04.1.tar.xz">killbots-20.04.1</a></td>
   <td align="right">1146kB</td>
   <td><tt>98bd459ef90c08153fb6a5f7ef212d5a13a6de96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kimagemapeditor-20.04.1.tar.xz">kimagemapeditor-20.04.1</a></td>
   <td align="right">1046kB</td>
   <td><tt>fbd2782c90e1808546eda7516a21d95d0f1a4607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kimap-20.04.1.tar.xz">kimap-20.04.1</a></td>
   <td align="right">116kB</td>
   <td><tt>130e9e2089b0d50b069c81b0c8ac4185e9d9a652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kio-extras-20.04.1.tar.xz">kio-extras-20.04.1</a></td>
   <td align="right">602kB</td>
   <td><tt>bc55d64706fb929fa6882944d2c931853c8db84c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kipi-plugins-20.04.1.tar.xz">kipi-plugins-20.04.1</a></td>
   <td align="right">1604kB</td>
   <td><tt>294c9e21ddbc373f791ac94d68b512765d6082b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kirigami-gallery-20.04.1.tar.xz">kirigami-gallery-20.04.1</a></td>
   <td align="right">272kB</td>
   <td><tt>f2ed8b8986d1d90cfbe00a597062f73e996b1f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kiriki-20.04.1.tar.xz">kiriki-20.04.1</a></td>
   <td align="right">364kB</td>
   <td><tt>860f5b051080258484b531dd831afd16230d3048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kiten-20.04.1.tar.xz">kiten-20.04.1</a></td>
   <td align="right">11018kB</td>
   <td><tt>c795d31631552ff346ab8fc709c7ce00dec51252</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kitinerary-20.04.1.tar.xz">kitinerary-20.04.1</a></td>
   <td align="right">1249kB</td>
   <td><tt>67bd2f4b84e5d0cf9aad2338e8a782891e4232d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kjumpingcube-20.04.1.tar.xz">kjumpingcube-20.04.1</a></td>
   <td align="right">282kB</td>
   <td><tt>20d3155d3f46f18469cdba70dea6656fe8ef1642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kldap-20.04.1.tar.xz">kldap-20.04.1</a></td>
   <td align="right">145kB</td>
   <td><tt>fd25d5bbd91f891e4cd373bd245094ec7697dab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kleopatra-20.04.1.tar.xz">kleopatra-20.04.1</a></td>
   <td align="right">1890kB</td>
   <td><tt>41d92526b2a36832b6f2e48de0bb4de0209d3fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/klettres-20.04.1.tar.xz">klettres-20.04.1</a></td>
   <td align="right">39196kB</td>
   <td><tt>1c91be0dc6e206f397699621dc4e16912d2b8204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/klickety-20.04.1.tar.xz">klickety-20.04.1</a></td>
   <td align="right">1357kB</td>
   <td><tt>97a27b3ce916469c38389a30ad9151279f1fd1b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/klines-20.04.1.tar.xz">klines-20.04.1</a></td>
   <td align="right">1740kB</td>
   <td><tt>8da4a47b2825721f3acfe078ed27d9ad40a4673e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmag-20.04.1.tar.xz">kmag-20.04.1</a></td>
   <td align="right">658kB</td>
   <td><tt>9155802f04ec28a1a414d7e8cb7f7987ac4872ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmahjongg-20.04.1.tar.xz">kmahjongg-20.04.1</a></td>
   <td align="right">3347kB</td>
   <td><tt>354e81c4b9a8f8a4c449282ae4ce40d5e77b072f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmail-20.04.1.tar.xz">kmail-20.04.1</a></td>
   <td align="right">4610kB</td>
   <td><tt>03971e6a5a37c3fa9661d3ace2df75402894d4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmail-account-wizard-20.04.1.tar.xz">kmail-account-wizard-20.04.1</a></td>
   <td align="right">154kB</td>
   <td><tt>c7c4d92b80e6dff8377babca6e5523c273a14de0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmailtransport-20.04.1.tar.xz">kmailtransport-20.04.1</a></td>
   <td align="right">162kB</td>
   <td><tt>5cfe781fc84f2dac80cb8fe043d58b28429010a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmbox-20.04.1.tar.xz">kmbox-20.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>f557357edf41f6a54bb03477a2bc534c5cd0baff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmime-20.04.1.tar.xz">kmime-20.04.1</a></td>
   <td align="right">144kB</td>
   <td><tt>5aa796495fd20da0c522c898a5a60f89c9c11cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmines-20.04.1.tar.xz">kmines-20.04.1</a></td>
   <td align="right">878kB</td>
   <td><tt>b02f26e88a64c7b3a49e9d7fe81802acf22dfed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmix-20.04.1.tar.xz">kmix-20.04.1</a></td>
   <td align="right">983kB</td>
   <td><tt>c76baa0eb1a6ec33c7eda55c5efe6be7bad9288f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmousetool-20.04.1.tar.xz">kmousetool-20.04.1</a></td>
   <td align="right">111kB</td>
   <td><tt>49504e7ed474f568cd0c29bfc76c41a7194cc6d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmouth-20.04.1.tar.xz">kmouth-20.04.1</a></td>
   <td align="right">1918kB</td>
   <td><tt>d2011501bc85f4274101bf0fbb2a949e8024b630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kmplot-20.04.1.tar.xz">kmplot-20.04.1</a></td>
   <td align="right">2985kB</td>
   <td><tt>11d69fdd01c6f22c385b13de266dc7a66d110f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/knavalbattle-20.04.1.tar.xz">knavalbattle-20.04.1</a></td>
   <td align="right">1252kB</td>
   <td><tt>f2b07725446c283c33c5d801c81046b339ab89df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/knetwalk-20.04.1.tar.xz">knetwalk-20.04.1</a></td>
   <td align="right">1229kB</td>
   <td><tt>8af175af5e07bd8b6d3e44117ecd9dffe87ddcb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/knights-20.04.1.tar.xz">knights-20.04.1</a></td>
   <td align="right">3440kB</td>
   <td><tt>b3ae30d74afe0d4fe708d3a35457a95785893b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/knotes-20.04.1.tar.xz">knotes-20.04.1</a></td>
   <td align="right">313kB</td>
   <td><tt>11929c2559fd1e7382604973264613dde3909860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kolf-20.04.1.tar.xz">kolf-20.04.1</a></td>
   <td align="right">996kB</td>
   <td><tt>2049180554c7830e4332f941e8ed148c652d5145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kollision-20.04.1.tar.xz">kollision-20.04.1</a></td>
   <td align="right">274kB</td>
   <td><tt>cc1c5c7c3e16fde268b10c5f09cde4634158a973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kolourpaint-20.04.1.tar.xz">kolourpaint-20.04.1</a></td>
   <td align="right">5519kB</td>
   <td><tt>15ff683ee44daacc971febd70c1345dc9150e26d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kompare-20.04.1.tar.xz">kompare-20.04.1</a></td>
   <td align="right">783kB</td>
   <td><tt>1420f377d631b2dd9aecc6d96f6f402c89763fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/konqueror-20.04.1.tar.xz">konqueror-20.04.1</a></td>
   <td align="right">7203kB</td>
   <td><tt>0184d647923c05ba0670dc36e286bacb76720d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/konquest-20.04.1.tar.xz">konquest-20.04.1</a></td>
   <td align="right">644kB</td>
   <td><tt>fad3e40e6182583ffe326efc569271a5b896d7a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/konsole-20.04.1.tar.xz">konsole-20.04.1</a></td>
   <td align="right">1138kB</td>
   <td><tt>8ba73f791b283b377536d92f989ac70252bf1912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kontact-20.04.1.tar.xz">kontact-20.04.1</a></td>
   <td align="right">774kB</td>
   <td><tt>b76d0474dbd332eadf839e1cb1a8936575e0c4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kontactinterface-20.04.1.tar.xz">kontactinterface-20.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>bc30d2edcd15e543adb17442048e68ca01c2b9b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kopete-20.04.1.tar.xz">kopete-20.04.1</a></td>
   <td align="right">9152kB</td>
   <td><tt>b95eaf706e6d64f633ae7635f552059bf7ffce2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/korganizer-20.04.1.tar.xz">korganizer-20.04.1</a></td>
   <td align="right">2187kB</td>
   <td><tt>3ab55e38b4805eeff2daffed13c94d2b5754daad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kpat-20.04.1.tar.xz">kpat-20.04.1</a></td>
   <td align="right">3493kB</td>
   <td><tt>530c70de200db51738fb466e814330d8d779087d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kpimtextedit-20.04.1.tar.xz">kpimtextedit-20.04.1</a></td>
   <td align="right">174kB</td>
   <td><tt>33fc354280f836f35b002072777932ac605697d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kpkpass-20.04.1.tar.xz">kpkpass-20.04.1</a></td>
   <td align="right">22kB</td>
   <td><tt>d6f2a7a0016b645282c8623cf7f6b5f26b1e55cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kqtquickcharts-20.04.1.tar.xz">kqtquickcharts-20.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>5deafc45f5275cd6da2aea0727bb08899e064b60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/krdc-20.04.1.tar.xz">krdc-20.04.1</a></td>
   <td align="right">1391kB</td>
   <td><tt>262099d6c7b9a730b415cffc0cefe2b6a1b62ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kreversi-20.04.1.tar.xz">kreversi-20.04.1</a></td>
   <td align="right">924kB</td>
   <td><tt>9834a12b940576aa566eafa483ece898b025f547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/krfb-20.04.1.tar.xz">krfb-20.04.1</a></td>
   <td align="right">1246kB</td>
   <td><tt>aaa6f31210311352de6144af8bb55c3c6aae0708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kross-interpreters-20.04.1.tar.xz">kross-interpreters-20.04.1</a></td>
   <td align="right">147kB</td>
   <td><tt>dd0d43f981cc732ede81e973656e1e1302fd9e5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kruler-20.04.1.tar.xz">kruler-20.04.1</a></td>
   <td align="right">244kB</td>
   <td><tt>ff423231e52b5d04007ec07feb559d1112cb5af3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kshisen-20.04.1.tar.xz">kshisen-20.04.1</a></td>
   <td align="right">802kB</td>
   <td><tt>5c68f512d5cc2e65832c3378a017a78009a9267c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ksirk-20.04.1.tar.xz">ksirk-20.04.1</a></td>
   <td align="right">6824kB</td>
   <td><tt>79a34a3d981f2256e44c740581ba6a5458206df6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ksmtp-20.04.1.tar.xz">ksmtp-20.04.1</a></td>
   <td align="right">40kB</td>
   <td><tt>b9ce2e5e62eab30737514918ec973d601e032d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ksnakeduel-20.04.1.tar.xz">ksnakeduel-20.04.1</a></td>
   <td align="right">591kB</td>
   <td><tt>cf6fd4f3688d0756497d633af1992cf0f6b47426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kspaceduel-20.04.1.tar.xz">kspaceduel-20.04.1</a></td>
   <td align="right">597kB</td>
   <td><tt>d04d7e375516ae3b98bbccd7bcd9da372bf3f8eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ksquares-20.04.1.tar.xz">ksquares-20.04.1</a></td>
   <td align="right">254kB</td>
   <td><tt>62a5be5ec118ba82f7e47d50675d56a1a346e3b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ksudoku-20.04.1.tar.xz">ksudoku-20.04.1</a></td>
   <td align="right">1616kB</td>
   <td><tt>a290a815a48707dde6f46baea9daa3ba2934c0ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ksystemlog-20.04.1.tar.xz">ksystemlog-20.04.1</a></td>
   <td align="right">1884kB</td>
   <td><tt>5544e56bd9b56b0653b233b47ff7cf48adf14a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kteatime-20.04.1.tar.xz">kteatime-20.04.1</a></td>
   <td align="right">280kB</td>
   <td><tt>057cc76f2b7f9100dfc79ce658e02803d6766797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktimer-20.04.1.tar.xz">ktimer-20.04.1</a></td>
   <td align="right">368kB</td>
   <td><tt>fc740499ba4ae9aec06549f15c60f9c8c182c2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktnef-20.04.1.tar.xz">ktnef-20.04.1</a></td>
   <td align="right">292kB</td>
   <td><tt>412ae9a848d7baa8a651c9fb6d1a51a94c0f68fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktouch-20.04.1.tar.xz">ktouch-20.04.1</a></td>
   <td align="right">4821kB</td>
   <td><tt>6bc7ba5a4ef49bd75dfbc8736d9fd893edffa1be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-accounts-kcm-20.04.1.tar.xz">ktp-accounts-kcm-20.04.1</a></td>
   <td align="right">256kB</td>
   <td><tt>10379a3b06b83f3af8241fbf17c5cadaf8107c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-approver-20.04.1.tar.xz">ktp-approver-20.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>cc9bfd14a5811d6d8048b094a5664528314926a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-auth-handler-20.04.1.tar.xz">ktp-auth-handler-20.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>d1271a29a6e6133ad1ee13015af74df9245bdad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-call-ui-20.04.1.tar.xz">ktp-call-ui-20.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>ee2aa2f449175219dfacd710e86189040c0ab093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-common-internals-20.04.1.tar.xz">ktp-common-internals-20.04.1</a></td>
   <td align="right">438kB</td>
   <td><tt>626e4716ce24ad87e9509e749472037124aa368d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-contact-list-20.04.1.tar.xz">ktp-contact-list-20.04.1</a></td>
   <td align="right">145kB</td>
   <td><tt>d509b43a94a5b3cad83e22311cfe8d7716885b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-contact-runner-20.04.1.tar.xz">ktp-contact-runner-20.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>a4a6ca80f480c1ec4c1f910849a91d7b15952b0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-desktop-applets-20.04.1.tar.xz">ktp-desktop-applets-20.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>f5f1e6032ee9ea5627ff0bdb9aacca1af07c98fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-filetransfer-handler-20.04.1.tar.xz">ktp-filetransfer-handler-20.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>3e790ae8055c86dc2c6eaede56cbcf19691fe688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-kded-module-20.04.1.tar.xz">ktp-kded-module-20.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>ad9a35eae1cab7d73500e64fd059b63c670cb713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-send-file-20.04.1.tar.xz">ktp-send-file-20.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>6a25f5dab101944c57459949dcb48b648ce361de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktp-text-ui-20.04.1.tar.xz">ktp-text-ui-20.04.1</a></td>
   <td align="right">458kB</td>
   <td><tt>2d613b62c53b5ae59654d4efbba7cc36a1617039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/ktuberling-20.04.1.tar.xz">ktuberling-20.04.1</a></td>
   <td align="right">69071kB</td>
   <td><tt>94abd8a48cd6ddcd8ea49caa6f84a8159c3ebcd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kturtle-20.04.1.tar.xz">kturtle-20.04.1</a></td>
   <td align="right">1790kB</td>
   <td><tt>d83e8ec91228b8776c0b1c1beb583f42aa4267d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kubrick-20.04.1.tar.xz">kubrick-20.04.1</a></td>
   <td align="right">310kB</td>
   <td><tt>11045621bd93f20e8180ad2cf9f31e0bb9e0ef07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kwalletmanager-20.04.1.tar.xz">kwalletmanager-20.04.1</a></td>
   <td align="right">770kB</td>
   <td><tt>f4a2425a44ff7ff1b1d9a55dbd87105e078a833a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kwave-20.04.1.tar.xz">kwave-20.04.1</a></td>
   <td align="right">6050kB</td>
   <td><tt>c2147b94cef9b34c604aa4c13962d77adf054c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/kwordquiz-20.04.1.tar.xz">kwordquiz-20.04.1</a></td>
   <td align="right">4077kB</td>
   <td><tt>d2dacf3c162f37be96e9b744e3d4da2cfa9b3ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libgravatar-20.04.1.tar.xz">libgravatar-20.04.1</a></td>
   <td align="right">30kB</td>
   <td><tt>c6f0eba474af91b10dbb80b04770cabf2fe8d839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkcddb-20.04.1.tar.xz">libkcddb-20.04.1</a></td>
   <td align="right">417kB</td>
   <td><tt>ae13b407f6d0b6903d6392a40e760abd49842a51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkcompactdisc-20.04.1.tar.xz">libkcompactdisc-20.04.1</a></td>
   <td align="right">86kB</td>
   <td><tt>60edbb0c0eead7111c799441b5de8477b92daa75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkdcraw-20.04.1.tar.xz">libkdcraw-20.04.1</a></td>
   <td align="right">40kB</td>
   <td><tt>af92d8f3720f1c0997825642d1af43d4d733fa0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkdegames-20.04.1.tar.xz">libkdegames-20.04.1</a></td>
   <td align="right">6229kB</td>
   <td><tt>c5bbe603c89f83e061c3b3856b32d9c8ed6f0980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkdepim-20.04.1.tar.xz">libkdepim-20.04.1</a></td>
   <td align="right">326kB</td>
   <td><tt>ef66113e2cc9644e7984d8c3f0a15462032a9599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkeduvocdocument-20.04.1.tar.xz">libkeduvocdocument-20.04.1</a></td>
   <td align="right">201kB</td>
   <td><tt>7da81c45c0939d04e59aea838fb737fc98d855e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkexiv2-20.04.1.tar.xz">libkexiv2-20.04.1</a></td>
   <td align="right">63kB</td>
   <td><tt>2597bec47879b3598433de2b1e1ecedaea442d61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkgapi-20.04.1.tar.xz">libkgapi-20.04.1</a></td>
   <td align="right">234kB</td>
   <td><tt>4463561bd94148200b5e26055c34059cb04a5428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkgeomap-20.04.1.tar.xz">libkgeomap-20.04.1</a></td>
   <td align="right">147kB</td>
   <td><tt>ce4279758d5ed88545d6bf1e4346501bbb194efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkipi-20.04.1.tar.xz">libkipi-20.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>f6a40e5054d434578aaf632d98560b6f2f78989a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkleo-20.04.1.tar.xz">libkleo-20.04.1</a></td>
   <td align="right">343kB</td>
   <td><tt>77bd4aacbfa42f2eddd77d46d99d412cb565c94a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkmahjongg-20.04.1.tar.xz">libkmahjongg-20.04.1</a></td>
   <td align="right">1645kB</td>
   <td><tt>e2a7064c33f603c73b79f40eb48afb1cdd1bec51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libkomparediff2-20.04.1.tar.xz">libkomparediff2-20.04.1</a></td>
   <td align="right">166kB</td>
   <td><tt>4c080387833f246fc260e77180c6c7be887cda61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libksane-20.04.1.tar.xz">libksane-20.04.1</a></td>
   <td align="right">140kB</td>
   <td><tt>03f092c18ccc6d866b15c1e5442ae9786d14a91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/libksieve-20.04.1.tar.xz">libksieve-20.04.1</a></td>
   <td align="right">541kB</td>
   <td><tt>e0b9d3feb06d792367c19a4a4006034b3ff840ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/lokalize-20.04.1.tar.xz">lokalize-20.04.1</a></td>
   <td align="right">1677kB</td>
   <td><tt>50e372a73a90f4a9ae4be1391643edff9bd83087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/lskat-20.04.1.tar.xz">lskat-20.04.1</a></td>
   <td align="right">1191kB</td>
   <td><tt>387b755a028dacfaa1d31497680b5f9682e62c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/mailcommon-20.04.1.tar.xz">mailcommon-20.04.1</a></td>
   <td align="right">690kB</td>
   <td><tt>191b63d077d119c9da975ad4ea974454cee872ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/mailimporter-20.04.1.tar.xz">mailimporter-20.04.1</a></td>
   <td align="right">527kB</td>
   <td><tt>e92c18805c6a96e81d3293a1ae6dcea629366d86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/marble-20.04.1.tar.xz">marble-20.04.1</a></td>
   <td align="right">50974kB</td>
   <td><tt>1501384faed46a7cec18e32991b6be3f5e7e3812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/mbox-importer-20.04.1.tar.xz">mbox-importer-20.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>962064c9c4db79915a9a01b9d40da21d68eb328c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/messagelib-20.04.1.tar.xz">messagelib-20.04.1</a></td>
   <td align="right">10237kB</td>
   <td><tt>b6bb854b5fa021278860febca388ab4976717e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/minuet-20.04.1.tar.xz">minuet-20.04.1</a></td>
   <td align="right">26952kB</td>
   <td><tt>3e4794b3a06f0cc990d46e04ce82cdb6351cacc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/okular-20.04.1.tar.xz">okular-20.04.1</a></td>
   <td align="right">7066kB</td>
   <td><tt>2ae88cab0028614d308496eb4f3eacfedefa7f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/palapeli-20.04.1.tar.xz">palapeli-20.04.1</a></td>
   <td align="right">2023kB</td>
   <td><tt>b4f92a4a0365723e30159644f74a1d42033ec070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/parley-20.04.1.tar.xz">parley-20.04.1</a></td>
   <td align="right">8629kB</td>
   <td><tt>34a9ad59973a0aa72ab27dd579785d16fe6f766b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/picmi-20.04.1.tar.xz">picmi-20.04.1</a></td>
   <td align="right">1328kB</td>
   <td><tt>b3eccc0411d1a4c390893ee6129e51e396530d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/pimcommon-20.04.1.tar.xz">pimcommon-20.04.1</a></td>
   <td align="right">287kB</td>
   <td><tt>2ec19bf97ae9c8842e440ae04cc57fbe8d6a5188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/pim-data-exporter-20.04.1.tar.xz">pim-data-exporter-20.04.1</a></td>
   <td align="right">202kB</td>
   <td><tt>3f9c567b90097d9e21f79669ba8d258bbc868180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/pim-sieve-editor-20.04.1.tar.xz">pim-sieve-editor-20.04.1</a></td>
   <td align="right">442kB</td>
   <td><tt>b69a382b6dda3d8066b9b388161f694aae212e72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/poxml-20.04.1.tar.xz">poxml-20.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>228e5e4c058cb40a2ffa76e88dc7a4d1d663214c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/print-manager-20.04.1.tar.xz">print-manager-20.04.1</a></td>
   <td align="right">249kB</td>
   <td><tt>b50612146fe47a74fea444bb20441f8204b71486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/rocs-20.04.1.tar.xz">rocs-20.04.1</a></td>
   <td align="right">1472kB</td>
   <td><tt>7cf556ff9143bb7c0865cadcb11bacf08791918f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/signon-kwallet-extension-20.04.1.tar.xz">signon-kwallet-extension-20.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>8c2b11fc7b2e14ea533661d5decbbd61e2096446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/spectacle-20.04.1.tar.xz">spectacle-20.04.1</a></td>
   <td align="right">646kB</td>
   <td><tt>56ec88803f44f412b6f89dbbd5917c93d63d6d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/step-20.04.1.tar.xz">step-20.04.1</a></td>
   <td align="right">895kB</td>
   <td><tt>8b24290cc91c46241dffd8a029ca6fa3620800ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/svgpart-20.04.1.tar.xz">svgpart-20.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>ceb10b4816784d1eb8173c3245eb323eee5844bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/sweeper-20.04.1.tar.xz">sweeper-20.04.1</a></td>
   <td align="right">359kB</td>
   <td><tt>6ccec7cc86b2b0334865b0ba7715d2292bba8604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/umbrello-20.04.1.tar.xz">umbrello-20.04.1</a></td>
   <td align="right">4281kB</td>
   <td><tt>1f2e0d22f87d3ff4597ab9212de7a322e63c523a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/yakuake-20.04.1.tar.xz">yakuake-20.04.1</a></td>
   <td align="right">365kB</td>
   <td><tt>3b619e382d73bc7ed24bda4fad85dcf1227151c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.1/src/zeroconf-ioslave-20.04.1.tar.xz">zeroconf-ioslave-20.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>c553e78696010842fdde5379d068e65a60daa54d</tt></td>
</tr>

</table>
